body {
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
 opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
 background: rgba(0,0,0,0.5);
}

.btn-float{
    text-align: center;
    position: absolute;
    top: 530px;
    right: 450px;
}
.btn-float a{
    border-radius: 24px !important;
    background-color: rgb(18, 178, 168);
    background-color: #e1c265;
}



/* Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 821px) {  
  body{
    /* 
    background: peru;
    */ 
  }
  .slick-slide{
    height: 60%;
  }
  .btn-float{
    top: 350px !important;
    right: 190px;
  }
  .logo img{
    width: 150px !important;
  }
  .btn-cont{
    visibility: hidden;
  }
}  
/* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {
  html { background: url(img/bg-image-84.jpg) #000 no-repeat center center fixed; }
  body{
    /* 
    background: green;
    */
  }
  #bgvid { display: none;}
  .slick-slide{
    height: 52%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo{
    width: 140px;
  }
  .logo img{
    width: auto;
  }
  .btn-float{
    top: 320px !important;
    right: 130px;
  }
  .btn-cont{
    visibility: hidden;
  }
}
  
/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
  body{
    /*
    background: yellow;
    */
  }
  .slick-slide{
    height: 40%;
  }
  .btn-float{
    top: 330px !important;
    right: 100px;
  }
  .logo img{
    width: 130px !important;
  }
}  

/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
  html { background: url(img/bg-image-84.jpg) #000 no-repeat center center fixed; }
  body{
    /*
    background: blue;
    */
  }
  #bgvid { display: none; 
    height: auto;}
  .slick-slide{
    height: 30%;
  }
  .btn-float{
    top: 315px !important;
    right: 90px;
  }
  .btn-float a{
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: center;
  }
  .logo img{
    width: 120px !important;
  }
  /*
  .logo{
    width: 100px;
  }
  .logo img{
    width: auto;
  }
  .header-btn{
    background: blue;
  }
  */
}

/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
  body{
    /*
    background: red;
    */
  }
  .slick-slide{
    height: 20%;
  }
  .btn-float{
    top: 250px !important;
    right: 80px;
  }
  .btn-float a{
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: center;
  }
  .logo img{
    width: 110px !important;
  }
} 