{% load i18n static %}

{% block title %}
{% trans 'ERROR 404' %}
{% endblock %}

{% block header %}
{% endblock %}


{% block container %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Container -->
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <section id="not-found" class="center">
                    <!--h2>500 <i class="fa fa-question-circle"></i></h2-->
                    <!--h2><img src="{%static 'img/annulled-square-face.svg'%}" alt="" width="130px"> 500</h2-->
                    <h2>404 <img src="{%static 'img/annulled-square-face.svg'%}" alt="" width="150px"></h2>
                    <div class="content">
                        <p>{% trans 'LO SENTIMOS MUCHO, recurso no encontrado.' %}</p><br>

                        <a href="{% url 'landing' %}" class="button with-icon margin-top-50 margin-bottom-0 ">
                            <i class="fa fa-arrow-left "></i>{% trans 'Ir al Inicio' %}
                        </a>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
<!-- Container / End -->


{% include 'planwi/components/footers/footer_dark.html' %}
{% endblock %}


