{% load static i18n %}
<!DOCTYPE html>
<html lang="es" >
    <!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="">
        <meta name="keywords" content="Gecko, Django Template">
        <meta name="author" content="Xiberty <info@xiberty.com>">

        {% include "partials/meta_tags.html" %}


        {% block meta %}{% endblock %}

		<!-- begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700", "Nunito Sans:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {sessionStorage.fonts = true;}
            });
		</script>

        <!--end::Page Vendors -->
		<link href="{% static 'dist/vendors/base.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dist/base/styles.bundle.css' %}" rel="stylesheet" type="text/css" />

        <!--end::Base Styles -->
		<link rel="shortcut icon" href="{% static 'dist/ico/favicon.ico' %}" />
        {% block styles %}{% endblock %}
	</head>
	<!-- end::Head -->

    <body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid  m-error-6" style="background-image: url({% static 'dist/media/img/error.jpg' %});">
				<div class="m-error_container">
					<div class="m-error_subtitle m--font-light">
						<h1 style="line-height: 8rem;">
                            {% block error_title %}{% endblock %}
						</h1>
					</div>
					<p class="m-error_description m--font-light">
                        {% block error_description %}{% endblock %}
					</p>
				</div>
			</div>
		</div>


    	<script src="{% static 'dist/vendors/base.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'dist/base/scripts.bundle.js' %}" type="text/javascript"></script>

	</body>

</html>



