{% extends "admin/base.html" %}

{% block title %}{{ title }} | Gecko{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Gecko</a></h1>
{% endblock %}

{% block nav-global %}Gecko{% endblock %}