{% load static i18n %}

<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
    <li class="m-nav__separator m-nav__separator--fit"></li>
    <li class="m-nav__section">
        <span class="m-nav__section-text">
            {% trans 'Secciones' %}
        </span>
    </li>
    <li class="m-nav__item">
        <a href="#" class="m-nav__link">
            <i class="m-nav__link-icon flaticon-profile-1"></i>
            <span class="m-nav__link-title">
                <span class="m-nav__link-wrap">
                    <span class="m-nav__link-text">
                        {% trans 'Mi Perfil' %}
                    </span>
                </span>
            </span>
        </a>
    </li>
    <li class="m-nav__item">
        <a href="#" class="m-nav__link">
            <i class="m-nav__link-icon flaticon-share"></i>
            <span class="m-nav__link-title">
                <span class="m-nav__link-wrap">
                    <span class="m-nav__link-text">
                        {% trans 'Actividad' %}
                    </span>
                    <span class="m-nav__link-badge">
                        <span class="m-badge m-badge--success">
                            2
                        </span>
                    </span>
                </span>
            </span>
        </a>
    </li>

    <li class="m-nav__item">
        <a href="#" class="m-nav__link">
            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
            <span class="m-nav__link-text">
                {% trans 'Soporte' %}
            </span>
        </a>
    </li>
</ul>
<div class="m-portlet__body-separator"></div>
<div class="m-widget1 m-widget1--paddingless">
    <div class="m-widget1__item">
        <div class="row m-row--no-padding align-items-center">
            <div class="col">
                <h3 class="m-widget1__title">
                    {% trans 'Nuevos Usuarios' %}
                </h3>
                <span class="m-widget1__desc">
                    {% trans 'Promedio semanal' %}
                </span>
            </div>
            <div class="col m--align-right">
                <span class="m-widget1__number m--font-brand">
                    0
                </span>
            </div>
        </div>
    </div>
    <div class="m-widget1__item">
        <div class="row m-row--no-padding align-items-center">
            <div class="col">
                <h3 class="m-widget1__title">
                    {% trans 'Incidencias' %}
                </h3>
                <span class="m-widget1__desc">
                    {% trans 'Insidencias y errores del sistema' %}
                </span>
            </div>
            <div class="col m--align-right">
                <span class="m-widget1__number m--font-success">
                    0
                </span>
            </div>
        </div>
    </div>
</div>