{% extends "admin/layouts/base_dash.html" %}
{% load static i18n compress user_tags account socialaccount %}

{% block title %}{% trans 'Mi Perfil' %}{% endblock %}
{% block subheader %}{% endblock %}
{% block content %}

    <div class="row" id="profile">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height  ">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            {% trans 'Tu Perfil' %}
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                {% verbatim %}
                                <img v-if="!!user.photo" :src="user.photo"/>
                                {% endverbatim %}
                                <img v-else src="{% static '/dist/media/users/anon.png' %}"
                                     alt="{{ user.full_name }}"/>

                            </div>
                        </div>
                        <div class="m-card-profile__details">
                            {% verbatim %}
                            <span class="m-card-profile__name">
                                {{ user.first_name }} {{ user.last_name }}
                            </span>
                            <a href="" class="m-card-profile__email m-link">
                                {{ user.email }}
                            </a>
                            {% endverbatim %}
                        </div>
                        <br>

                        <div class="m-card-profile__details">


                            {% if form.accounts %}
                                <p>{% blocktrans %}You can sign in to your account using any of the following third
                                    party accounts:{% endblocktrans %}</p>

                                <form method="post" action="{% url 'socialaccount_connections' %}">
                                    {% csrf_token %}

                                    <fieldset>
                                        {% if form.non_field_errors %}
                                            <div id="errorMsg">{{ form.non_field_errors }}</div>
                                        {% endif %}


                                        {% for base_account in form.accounts %}
                                            {% with base_account.get_provider_account as account %}
                                                <div>
                                                    <label for="id_account_{{ base_account.id }}">
                                                        <input id="id_account_{{ base_account.id }}" type="radio"
                                                               name="account"
                                                               value="{{ base_account.id }}"/>
                                                        <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{ account.get_brand.name }}</span>
                                                        {{ account }}
                                                    </label>
                                                </div>
                                            {% endwith %}
                                        {% endfor %}

                                        <div>
                                            <button type="submit">{% trans 'Remove' %}</button>
                                        </div>

                                    </fieldset>

                                </form>

                            {% else %}
                                <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
                            {% endif %}




                            {% get_providers as socialaccount_providers %}




{#                            opción alternativa#}

                            {% providers_media_js %}
                            <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>



                            {% for provider in socialaccount_providers %}
                                {% if provider.id == "openid" %}
                                    {% for brand in provider.get_brands %}

                                        <li>
                                            <a title="{{ brand.name }}"
                                               class="socialaccount_provider {{ provider.id }} {{ brand.id }}"
                                               href="{% provider_login_url provider.id openid=brand.openid_url process='connect' %}"
                                            >{{ brand.name }}</a>
                                        </li>

                                    {% endfor %}
                                {% endif %}

                                <li>

                                    <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}"
                                       href="{% provider_login_url provider.id scope=scope auth_params=auth_params %}callback/">
                                        {% trans 'Enlazar cuenta de' %} {{ provider.name }}
                                        {#                                        href="{% provider_login_url provider.id process='connect' scope=scope auth_params=auth_params %}">#}
                                        {#                                        {% trans 'Enlazar cuenta de' %} {{ provider.name }}#}
                                    </a>
                                </li>

                            {% endfor %}
                        </div>

                    </div>

                    <!-- BEGIN: User menu -->
                    {% include "admin/partials/profile_user_menu.html" %}
                    <!-- END: User menu -->
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    {% trans 'Actualizar Perfil' %}
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                    {% trans 'Mensajes' %}
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                    {% trans 'Configuración' %}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- BEGIN: Profile Quick actions -->
{#                    {% include "admin/partials/profile_quick_actions.html" %}#}
                    <!-- END: Profile Quick actions -->

                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            {% csrf_token %}

                            <div class="m-portlet__body">

                                <div class="form-group m-form__group row">

                                    <div class="col-10 ml-auto">

                                        <h3 class="m-form__section">
                                            1. {% trans 'Información Personal' %}
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="id_first_name" class="col-3 col-form-label">
                                        {% trans 'Nombres' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_first_name" class="form-control m-input" type="text"
                                               v-model="user.first_name">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="id_last_name" class="col-3 col-form-label">
                                        {% trans 'Apellidos' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_last_name" class="form-control m-input" type="text"
                                               v-model="user.last_name">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-3 col-form-label">
                                        {% trans 'Fotografía' %}
                                    </label>
                                    <div class="col-6">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile"
                                                   ref="photoFile">
                                            <label class="custom-file-label" for="customFile">
                                                {% trans 'Escoger imágen' %}
                                            </label>
                                        </div>
                                        <span class="m-form__help">
                                            {% blocktrans %}
                                                Esta imagen debe ser en formato <b>png</b> de tamaño <b>cuadrado</b>
                                            {% endblocktrans %}
                                        </span>
                                    </div>
                                </div>
                                <br> {# Salto de linea para los botones de accion #}
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <button class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                                @click.prevent="updateProfile">
                                            {% trans 'Guardar cambios' %}
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-secondary m-btn m-btn--air m-btn--custom"
                                                @click.prevent="">
                                            {% trans 'Cancelar' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"
                                 v-if="user.has_usable_password"></div>
                        </form>


                        <!-- ESTABLECER CONTRASEÑA -->
                        <div class="alert alert-warning" style="border-radius: 0;" v-if="!user.has_usable_password">
                            {% blocktrans %}
                                Hasta que configures tu <b>contraseña</b>, no podras actualizar tu
                                <b>correo electrónico</b>.
                            {% endblocktrans %}
                        </div>
                        <form class="m-form m-form--fit m-form--label-align-right" v-if="!user.has_usable_password">
                            <div class="m-portlet__body">

                                <div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">
                                            2. {% trans 'Establecer Contraseña' %}
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row"
                                     v-bind:class="{'has-danger': !!setPasswordData.password.error}">
                                    <label for="id_set_password" class="col-3 col-form-label">
                                        {% trans 'Contraseña' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_set_password" class="form-control m-input" type="password"
                                               v-model="setPasswordData.password.value" required>
                                        <div class="form-control-feedback" v-if="setPasswordData.password.error">
                                            {% verbatim %}{{ setPasswordData.password.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row"
                                     v-bind:class="{'has-danger': !!setPasswordData.confirm_password.error}">
                                    <label for="id_confirm_set_password" class="col-3 col-form-label">
                                        {% trans 'Confirmar Contraseña' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_confirm_set_password" class="form-control m-input" type="password"
                                               v-model="setPasswordData.confirm_password.value" required>

                                        <div class="form-control-feedback"
                                             v-if="setPasswordData.confirm_password.error">
                                            {% verbatim %}{{ setPasswordData.confirm_password.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>

                                <br> {# Salto de linea para los botones de accion #}
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <button class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                                @click.prevent="setPassword">
                                            {% trans 'Establecer contraseña' %}
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-secondary m-btn m-btn--air m-btn--custom"
                                                @click.prevent="clearSetPasswordData();">
                                            {% trans 'Cancelar' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- ACTUALIZAR CONTRASEÑA -->
                        <form class="m-form m-form--fit m-form--label-align-right" v-if="user.has_usable_password">
                            <div class="m-portlet__body">

                                <div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">
                                            2. {% trans 'Actualizar Contraseña' %}
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row" v-bind:class="{'has-danger': !!passwordData.oldpassword.error}">
                                    <label for="id_password" class="col-3 col-form-label">
                                        {% trans 'Contraseña actual' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_password" class="form-control m-input" type="password"
                                               v-model="passwordData.oldpassword.value">

                                        <div class="form-control-feedback" v-if="passwordData.oldpassword.error">
                                            {% verbatim %}{{ passwordData.oldpassword.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row" v-bind:class="{'has-danger': !!passwordData.password1.error}">
                                    <label for="id_new_password" class="col-3 col-form-label">
                                        {% trans 'Nueva Contraseña' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_new_password" class="form-control m-input" type="password"
                                               v-model="passwordData.password1.value">

                                        <div class="form-control-feedback" v-if="passwordData.password1.error">
                                            {% verbatim %}{{ passwordData.password1.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row" v-bind:class="{'has-danger': !!passwordData.password2.error}">
                                    <label for="id_confirm_password" class="col-3 col-form-label">
                                        {% trans 'Confirmar Contraseña' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_confirm_password" class="form-control m-input" type="password"
                                               v-model="passwordData.password2.value">

                                        <div class="form-control-feedback" v-if="passwordData.password2.error">
                                            {% verbatim %}{{ passwordData.password2.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>

                                <br> {# Salto de linea para los botones de accion #}
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <button class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                                @click.prevent="updatePassword">
                                            {% trans 'Cambiar contraseña' %}
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-secondary m-btn m-btn--air m-btn--custom"
                                                @click.prevent="clearPasswordData();">
                                            {% trans 'Cancelar' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                        </form>

                        <!-- ACTUALIZAR CORREO ELECTRONICO -->
                        <form class="m-form m-form--fit m-form--label-align-right" v-if="user.has_usable_password">
                            <div class="m-portlet__body">

                                <div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">
                                            3. {% trans 'Actualizar correo electrónico' %}
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="id_first_name" class="col-10 text-center text-muted">
                                        {% trans 'Correo actual' %}:
                                        {% verbatim %}<b>{{ user.email }}</b>{% endverbatim %}
                                    </label>
                                </div>
                                <div class="form-group m-form__group row"
                                     v-bind:class="{'has-danger': !!emailData.password.error}">
                                    <label for="id_email_password" class="col-3 col-form-label">
                                        {% trans 'Contraseña' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_email_password" class="form-control m-input" type="password"
                                               v-model="emailData.password.value">

                                        <div class="form-control-feedback" v-if="emailData.password.error">
                                            {% verbatim %}{{ emailData.password.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row"
                                     v-bind:class="{'has-danger': !!emailData.new_email.error}">
                                    <label for="id_new_email" class="col-3 col-form-label">
                                        {% trans 'Nuevo Correo electrónico' %}
                                    </label>
                                    <div class="col-6">
                                        <input id="id_new_email" class="form-control m-input" type="text"
                                               v-model="emailData.new_email.value">

                                        <div class="form-control-feedback" v-if="emailData.new_email.error">
                                            {% verbatim %}{{ emailData.new_email.error }}{% endverbatim %}
                                        </div>
                                    </div>
                                </div>

                                <br> {# Salto de linea para los botones de accion #}
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <button class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                                @click.prevent="updateEmail">
                                            {% trans 'Cambiar correo electrónico' %}
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-secondary m-btn m-btn--air m-btn--custom"
                                                @click.prevent="clearEmailData();">
                                            {% trans 'Cancelar' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br><br>

                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_2">
                        <label class="col-5 col-form-label">
                            {% trans 'Mensajes' %}
                        </label>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_3">
                        <label class="col-5 col-form-label">
                            {% trans 'Configuración' %}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {% compress js %}

        <script src="{% static 'dist/app/vue.bundle.js' %}"></script>
        <script>

            var USER = dictToJSON("{{ user_json }}");
            var BASE_API_URL = "{{ project_domain }}" + "/api/v1/";

        </script>
        <script src="{% static 'dist/app/profile.bundle.js' %}"></script>

    {% endcompress %}
{% endblock %}