{% load i18n static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Municipio SEA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'reyes/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'reyes/img/icon.png' %}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'reyes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'reyes/css/plugins.css' %}">

    <!-- Style Css -->
    <link rel="stylesheet" href="{% static 'reyes/style.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'reyes/css/custom.css' %}">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">

        <!-- Header -->
        <header class="header header-1 header--static header-charity clearfix">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="cuscol">
                        <div class="logo">
                            <a href="#">
                                <img src="img/charity/logo/logosea.svg" alt="logo" width="294" height="104">
                            </a>
                        </div>
                    </div>
                    <div class="cuscol d-flex align-items-center">
                        <nav class="mainmenu_nav with-mega-menu forall-element-page d-none d-lg-block">
                            <ul class="mainmenu">
                                <li>
                                    <a href="#">CONÓCENOS</a>
                                </li>
                                
                              <li class="drop withdropdown">
                                    <a href="#">PÁGINAS RELACIONADAS</a>
                                    <!-- Start Mega Menu -->
                                    <div class="mega-menu dropdown">

                                        <ul class="item">
                                            <li><a href="http://sea.gob.bo/">Página web institucional</a></li>
                                            
                                        </ul>

                                        <ul class="item">
                                            <li><a href="https://www.facebook.com/SEAutonomias/">Nuestras redes</a></li>
                                          
                                        </ul>

                                    </div>
                                    <!-- End Mega Menu -->
                                </li>

                            </ul>
                        </nav>
                        <div class="header-btn text-right">
                            <a class="cln-btn btn-transparent btn-radious--24" href="#">CONTÁCTANOS</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li><a href="#">Home</a></li>
                                <li>
                                    <a href="#">Ready Pages</a>
                                    <ul>
                                        <li><a href="index-cleaning-service.html">Cleaning Service</a></li>
                                        <li><a href="index-agency.html">Creative Agency</a></li>
                                        <li><a href="index-education.html">Education</a></li>
                                        <li><a href="index-construction.html">Construction</a></li>
                                        <li><a href="index-gardening.html">Gardening</a></li>
                                        <li><a href="index-event.html">Event</a></li>
                                        <li><a href="index-medical.html">Medical</a></li>
                                        <li><a href="index-portfolio.html">Potrtfolio</a></li>
                                        <li><a href="index-corporate.html">Corporate</a></li>
                                        <li><a href="index-repair.html">Repair</a></li>
                                        <li><a href="index-political.html">Political</a></li>
                                        <li><a href="index-travel.html">Traveling</a></li>
                                        <li><a href="index-carpenter.html">Carpenter</a></li>
                                        <li><a href="index-charity.html">Charity</a></li>
                                        <li><a href="index-software.html">Software</a></li>
                                        <li><a href="index-resturant.html">Resturant</a></li>
                                        <li><a href="index-real-estate.html">Real Estate</a></li>
                                        <li><a href="index-hosting.html">Hosting</a></li>
                                        <li><a href="index-beauty-salon.html">Beauty Salon</a></li>
                                        <li><a href="index-body-fitness.html">Body Fitness</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <!--// Header -->

        <!-- Start Slider Area -->
        <div class="ht-mega-slider">
            <div class="ht-mega-slider-activation clr-slide-wrapper">
                <!-- Start Single Slide -->
                <div class="ht-slide slider-style-2 bg_image--84 d-flex align-items-center animation__style--1">
                    <div class="container">
                        <div class="row align-items-center text-left">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="hero-charity content text-center">
                                    <h2> </h2>
                                    <h1></h1>
                                    <p></p>
                                    <div class="slide-btn">
                                        <a class="cln-btn" href="#">MÁS INFORMACIÓN</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide --></div></div>
        <!-- End Slider Area -->

        <!-- Page Conttent -->
        <main class="page-content">

            <!-- Start Countdown Area -->
            <div class="charity-countdown-area bg_image--85 ptb--80">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="ct-count-content">
                                <div class="content">
                                    <h6></h6>
                                    <h2>#MunicipioSEA es una plataforma web didáctica </h2>
                                    <p>Para guiar a técnicos municipales y departamentales en la identificación de experiencias concretas y exitosas sobre desarrollo productivo que, con adaptaciones a la realidad particular de cada territorio, puedan aplicarse en los distintos departamentos y municipios de Bolivia. </p>
                                    <a class="ct-btn" href="#">¡HAZ TU CONSULTA!</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End Countdown Area -->

            <!-- Start Flipbox Style-->
            <div class="section-flipbox section-ptb-120 bg_color--2">
                <div class="container">
                    
                    <div class="row">
                        <!-- Start Single Flipbox -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="square-flip charity-flip">
                                <div class='square'>
                                    <div class="square-container">
                                        <span><img src="img/charity/imangen01.png" longdesc="#"></span>
                                        <h2></h2>
                                    </div>
                                    <div class="flip-overlay"></div>
                                </div>

                                <div class='square2'>
                                    <div class="square-container2">
                                      <h2>Guia sobre el Ejercicio de Competencias en materia de Desarrollo Productivo en los Gobiernos Autónomos</h2>
                                        <p>&nbsp;</p>
                                  </div>
                                    <div class="flip-overlay"></div>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Flipbox -->
                        <!-- Start Single Flipbox -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="square-flip charity-flip">
                                <div class='square'>
                                    <div class="square-container">
                                        <span><img src="img/charity/imangen02.png" longdesc="#"></span>
                                        <h2></h2>
                                    </div>
                                    <div class="flip-overlay"></div>
                                </div>

                                <div class='square2'>
                                    <div class="square-container2">
                                        <span></span>
                                        <h2>Guía práctica de acuerdos y convenios intergubernativos</h2>
                                        <p> </p>
                                    </div>
                                    <div class="flip-overlay"></div>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Flipbox -->
                        <!-- Start Single Flipbox -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="square-flip charity-flip">
                                <div class='square'>
                                    <div class="square-container">
                                        <span><img src="img/charity/imangen03.png" longdesc="#"></span>
                                        <h2></h2>
                                    </div>
                                    <div class="flip-overlay"></div>
                                </div>

                                <div class='square2'>
                                    <div class="square-container2">
                                        <span></span>
                                        <h2>Guía de Costeo de los alcances competenciales del Complejo Productivo de Hortalizas</h2>
                                        <p></p>
                                    </div>
                                    <div class="flip-overlay"></div>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Flipbox -->

                    </div>
                </div>
            </div>
            <!-- End Flipbox Style-->
            
            
        </main>
        <!--// Page Conttent -->


            <!-- Start Image Grid Layout Style-->
            <div class="section-image-grid-layout bg_color--2">

                <div class="container-fluid masonry-activation">
                    <div class="row masonry-wrap popup-gallery">

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-2.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-2.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-3.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-3.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-4.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-4.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-5.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-5.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-6.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-6.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-7.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-7.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-8.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-8.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-9.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-9.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                        <!-- Start Single Image Grid -->
                        <div class="custom-col-5 masonary-item">
                            <div class="single-image-grid image-grid-style-2 gardening-gallery">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/gardening/gallery/gr-gallery-10.jpg" alt="image Gallery">
                                    </a>
                                </div>
                                <div class="image-grid-content">
                                    <div class="hover-action">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="img-popup" href="img/gardening/gallery/gr-gallery-10.jpg"><i
                                                        class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Image Grid -->

                    </div>
                </div>
            </div>
            <!-- End Image Grid Layout Style-->


            <!-- Start Post Carousel Style-->
            <div class="section-post-carousel section-ptb-120 bg_color--2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title--5 text-center">
                                <h2>Herramientas SEA</h2>
                                <p>Descarga guías técnicas presupuestarias para implementar proyectos productivos en tu municipio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt--60 pb--60">
                        <div class="col-lg-12">
                            <div class="post-carousel-wrapper post-carousel-active-4 gardeninig-blog">

                                <!-- Start Single Post -->
                                <div class="post-carousel post-carousel-4">
                                    <div class="post-carousel-flex">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/gardening/post/gr-post-1.jpg" alt="elementor">
                                            </a>
                                        </div>
                                        <div class="ptc-content">
                                            <div class="content">
                                                <h2><a href="https://drive.google.com/file/d/1NxLKphOR7buDRo4TCrkkYE15Ci5vbtKE/view?usp=sharing">Vivero tecnificado</a></h2>
                                                <ul class="meta">
                                                    <li><i class="fa fa-user-circle"></i><a href="#"></a></li>
                                                    <li><i class="fa fa-clock-o"></i></li>
                                                </ul>
                                                <p></p>
                                                <div class="post-btn">
                                                    <a class="readmore-btn" href="https://drive.google.com/file/d/1NxLKphOR7buDRo4TCrkkYE15Ci5vbtKE/view?usp=sharing">TRABAJAR EN LÍNEA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->

                                <!-- Start Single Post -->
                                <div class="post-carousel post-carousel-4">
                                    <div class="post-carousel-flex">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/gardening/post/gr-post-2.jpg" alt="elementor">
                                            </a>
                                        </div>
                                        <div class="ptc-content">
                                            <div class="content">
                                                <h2><a href="https://drive.google.com/file/d/1sU8ZuRe5js44OAhL7LiFwiBoPnRWnS1k/view?usp=sharing">Costeo iseminación artificial.</a></h2>
                                                <ul class="meta">
                                                    <li><i class="fa fa-user-circle"></i><a href="#"></a></li>
                                                    <li><i class="fa fa-clock-o"></i></li>
                                                </ul>
                                                <p></p>
                                                <div class="post-btn">
                                                    <a class="readmore-btn" href="#">TRABAJAR EN LÍNEA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->

                                <!-- Start Single Post -->
                                <div class="post-carousel post-carousel-4">
                                    <div class="post-carousel-flex">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/gardening/post/gr-post-3.jpg" alt="elementor">
                                            </a>
                                        </div>
                                        <div class="ptc-content">
                                            <div class="content">
                                                <h2><a href="https://drive.google.com/file/d/1wcZVfsfsdb5gDOFfR4lZrDLCvLgkd6ms/view?usp=sharing">Feria Nacional de la papa</a></h2>
                                                <ul class="meta">
                                                    <li><i class="fa fa-user-circle"></i><a href="#"></a></li>
                                                    <li><i class="fa fa-clock-o"></i></li>
                                                </ul>
                                                <p></p>
                                                <div class="post-btn">
                                                    <a class="readmore-btn" href="https://drive.google.com/file/d/1wcZVfsfsdb5gDOFfR4lZrDLCvLgkd6ms/view?usp=sharing">TRABAJAR EN LÍNEA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->

                                <!-- Start Single Post -->
                                <div class="post-carousel post-carousel-4">
                                    <div class="post-carousel-flex">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/gardening/post/gr-post-4.jpg" alt="elementor">
                                            </a>
                                        </div>
                                        <div class="ptc-content">
                                            <div class="content">
                                                <h2><a href="https://drive.google.com/file/d/1RCeVlIr4FugdzhkxTQiIkETPBZtzQRij/view?usp=sharing">Costeo de la experiencia de vivero tecnificado</a></h2>
                                                <ul class="meta">
                                                    <li><i class="fa fa-user-circle"></i><a href="#"></a></li>
                                                    <li><i class="fa fa-clock-o"></i></li>
                                                </ul>
                                                <p></p>
                                                <div class="post-btn">
                                                    <a class="readmore-btn" href="https://drive.google.com/file/d/1RCeVlIr4FugdzhkxTQiIkETPBZtzQRij/view?usp=sharing">CONSULTAR EN LÍNEA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->

                                <!-- Start Single Post -->
                                <div class="post-carousel post-carousel-4">
                                    <div class="post-carousel-flex">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/gardening/post/gr-post-5.jpg" alt="elementor">
                                            </a>
                                        </div>
                                        <div class="ptc-content">
                                            <div class="content">
                                                <h2><a href="https://drive.google.com/file/d/1rMYAGgRZq396dhnGZhiCYcGKIuGjZm9K/view?usp=sharing">Costeo de la experiencia de Iseminación Artificial</a></h2>
                                                <ul class="meta">
                                                    <li><i class="fa fa-user-circle"></i><a href="#"></a></li>
                                                    <li><i class="fa fa-clock-o"></i></li>
                                                </ul>
                                                <p></p>
                                                <div class="post-btn">
                                                    <a class="readmore-btn" href="https://drive.google.com/file/d/1rMYAGgRZq396dhnGZhiCYcGKIuGjZm9K/view?usp=sharing">CONSULTAR EN LÍNEA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Post -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Post Carousel  Style-->

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top bg_color--39 ht-footer-2">
                <div class="container">
                    <div class="row">

                        <!-- Start Single Widget -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-style-2">
                                <h4 class="ft-title">Acerca de nosotros</h4>
                                <div class="content">
                                    <p>El Servicio Estatal de Autonomías (SEA) es la instancia técnica especializada que contribuye al proceso de implementación y desarrollo del régimen de autonomías en Bolivia. 

Ponemos a tu disposición información pública y una serie de servicios para ampliar el conocimiento y el debate informado sobre el proceso autonómico en el Estado Plurinacional.
</p>
                                    <div class="social-share social-square">
                                        <a class="facebook" title="facebook" href="https://www.facebook.com/SEAutonomias/?fref=ts"><i class="fa fa-facebook"></i></a>
                                        <a class="twitter" title="twitter" href="https://twitter.com/SEAutonomias?ref_src=twsrc%5Etfw"><i class="fa fa-twitter"></i></a>
                                        <a class="google-plus" title="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                        <a class="pinterest" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                        <a class="linkedin" title="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Start Single Widget -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-style-2 space-left">
                                <h4 class="ft-title">Nuestros servicios</h4>
                                <div class="content">
                                    <ul class="ft-menu">
                                        <li><a href="#">Registro y análisis normativo nacional y subnacional</a></li>
                                        <li><a href="#">Información histórica del Proceso Autonómico</a></li>
                                        <li><a href="#">Análisis económico financiero municipal</a></li>
                                        <li><a href="#">Mapeo indicadores autonómicos</a></li>
                                        <li><a href="#">Fichas autonómicas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Start Single Widget -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-style-2 space-left">
                                <h4 class="ft-title">Publicaciones</h4>
                                <div class="content">
                                    <ul class="ft-menu">
                                        <li><a href="#">Boletines</a></li>
                                        <li><a href="#">Boletines electrónicos</a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Start Single Widget -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-style-2">
                                <h4 class="ft-title">Encuéntranos</h4>
                                <div class="content">
                                    <ul class="ft-menu">
                                        <li><a href="#">Telf.: (591-2) 2141444 - 2141393 
<br>
Fax: (591-2) 2146862 
contacto@sea.gob.bo 
<br>
Calle Victor Sanjinez #2678 (Plaza España) - Edificio Barcelona Tercer Piso</a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->

                    </div>
                </div>
            </div>
            <div class="copyright bg_color--40 copyright-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="copyright-left content text-center">
                                <p>2018-2019 Unidad de Comunicación - Servicio Estatal de Autonomías</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--// Footer -->

    </div>
    <!--// Wrapper -->

    <!-- Js Files -->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>