

//===== Colors =====//

$theme-color: #18012c;
$hover-color: #623687;
$secondary-color: #f4f4f4;

$body-color: #18012c;
$heading-color: #18012c;
$bg-grey: #f5f5f5;
$border-color: #cccccc;
$white:#fff;






/* Home Cleaning */

$cln-theme-color: #03a9f4;
$agency-theme-color: #702bc6;
$education-theme-color: #56a4b1;
$construction-theme-color: #fab702;
$gardening-theme-color: #6dc32e;
$event-theme-color: #b61670;
$medical-theme-color: #0bb6ce;
$portfolio-theme-color: #313131;
$corporate-theme-color: #4656ca;
$repair-theme-color: #43c3ea;
$political-theme-color: #ef3345;
$travel-theme-color: #efc934;
$carpen-theme-color: #e1c265;
$charity-theme-color: #e1c265;
$software-theme-color: #5ad1cf;
$resturant-theme-color: #e54c2a;
$beauty-theme-color: #ff759d;
$body-theme-color: #fb5b21;






//===== Font Family  =====//
$body-font: 'Poppins', sans-serif;
$heading-font: 'Montserrat', sans-serif;




$placeholder-color:#333;
//===== Line Height =====//
$body-line-height: 24px;
//==== Font size =====//
$body-font-size: 16px;
$h1: 42px;
$h2: 30px;
$h3: 26px;
$h4: 22px;
$h5: 18px;
$h6: 14px;




//===== Social Colors =====//
$facebook : #3B5998;
$twitter : #00ACEE;
$google-plus : #DD4B39;
$pinterest : #C8232C;
$linkedin : #0E76A8;
$flickr : #FF0084;
$dribbble : #EA4C89;
$google : #DD4B39;
$skype : #00AFF0;
$behance : #0057ff;
$youtube : #C4302B;
$vimeo : #86C9EF;
$yahoo : #720E9E;
$paypal : #00588B;
$delicious : #205CC0;
$flattr : #F67C1A;
$android : #A4C639;
$tumblr : #34526F;
$wikipedia : #333333;
$stumbleupon : #F74425;
$foursquare : #25A0CA;
$digg : #191919;
$spotify : #81B71A;
$reddit : #C6C6C6;
$cc : #688527;
$vk : #2B587A;
$rss : #EE802F;
$podcast : #E4B21B;
$dropbox : #3D9AE8;
$github : #171515;
$soundcloud : #FF7700;
$wordpress : #1E8CBE;
$yelp : #C41200;
$scribd : #666666;
$cc-stripe : #008CDD;
$drupal : #27537A;
$get-pocket : #EE4056;
$bitbucket : #0E4984;
$stack-overflow : #EF8236;
$hacker-news : #FF6600;
$xing : #126567;
$instagram : #D82E86;
$quora : #A82400;
$openid : #E16309;
$steam : #111111;
$amazon : #E47911;
$slack : #63C1A0;
$snapchat : #FFFC00;



// Layouts
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';

@media #{$large-mobile} {
    .container {
        width: 450px;
    }
}

@media #{$small-mobile} {
    .container {
        width: 300px;
    }
}


