<!-- START SIDEBAR -->
<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default
            app-navigation-open-hover dir-left" data-type="close-other">
    <a href="{% url 'landing' %}" class="app-navigation-logo">
        {{ project_name }}
        <button class="app-navigation-logo-button mobile-hidden" data-sidepanel-toggle=".app-sidepanel">
           <span class="icon-alarm"></span>
           <span class="app-navigation-logo-button-alert">7</span>
        </button>
    </a>
    {% include "partials/navigation/navigation-list.html" %}
</div>
<!-- END SIDEBAR -->