{% load i18n static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}{% endblock %} | {{ project_name }}</title>
        {% include 'partials/meta-section.html' %}
        {% include 'partials/styles-include.html' %}
        {% block extra_head %}{% endblock %}
    </head>
        {% if form.location.value %}
            <body onload="initialize({{ form.location.value }})" cz-shortcut-listen="true">
        {% else %}
            <body onload="initialize(-16.51398852688,-68.155145645)" cz-shortcut-listen="true">
        {% endif %}

        <!-- APP WRAPPER -->
        <div class="app app-loaded">

            <!-- START APP CONTAINER -->
            <div class="app-container">
                {% include 'partials/sidebars/default-fixed.html' %}


                <!-- START APP CONTENT -->
                <div class="app-content app-sidebar-left">
                    {% include 'partials/headers/default.html' %}

                    <!-- START PAGE CONTAINER -->
                    <div class="app-container">
                        {% block heading %}

                        {% endblock %}
                        {% block container %}

                        {% endblock %}
                    </div>
                    <!-- END PAGE CONTAINER -->

                </div>
                <!-- END APP CONTENT -->

            </div>
            <!-- END APP CONTAINER -->

            {% include 'partials/sidepanels/default.html' %}
        </div>
        <!-- END APP WRAPPER -->

        {% include 'partials/scripts-important-include.html' %}
        <!-- THIS PAGE SCRIPTS -->
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/rickshaw/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/rickshaw/rickshaw.min.js' %}"></script>

        <!--script type="text/javascript" src="{% static 'js/vendor/moment/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js' %}"></script-->

        <!-- END THIS PAGE SCRIPTS -->|
|
        <!--script type="text/javascript" src="{% static 'js/app_plugins.js' %}"></script-->


        <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/sweetalert.min.js' %}"></script>


        {% include 'partials/scripts-app-include.html' %}
        <script type="text/javascript" src="{% static 'js/app_demo_dashboard.js' %}"></script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>






