{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} | {{ project_name }}</title>
        <meta name="description" content="" />
        <meta name="author" content="{{ website_author }}" />

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'ico/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'ico/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'ico/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'ico/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'ico/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'ico/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'ico/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'ico/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'ico/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'ico/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'ico/manifest.json' %}">



        {% compress css %}
            <link rel="stylesheet" href="{% static 'vendor/semantic/semantic.css' %}">
            <link rel="stylesheet" href="{% static 'css/app.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/sweetalert.css' %}">
        {% endcompress %}

        {% block extra_css %}

        {% endblock %}
        {% block head %}

        {% endblock %}
    </head>

    <body>
        {% block container %}

        {% endblock %}



        {% block js %}
            {% compress js %}
                <script src="{% static 'vendor/jquery.js' %}"></script>
                <script src="{% static 'vendor/semantic/semantic.js' %}"></script>
                <script src="{% static 'js/app.js' %}"></script>
            {% endcompress %}
        {% endblock %}

        {% block extra_js %}

        {% endblock %}

        {% if not DEBUG %}
            {% include "partials/analytics.html" %}
        {% endif %}
    </body>
</html>