{% extends "emails/base.html" %}
{% load account i18n %}
{% user_display user as user_display %}

{% block title %}
    {% trans "Restaurar Contraseña" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block message_title %}Restaurar Contraseña{% endblock %}

        {% block message_body %}
            <p style="color:#5b5f65; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif">
            {% blocktrans %}
                Te enviamos este correo porque solicitaste restaurar la contraseña de esta cuenta en el
                sitio <b><a href="{{ project_domain }}">{{ project_domain }}</a></b><br>
                Si quieres restaurar tu contraseña debes hacer click en el boton de abajo, de lo contrario
                simplemente ignora este correo.
            {% endblocktrans %}
            </p>
        {% endblock %}

        {% block action_text %} {% trans 'Restaurar contraseña' %} {% endblock %}
        {% block action_url %} {{ password_reset_url }} {% endblock %}


    {% endwith %}
{% endautoescape %}