{% extends 'admin/layouts/base.html' %}

{% block container %}

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        {% include "admin/partials/header.html" %}
        <!-- END: Header -->

        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            {% include "admin/partials/left_aside.html" %}
            <!-- END: Left Aside -->

            <!-- BEGIN: Content -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Subheader -->
                 {% block subheader %}
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title ">
                                    {% block subheader_title %}Contenido{% endblock %}
                                </h3>
                            </div>
                            <div>
                                <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                                    <span class="m-subheader__daterange-label">
                                        <span class="m-subheader__daterange-title"></span>
                                        <span class="m-subheader__daterange-date m--font-brand"></span>
                                    </span>
                                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                        <i class="la la-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                <!-- END: Subheader -->

                <div class="m-content">
                {% block content %}{% endblock %}
				</div>

            </div>
            <!-- END: Content -->
        </div>
        <!-- end:: Body -->

        <!-- begin::Footer -->
        {% include "admin/partials/footer.html" %}
        <!-- end::Footer -->

    </div>
    <!-- end:: Page -->



    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
{% endblock %}