{% load static i18n %}
<!DOCTYPE html>
<html lang="es" >
    <!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %} | {{ project_name }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="">
        <meta name="keywords" content="Gecko, Django Template">
        <meta name="author" content="Xiberty <info@xiberty.com>">

        {% include "partials/meta_tags.html" %}

        {% block meta %}{% endblock %}

		<!-- begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700", "Nunito Sans:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {sessionStorage.fonts = true;}
            });
		</script>

        <!--end::Page Vendors -->
		<link href="{% static 'dist/vendors/base.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dist/base/styles.bundle.css' %}" rel="stylesheet" type="text/css" />

        <!--end::Base Styles -->
		<link rel="shortcut icon" href="{% static 'dist/ico/favicon.ico' %}" />
        {% block styles %}{% endblock %}
	</head>
	<!-- end::Head -->

    <!-- end::Body -->
	<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >

        {% block container %}{% endblock %}

    	<!--begin::Base Scripts -->
		<script src="{% static 'dist/vendors/base.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'dist/base/scripts.bundle.js' %}" type="text/javascript"></script>
		<!--end::Base Scripts -->
        {% block scripts %}{% endblock %}
	</body>
	<!-- end::Body -->
</html>
