{% load i18n static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% trans 'Inicio' %} | {{ project_name }}</title>

	<!-- META SECTION -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% include 'partials/headers/favicon.html' %}
	<!-- END META SECTION -->
	<!-- CSS INCLUDE -->
	<link rel="stylesheet" href="{% static 'landing/css/main.css' %}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'reyes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'reyes/css/plugins.css' %}">

    <!-- Style Css -->
    <link rel="stylesheet" href="{% static 'reyes/style.css' %}">
    <link rel="stylesheet" href="{% static 'reyes/style2.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'reyes/css/custom.css' %}">

	<!-- EOF CSS INCLUDE -->
	<style type="text/css">

	.btn-messenger{
		background-color: #0084FF;
		padding: 10px;
		border-radius: 5px;
		color:#fff;
	}
	.btn-telegram{
		background-color: #497799;
		padding: 10px;
		border-radius: 5px;
		color:#fff;
	}
	.centero{
		background-color: black;
		opacity: 0.7;
		border-radius: 10px;
		color: white;
	}
</style>
</head>
<body>
	<h1 class="centero">hola, bienvenido a ALLIGATOR {{ STATIC_URL }}</h1>

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header header-1 header--static body-header clearfix">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="cuscol">
						<div class="logo">
							<a href="#">
								<img src="{% static 'img/logo-dark.png' %}" alt="logo">
							</a>
						</div>
					</div>
					<div class="cuscol d-flex align-items-center">
						<nav class="mainmenu_nav with-mega-menu forall-element-page d-none d-lg-block">
							<ul class="mainmenu">
								<li>
									<a href="#">Home</a>
								</li>
								<li class="drop withdropdown">
									<a href="#">Ready Pages</a>
									<!-- Start Mega Menu -->
									<div class="mega-menu dropdown">

										<ul class="item">
											<li><a href="index-cleaning-service.html">Cleaning Service</a></li>
											<li><a href="index-agency.html">Creative Agency</a></li>
											<li><a href="index-education.html">Education</a></li>
											<li><a href="index-construction.html">Construction</a></li>
											<li><a href="index-gardening.html">Gardening</a></li>
											<li><a href="index-event.html">Event</a></li>
											<li><a href="index-medical.html">Medical</a></li>
											<li><a href="index-portfolio.html">Potrtfolio</a></li>
											<li><a href="index-corporate.html">Corporate</a></li>
											<li><a href="index-repair.html">Repair</a></li>
										</ul>

										<ul class="item">
											<li><a href="index-political.html">Political</a></li>
											<li><a href="index-travel.html">Traveling</a></li>
											<li><a href="index-carpenter.html">Carpenter</a></li>
											<li><a href="index-charity.html">Charity</a></li>
											<li><a href="index-software.html">Software</a></li>
											<li><a href="index-resturant.html">Resturant</a></li>
											<li><a href="index-real-estate.html">Real Estate</a></li>
											<li><a href="index-hosting.html">Hosting</a></li>
											<li><a href="index-beauty-salon.html">Beauty Salon</a></li>
											<li><a href="index-body-fitness.html">Body Fitness</a></li>
										</ul>

									</div>
									<!-- End Mega Menu -->
								</li>
							</ul>
						</nav>
						<div class="header-btn text-right purchase_btn">
							<a href="#">purchase</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="#">Home</a></li>
								<li>
									<a href="#">Ready Pages</a>
									<ul>
										<li><a href="index-cleaning-service.html">Cleaning Service</a></li>
										<li><a href="index-agency.html">Creative Agency</a></li>
										<li><a href="index-education.html">Education</a></li>
										<li><a href="index-construction.html">Construction</a></li>
										<li><a href="index-gardening.html">Gardening</a></li>
										<li><a href="index-event.html">Event</a></li>
										<li><a href="index-medical.html">Medical</a></li>
										<li><a href="index-portfolio.html">Potrtfolio</a></li>
										<li><a href="index-corporate.html">Corporate</a></li>
										<li><a href="index-repair.html">Repair</a></li>
										<li><a href="index-political.html">Political</a></li>
										<li><a href="index-travel.html">Traveling</a></li>
										<li><a href="index-carpenter.html">Carpenter</a></li>
										<li><a href="index-charity.html">Charity</a></li>
										<li><a href="index-software.html">Software</a></li>
										<li><a href="index-resturant.html">Resturant</a></li>
										<li><a href="index-real-estate.html">Real Estate</a></li>
										<li><a href="index-hosting.html">Hosting</a></li>
										<li><a href="index-beauty-salon.html">Beauty Salon</a></li>
										<li><a href="index-body-fitness.html">Body Fitness</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- Mobile Menu -->
				<div class="mobile-menu d-block d-lg-none"></div>
				<!-- Mobile Menu -->
			</div>
		</header>
		<!--// Header -->

		<!-- Start Slider Area -->
		<div class="ht-mega-slider">
			<div class="ht-mega-slider-activation">
				<!-- Start Single Slide -->
				<div class="ht-slide slider-style-2 bg_image--102 d-flex align-items-center animation__style--1">
					<div class="container">
						<div class="row align-items-center text-left">
							<div class="col-xl-7 col-lg-6 col-md-12 col-12">
								<div class="hero-body content text-left">
									<h2>Keep Your Body</h2>
									<h1>Be Fresh With Us.</h1>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="slide-btn">
										<a class="cln-btn" href="#">JOIN WITH US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slide -->
			</div>
		</div>
		<!-- End Slider Area -->
	</div>

</body>
</html>
