
/*-----------------------------
    Accordion Style
------------------------------*/ 





/*---------------------------
    Accordion Style Two 
-------------------------*/ 

.panel-group {
    max-width: 570px;
    margin: 0 auto;
    margin-top: 40px;
}

.accordion-style-1 .panel-default.accordion-boxshadow {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.accordion-style-1 {
    .container {
        max-width: 688px;
    }
    .panel-default {
        margin-bottom: 11px;
        .panel-heading {
            background-color: #fff;
            border-color: #fff;
            padding: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &.bg-gray{
                background-color: #f4f4f4;
                border-color: #f4f4f4;
                h4{
                    a{
                        color: $theme-color
                    }
                }
            }
            
            h4 {
                font-size: 14px;
                margin-bottom: 0px;
                font-weight: 600;
                a {
                    display: block;
                    padding: 22px 43px 22px 30px;
                    color: $theme-color;
                    position: relative;

                    

                    
                    &::after {
                        position: absolute;
                        top: 50%;
                        display: inline-block;
                        font-style: normal;
                        font-weight: 400;
                        transition: transform 0.5s linear;
                        -webkit-transition: -webkit-transform 0.5s linear;
                        content: "\f068";
                        font-family: FontAwesome;
                        color: #18012c;
                        position: absolute;
                        right: 30px;
                        font-size: 15px;
                        transform: translateY(-50%);
                    }
                    &.icon-left{
                        padding: 22px 15px 22px 69px;
                        &::after{
                            right: auto;
                            left: 5px;
                            width: 53px;
                            background: #fff;
                            height: 53px;
                            line-height: 53px;
                            text-align: center;
                            border-radius: 100%;
                        }
                        &.icon-square{
                            &::after{
                                border-radius: 0;
                            }
                        }
                        &.icon-bg-gray{
                            &::after{
                                background: #f4f4f4;
                            }
                        }
                        &.bg-transparent{
                            padding: 22px 15px 22px 79px;

                            @media #{$sm-layout} {
                                padding: 22px 9px 22px 74px;
                            }
                            &::after{
                                left: 0;
                                width: 60px;
                                background: transparent;
                                height: 100%;
                                line-height: 65px;
                                border-radius: 0;
                                border-right: 1px solid $theme-color;
                            }
                        }
                    }
                    &.collapsed::after {
                        content: "\f067";
                    }
                }
            }
            
        }
        .panel-collapse {
            background: #e9e9e9;
            padding: 32px 30px;

            @media #{$large-mobile} {
                padding: 20px 17px;
            }

            &.bg-transparant{
                background: transparent;
            }
            &.panel-body-with-border{
                border-left: 1px solid $theme-color;
                border-bottom: 1px solid $theme-color;
                border-right: 1px solid $theme-color;
            }
            .panel-body {
                color: #494849;
                font-size: 14px;
                line-height: 28px;
                font-family: 'Poppins', sans-serif;
                
            }
        }
    }
}

.accordion-style-1 .panel-default .panel-collapse.border-left {
    background: transparent;
    padding: 15px;
    border-left: 1px dashed #0a0a0a !important;
    margin-left: 31px;
    margin-bottom: -10px;
}


.accordion-style-1 .panel-default.round-shape .panel-collapse.border-left {
    padding: 40px;
    padding-left: 32px;
}




/*------------------------------
    Accordion With Gallery
--------------------------------*/ 

ul{
    &.gallery-sm-img{
        display:  flex;
        padding: 0;
        margin:  0;
        justify-content:  center;
        list-style:  none;
        margin-top: 14px;
        li{
            margin: 0 3px;
        }
    }
}





/*---------------------------
    Accordion Style Three
-------------------------*/ 

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
        &:hover {
            flex: 7;
        }
        &.item-1 {
            background-image: url('img/gallery/gallery-c1.jpg');
        }
        &.item-2 {
            background-image: url('img/gallery/gallery-c2.jpg');
        }
        &.item-3 {
            background-image: url('img/gallery/gallery-c3.jpg');
        }
        &.item-4 {
            background-image: url('img/gallery/gallery-c4.jpg');
        }
        &.item-5 {
            background-image: url('img/gallery/gallery-c5.jpg');
        }
    }
}



/*---------------------------
    Accordion Style Four 
-------------------------*/ 

// Acordion Style 04
ul{
    &.accordion--4{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center !important;
        justify-content: center;
        margin-top: 40px;
        li{
            width:115px;
            height:480px;
            display:block;
            border-right:2px solid #fff;
            border-bottom:2px solid #fff;
            background-color:#fff;
            background-repeat:no-repeat;
            background-position:center center;
            position:relative;
            overflow:hidden;
            cursor:pointer;
            -moz-box-shadow:1px 3px 15px #555;
            -webkit-box-shadow:1px 3px 15px #555;
            box-shadow:1px 3px 15px #555;

            &.bg1{
                background-image:url(img/gallery/gallery-d1.jpg);
            }

            &.bg2{
                background-image:url(img/gallery/gallery-d2.jpg);
            }

            &.bg3{
                background-image:url(img/gallery/gallery-d3.jpg);
            }

            &.bg4{
                background-image:url(img/gallery/gallery-d4.jpg);
            }

            &.bg5{
                background-image:url(img/gallery/gallery-d5.jpg);
            }

            &.bg6{
                background-image:url(img/gallery/gallery-d6.jpg);
            }


            &.bleft{
                border-left:2px solid #fff;
            }

            .heading{
                background-color:#fff;
                padding:10px;
                margin-top:60px;
                text-transform:capitalize;
                font-weight:500;
                font-size:18px;
                text-align:center;
                color: $theme-color;
                
            }

            .description{
                position: absolute;
                height: 175px;
                bottom: 60px;
                left: 0px;
                display: none;
                width: 100%;

                @media #{$sm-layout} {
                    height: auto;
                    bottom: 20px;
                }

                h2{
                    color: $theme-color;
                    font-size: 30px;

                    @media #{$small-mobile} {
                        color: #18012c;
                        font-size: 16px;
                    }
                }

                p{
                    margin:10px 22px;
                    font-size: 14px;
                    line-height: 28px;
                    color: $theme-color;

                    @media #{$sm-layout} {
                        margin: 0px 11px;
                        font-size: 14px;
                        line-height: 24px;
                    }

                    @media #{$small-mobile} {
                        margin: 0px 4px;
                        font-size: 13px;
                        line-height: 21px;
                    }
                }
                a{
                    position:absolute;
                    bottom:5px;
                    left:20px;
                    text-transform:uppercase;
                    font-style:normal;
                    font-size:11px;
                    text-decoration:none;
                    color:#888;
                    &:hover{
                        color:#333;
                        text-decoration:underline;
                    }
                }
            }

            .bgDescription{
                background:transparent url(img/gallery/bgDescription.png) repeat-x top left;
                height:340px;
                position:absolute;
                bottom:0px;
                left:0px;
                width:100%;
                display:none;
            }
        }
    }
}




/*---------------------------
    Accordion Style Five 
-------------------------*/ 
.accor_wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
}
.accordion--5{
	position:relative;
    margin:40px auto 0 auto;
    .single_accordion{
        cursor: pointer;
        position: absolute;
        width: 100%;
        left: 0px;
        overflow: hidden;
        text-align: center;
        z-index: 2;
        &::before{
            position:  absolute;
            content:  "";
            background:  #000000;
            left:  0;
            top: 0;
            width:  100%;
            height:  100%;
            opacity: 0.4;
            z-index: -1;
        }
        .va-title{
            text-transform: uppercase;
            font-size: 40px;
            margin-left: 20px;
            color: #ffffff;
            display: inline-block;
            @media #{$large-mobile} {
                font-size: 27px;
            }

           
            p{
                font-size: 22px;
                font-style: italic;
                font-family:Georgia, serif;
            }
        }
        .va-content{
            display: none;
            margin-left: 0;
            padding: 0 23%;
            margin-top: -36px;

            @media #{$sm-layout} {
                padding: 0 8%;
            }
            p{
                color: #ffffff;
                font-size: 14px;
                line-height: 28px;

                @media #{$large-mobile} {
                    line-height: 26px;
                }
            }
        }
    }
}


.accor_wrapper{
    .bg-1{
        background:#000 url(img/gallery/gallery-e1.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-2{
        background:#000 url(img/gallery/gallery-e2.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-3{
        background:#000 url(img/gallery/gallery-e3.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-4{
        background:#000 url(img/gallery/gallery-e4.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-5{
        background:#000 url(img/gallery/gallery-e5.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-6{
        background:#000 url(img/gallery/gallery-e6.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-7{
        background:#000 url(img/gallery/gallery-e1.jpg) no-repeat center center;
        background-size: cover;
    }
}








// Responsive Css


@media #{$large-mobile}{
    .accordion-style-1 .panel-default.round-shape .panel-collapse.border-left {
        padding: 16px;
        padding-left: 22px;
    }

}




