/*-----------------------
 * Button Style 
-----------------------*/

// Shortcode

.color-theme {
    color: $theme-color;
}



/* Button Bg Inages */
@for $i from 1 through 5 {
    .button-bg-image--#{$i} {
        background-image: url(img/button/button-bg-#{$i}.jpg);
        border-style: none;
        background-repeat: no-repeat;
    }
}



/* Button Css */


.button-group--horizonta {
    display: flex;
    flex-wrap: wrap;
    
    @media #{$md-layout} {
        justify-content: center;
    }

    @media #{$sm-layout} {
        justify-content: center;
    }

}

.ht-btn {
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 27px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    font-family: $heading-font;

    &:hover {
        color: #fff;
    }

    &.button-bg-image {
        transition: 0.5s;

        &:hover {
            opacity: 0.8;
        }
    }

    &.button-shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        overflow: visible;

        &:hover {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }

        &.button-shadow-2 {
            &::before {
                pointer-events: none;
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 0;
                background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform, opacity;
                transition-property: transform, opacity;
            }

            &:hover::before {
                opacity: 1;
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
            }
        }

        &.button-shadow-3 {

            &::before,
            &::after {
                pointer-events: none;
                position: absolute;
                content: '';
                left: 0;
                width: 100%;
                box-sizing: border-box;
                background-repeat: no-repeat;
                height: 5px;
                opacity: 0;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: opacity;
                transition-property: opacity;
            }

            &::before {
                bottom: 100%;
                background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
                background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
            }

            &::after {
                top: 100%;
                background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
                background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
            }

            &:hover::before,
            &:hover::after {
                opacity: 1;
            }
        }

        &.button-shadow-4 {
            &:hover {
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
            }
        }

        &.button-shadow-5 {
            &:hover {
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            }
        }

        &.button-shadow-6 {
            &:hover {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            }
        }
    }

    &.bg_color--2 {
        color: #18012c;
    }

    &.button-color--theme {
        background: $theme-color;
    }

    &.button-color--2 {
        background: $theme-color;
    }

    &.button-transparent {
        background: transparent;
        color: $theme-color;

        &:hover {
            background: $theme-color;
            color: #ffffff;
        }
    }

    &.button-border--1 {
        border: 1px solid $theme-color;
    }

    &.button--medium {
        padding: 16px 43px;

        @media #{$lg-layout} {
            padding: 16px 36px;
        }

        &.btn-standard {
            padding: 25px 32px;
        }

        &.btn-large {
            padding: 30px 58px;
        }

        &.btn-extra-large {
            padding: 36px 50px;
        }

        &.btn-small {
            padding: 22px 37px;
        }

        &.btn-extra-small {
            padding: 16px 16px;
        }

        &.button-icon {
            padding: 24px 50px;
        }
    }

    &.button-icon {
        span {
            padding-left: 12px;

            i {
                font-size: 20px;
                color: #fff;
            }
        }
    }

    &.button-gradient {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 0 rgba(244, 63, 59, .5);
        position: relative;
        z-index: 100;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        background-image: -webkit-linear-gradient(top, #000, #ce51da);
        background-image: linear-gradient(0, #000, #ce51da);
        background-size: 100%;

        &::before {
            position: absolute;
            z-index: -100;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            -webkit-transition: opacity 1s;
            transition: opacity 1s;
            opacity: 0;
            background-image: -webkit-linear-gradient(top, #ce51da, #000000);
            background-image: linear-gradient(0, #ce51da, #000000);
        }

        &:hover::before {
            opacity: 1;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }

        &--2 {
            background-image: -webkit-linear-gradient(top, #ecbfa6, #6e2f17);
            background-image: linear-gradient(0, #ecbfa6, #6e2f17);

            &::before {
                background-image: -webkit-linear-gradient(top, #6e2f17, #ecbfa6);
                background-image: linear-gradient(0, #6e2f17, #ecbfa6);
            }
        }

        &--3 {
            background-image: -webkit-linear-gradient(top, #511f48, #de6b0e);
            background-image: linear-gradient(0, #511f48, #de6b0e);

            &::before {
                background-image: -webkit-linear-gradient(top, #de6b0e, #511f48);
                background-image: linear-gradient(0, #de6b0e, #511f48);
            }
        }

        &--4 {
            background-image: -webkit-linear-gradient(top, #000000, #0cd7f5);
            background-image: linear-gradient(0, #000000, #0cd7f5);

            &::before {
                background-image: -webkit-linear-gradient(top, #0cd7f5, #000000);
                background-image: linear-gradient(0, #0cd7f5, #000000);
            }
        }

        &--5 {
            background-image: -webkit-linear-gradient(top, #efb8ea, #f801e4);
            background-image: linear-gradient(0, #efb8ea, #f801e4);

            &::before {
                background-image: -webkit-linear-gradient(top, #f801e4, #efb8ea);
                background-image: linear-gradient(0, #f801e4, #efb8ea);
            }
        }

        &--6 {
            background-image: -webkit-linear-gradient(top, #bf0f19, #274f1b);
            background-image: linear-gradient(0, #bf0f19, #274f1b);

            &::before {
                background-image: -webkit-linear-gradient(top, #274f1b, #bf0f19);
                background-image: linear-gradient(0, #274f1b, #bf0f19);
            }
        }
    }

    // Button Style 01

    &.button-effect--1 {
        position: relative;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $hover-color;
            z-index: -1;
            opacity: 0;
            -webkit-transform: scale3d(0.7, 1, 1);
            transform: scale3d(0.7, 1, 1);
            -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
            transition: transform 0.4s, opacity 0.4s;
            -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            z-index: -1;
        }

        &:hover::before {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    // Button Style 02
    &.button-effect--2 {
        z-index: 1;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 150%;
            height: 100%;
            background: $hover-color;
            z-index: -1;
            -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
            transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
            -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
            transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
            z-index: -1;
        }

        &:hover::before {
            opacity: 1;
            -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
            -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        }
    }

    // Button Style 03
    &.button-effect--3 {
        z-index: 1;
        position: relative;
        color: #fff;

        &::before,
        &::after {
            content: '';
            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
            transition: transform 0.3s, background-color 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
            transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
            z-index: -1;
        }

        &::before {
            border: 2px solid $hover-color;
            -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1);
        }

        &::after {
            background: $theme-color;
        }

        &:hover::before {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        &:hover::after {
            background-color: $hover-color;
            -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1);
        }
    }

    &.button-with--border {
        z-index: 1;
        position: relative;
        color: #fff;

        &::before,
        &::after {
            content: '';
            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
            transition: transform 0.3s, background-color 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
            transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
            z-index: -1;
        }

        &::before {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            border: 2px solid #ff6b6b;
            border-radius: 30px;
        }

        &::after {
            background-color: #ff6b6b;
            -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1);
            border-radius: 30px;
        }
    }

    // Button Style 04
    &.button-effect--4 {
        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -20px;
            bottom: -20px;
            right: -20px;
            background: inherit;
            z-index: -1;
            opacity: 0.4;
            -webkit-transform: scale3d(0.8, 0.5, 1);
            transform: scale3d(0.8, 0.5, 1);
        }

        &:hover::before {
            -webkit-animation: np-btn--2 0.3s 0.3s forwards;
            animation: np-btn--2 0.3s 0.3s forwards;
        }

        &:hover {
            -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
            transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
            color: #ECEFF1;
            background-color: $hover-color;
            -webkit-animation: np-btn--1 0.3s forwards;
            animation: np-btn--1 0.3s forwards;
        }
    }

    // Button Style 05
    &.button-effect--5 {
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 100%;
            margin: -15px 0 0 1px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $hover-color;
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-transform: scale3d(1, 2, 1);
            transform: scale3d(1, 2, 1);
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
        }

        &:hover::before {
            -webkit-transform: scale3d(9, 9, 1);
            transform: scale3d(9, 9, 1);
        }
    }

    // Button Style 05
    &.button-effect--6 {
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            margin: -15px 0 0 1px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $hover-color;
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transform: scale3d(1, 2, 1);
            transform: scale3d(1, 2, 1);
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
            right: 100%;
        }

        &:hover::before {
            -webkit-transform: scale3d(9, 9, 1);
            transform: scale3d(9, 9, 1);
        }
    }

    // Button Style 07
    &.button-effect--7 {
        &:hover {
            -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
        }
    }

    // Button Style 08
    &.button-effect--8 {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        &:hover {
            -webkit-animation-name: np-hvr-horizontal;
            animation-name: np-hvr-horizontal;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }

    // Button Style 09
    &.button-effect--9 {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        &:hover {
            -webkit-animation-name: hvr-to-bottom-right;
            animation-name: hvr-to-bottom-right;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }

    // Button Style 10
    &.button-effect--10 {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: #e09d8b;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            color: #fff;
        }

        &:hover::before {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    // Button Style 11
    &.button-effect--11 {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #45b29d;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
        }
    }

    // Button Style 12
    &.button-effect--12 {

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $theme-color;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }

    // Button Style 13
    &.button-effect--13 {

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $theme-color;
            border-radius: 100%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scale(2);
            transform: scale(2);
        }
    }

    // Button Style 14
    &.button-effect--14 {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $theme-color;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    // Button Style 15
    &.button-effect--15 {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #d82f4e;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }

    // Button Style 16
    &.button-effect--16 {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $theme-color;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }

    // Button Style 17
    &.button-effect--17 {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $theme-color;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover::before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }
}

.button-holder {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 30px;
    margin-top: 30px;

    @media #{$lg-layout} {
        flex-grow: inherit;
        flex-basis: inherit;
        margin-right: 15px;
        margin-top: 15px;
    }

    @media #{$md-layout} {
        flex-grow: inherit;
        flex-basis: inherit;
        margin-right: 15px;
        margin-top: 15px;
    }

    @media #{$sm-layout} {
        flex-grow: inherit;
        flex-basis: inherit;
        margin-right: 13px;
        margin-top: 13px;
    }

    &:last-child {
        margin-right: 0;
    }
}

/* Button Sixe Variation */

.button-size {
    .button-holder {
        flex-grow: inherit;
        flex-basis: inherit;
        margin-right: 60px;

        @media #{$md-layout} {
            margin-right: 30px;
        }

        @media #{$sm-layout} {
            margin-right: 15px;
        }

        @media #{$lg-layout} {
            margin-right: 20px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


.flex_grow-none {
    .button-holder {
        flex-grow: inherit;
        flex-basis: inherit;
    }
}


/* Button With Icon */
.button-icon-group {
    .button-holder {
        margin-right: 27px;

        &:last-child {
            margin-right: 0;
        }
    }
}



.ht-btn--2 {
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    height: 60px;
    line-height: 58px;
    display: flex;
    align-items: center;
    font-family: $heading-font;

    &.button-shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        overflow: visible;

        &:hover {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }

    span {
        &.button-with-icon {
            padding: 0 36px;
            color: #fff;

            @media #{$lg-layout} {
                padding: 0 27px;
            }
            @media #{$large-mobile} {
                padding: 0 21px
            }
            
        }

        &.button-arrow {
            background: #fff;
            display: inline-block;
            padding: 0 20px;
            color: $theme-color;
            font-size: 20px;

            &.button-radious {
                width: 50px;
                padding: 0;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }
        }
    }

    &.button-icon-2 {
        span {
            &.button-with-icon {}

            &.button-arrow {
                color: #fff;
                background: $theme-color;
                border-left: 1px solid #ffffff;
            }
        }
    }

    &.button-icon-3 {
        padding: 0 49px;

        span {
            &.button-arrow {
                background: transparent;
                color: #fff;
                padding: 0;
                padding-left: 11px;
            }

            &.button-with-icon {
                padding: 0;
            }
        }
    }
}



/* Button Effect With keyframe */
@-webkit-keyframes np-btn--1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes np-btn--1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@-webkit-keyframes np-btn--2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes np-btn--2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



/* Effect Horizontal */

@-webkit-keyframes np-hvr-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes np-hvr-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}




/* Effect To Bottom Right */

@-webkit-keyframes hvr-to-bottom-right {
    16.65% {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }

    33.3% {
        -webkit-transform: translate(-6px, -6px);
        transform: translate(-6px, -6px);
    }

    49.95% {
        -webkit-transform: translate(4px, 4px);
        transform: translate(4px, 4px);
    }

    66.6% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    83.25% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes hvr-to-bottom-right {
    16.65% {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }

    33.3% {
        -webkit-transform: translate(-6px, -6px);
        transform: translate(-6px, -6px);
    }

    49.95% {
        -webkit-transform: translate(4px, 4px);
        transform: translate(4px, 4px);
    }

    66.6% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    83.25% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}










/*============================
    Cleaning Home Btn 
=============================*/

.cln-btn{
    display: inline-block;
    background: $cln-theme-color;
    color: #fff;
    height: 54px;
    padding: 0 54px;
    line-height: 54px;
    font-weight: 500;
    font-size: 14px;
    font-family: $heading-font;
    transition: 0.4s ease-in-out;
    &:hover{
        background: #ffffff;
        color: $cln-theme-color;
    }
    &.btn-transparent{
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        &:hover{
            background: $cln-theme-color;
            border: 2px solid $cln-theme-color;
            color: #ffffff;
        }

    }
    &.btn-radious--24{
        border-radius: 24px;
    }
}












