/*================================
    Call To Action Style    
=================================*/ 


.call-to-action-default{
    @media #{$sm-layout} {
        padding: 100px 0 !important;
    }
    .content{
        p{
            color: #ffffff;
            font-size: 16px;
            margin: 0;
        }
        h1{
            color: #f7ca18;
            font-size: 80px;
            font-weight: 600;
            margin-bottom: 27px;
            font-family: $body-font;

            @media #{$sm-layout} {
                font-size: 57px;
                margin-bottom: 18px;
            }

            @media #{$small-mobile} {
                font-size: 43px;
            }

        }
        a{
            &.call_btn{
                background: #f7ca18;
                height: 47px;
                padding: 0 38px;
                display: inline-block;
                line-height: 47px;
                border-radius: 25px;
                color: #000000;
                font-size: 14px;
                transition: 0.4s ease-in-out;
                &:hover{
                    background: #ffffff;
                    color: $theme-color;
                }
            }
        }
    }
    &.reapair-call-to-action{
        .content{
            p{
                color: #ffffff;
                font-size: 24px;
                margin: 0;
            }
            h1{
                color: #152545;
                font-size: 72px;
                font-weight: 700;
                margin-bottom: 27px;
                font-family: $body-font;
    
                @media #{$sm-layout} {
                    font-size: 57px;
                    margin-bottom: 18px;
                }
    
                @media #{$small-mobile} {
                    font-size: 43px;
                }
    
            }
            a{
                &.call_btn{
                    background: #152545;
                    height: 47px;
                    padding: 0 38px;
                    display: inline-block;
                    line-height: 47px;
                    border-radius: 25px;
                    color: #ffffff;
                    font-size: 14px;
                    transition: 0.4s ease-in-out;
                    &:hover{
                        background: #ffffff;
                        color: $theme-color;
                    }
                }
            }
        }
    }
}




/*================================
    Call To Action Style 2   
=================================*/ 

.call-to-action-2{
    .content{
        h2{
            color: #ffffff;
            font-family: $body-font;
            font-size: 38px;
            font-weight: 600;
            margin-bottom: 6px;

            @media #{$md-layout} {
                font-size: 31px;
            }
            @media #{$sm-layout} {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 12px;
            }

        }
        p{
            color: #ffffff;
            font-family: $heading-font;
            font-weight: 300;
            font-size: 18px;
            margin: 0;
        }
    }
    .action-btn{

        @media #{$sm-layout} {
            margin-top: 26px;
        }
        a{
            &.call_btn{
                height: 48px;
                display: inline-block;
                border: 2px solid #ffffff;
                color: #ffff;
                border-radius: 25px;
                padding: 0 46px;
                line-height: 43px;
                font-size: 14px;
                font-weight: 600;
                transition: 0.4s ease-in-out;

                @media #{$md-layout} {
                    padding: 0 18px;
                }
                &:hover{
                    background: #ffffff;
                    color: $theme-color;
                    border: 2px solid #ffffff;
                }
            }
        }
    }
}




/*================================
    Call To Action Style 3   
=================================*/ 

.call-to-action-3{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 98px;

    @media #{$md-layout} {
        padding: 70px 0px
    }

    @media #{$sm-layout} {
        padding: 70px 20px;
        display: block;
    }


    &.separator{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background: #999999;
            height: 50px;
            width: 2px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);

            @media #{$sm-layout} {
                display: none;
            }
        }
    }
    .content{

        @media #{$sm-layout} {
            margin-bottom: 20px; 
        }
        p{
            color: #000000;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 5px;
        }
        h1{
            color: #000000;
            font-weight: 500;
            font-size: 24px;
            margin: 0;
        }
    }
    .action-btn{
        a{
            &.call_btn{
                height: 50px;
                display: inline-block;
                border: 2px solid #000000;
                color: #000000;
                border-radius: 25px;
                padding: 0 60px;
                line-height: 46px;
                font-size: 14px;
                font-weight: 600;
                transition: 0.4s ease-in-out;

                @media #{$large-mobile} {
                    padding: 0 38px;
                }

                &:hover{
                    background: #000000;
                    color: #ffffff;
                    border: 2px solid #000000;
                }
            }
        }
    }

}



/*================================
    Call To Action Style 4   
=================================*/ 


.call-to-action-4 {
    .content{
        h2{
            color: #ffffff;
            font-weight: 400;
            font-size: 36px;
            margin-bottom: 21px;
            
            @media #{$md-layout} {
                font-size: 29px;
                margin-bottom: 15px;
            }
            
            @media #{$sm-layout} {
                font-size: 29px;
                margin-bottom: 15px;
            }

            
        }
        p{
            color: #ffffff;
            font-size: 18px;
            line-height: 35px;
            padding: 0 17%;
            margin-bottom: 34px;

            @media #{$lg-layout} {
                padding: 0 14%;
            }

            @media #{$md-layout} {
                padding: 0 3%;
                margin-bottom: 24px;
            }
            @media #{$sm-layout} {
                padding: 0 3%;
                margin-bottom: 24px;
            }
        }
    }
    .action-btn{
        a{
            &.call_btn{
                background: #ffffff;
                height: 50px;
                display: inline-block;
                padding: 0 40px;
                line-height: 50px;
                border-radius: 25px;
                color: #0056ff;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                transition: 0.4s ease-in-out;
                &:hover{
                    background: $theme-color;
                    color: #ffffff;
                }
            }
        }
    }
    &.event-call-to-action{
        .content{
            p{
                color: #ffffff;
                font-size: 16px;
                line-height: 20px;
                padding: 0 17%;
                margin-bottom: 19px;
            }
            h2{
                color: #ffffff;
                font-weight: 700;
                font-size: 60px;
                margin-bottom: 30px;
                font-family: $body-font;
                @media screen {
                    font-size: 44px;
                    margin-bottom: 24px;
                }
            }
            
        }
        .action-btn{
            a{
                &.call_btn{
                    background: #ffffff;
                    height: 50px;
                    display: inline-block;
                    padding: 0 50px;
                    line-height: 50px;
                    border-radius: 25px;
                    color: #000000;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: 0.4s ease-in-out;
                    font-family: $heading-font;

                    &:hover{
                        background: $theme-color;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}



/*================================
    Call To Action Style 5   
=================================*/ 

.call-to-action-5{
    .content{
        h2{
            color: #ffffff;
            font-size: 40px;
            line-height: 60px;
            font-weight: 500;
            padding: 0 17%;

            @media #{$md-layout} {
                font-size: 36px;
                line-height: 54px;
                padding: 0 20px;
            }

            @media #{$sm-layout} {
                font-size: 32px;
                line-height: 50px;
                padding: 0 20px;
            }

            @media #{$small-mobile} {
                font-size: 24px;
                line-height: 39px;
                padding: 0 15px;
            }


        }
        p{
            color: #ffffff;
            font-size: 18px;
            margin-bottom: 44px;
            font-family: 'Rubik', sans-serif;
        }
    }
    .action-btn {
        a{
            &.call_btn{
                border: 2px solid #ffffff;
                height: 50px;
                display: inline-block;
                padding: 0 46px;
                line-height: 48px;
                color: #ffffff;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                border-radius: 4px;
                transition: 0.4s ease-in-out;
                font-family: 'Rubik', sans-serif;
                &:hover{
                    background: #ffffff;
                    color: $theme-color;
                }
            }
        }
    }
}



/*================================
    Call To Action Style 6  
=================================*/ 

.call-to-action-6 {
    .content{
        h2{
            color: #494949;
            font-size: 40px;
            line-height: 58px;
            font-weight: 500;

            @media #{$md-layout} {
                font-size: 35px;
                line-height: 52px;
            }

            @media #{$sm-layout} {
                font-size: 29px;
                line-height: 47px;
            }


        }
        p{
            color: #494949;
            font-size: 18px;
            margin-bottom: 32px;
            line-height: 30px;
            padding-right: 27%;

            @media #{$lg-layout} {
                padding-right: 10%;
            }

            @media #{$sm-layout} {
                margin-bottom: 23px;
                line-height: 30px;
                padding-right: 5%;
            }

        }
    }
    .action-btn {
        a{
            &.call_btn{
                height: 50px;
                display: inline-block;
                padding: 0 37px;
                line-height: 50px;
                color: #ffffff;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                transition: 0.4s ease-in-out;
                background: #e97730;
                font-family: $heading-font;
                &:hover{
                    background: $theme-color;
                    color: #ffffff;
                }
            }
        }
    }
}



/*================================
    Call To Action Style 7 
=================================*/ 

.call-to-action-7 {
    .call-to-action-inner{
        display: inline-block;
        padding: 100px 240px;
        background: rgba(255,255,255,0.6);

        @media #{$lg-layout} {
            padding: 100px 193px;
        }

        @media #{$md-layout} {
            padding: 64px 86px;
        }

        @media #{$sm-layout} {
            padding: 40px 14px;
        }


        .content{
            h2{
                color: #1e1e1e;
                font-size: 42px;
                line-height: 53px;
                font-weight: 700;
                font-family: 'Cormorant Garamond', serif;
                margin-bottom: 29px;

                @media #{$large-mobile} {
                    font-size: 31px;
                    line-height: 45px;
                    margin-bottom: 15px;
                }

                @media #{$small-mobile} {
                    font-size: 26px;
                    line-height: 36px;
                    margin-bottom: 10px;
                }

            }
        }
        .action-btn {
            a{
                &.call_btn{
                    display: inline-block;
                    color: #2c2c2c;
                    font-weight: 600;
                    font-size: 24px;
                    transition: 0.4s ease-in-out;
                    font-family: 'Cormorant Garamond', serif;
                    border-bottom: 2px solid #4f4848;
                    &:hover{
                        color: $theme-color;
                        border-bottom: 2px solid $theme-color;
                    }
                    
                }
            }
        }
    }
}







