/*=================================
    Faq Style
===================================*/ 

.ht-faq-inner{
    h2{
        color: #494849;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .panel-group{
        margin: 0;
    }
}

/*-------------
    Faq Style 1
-------------------------------*/ 

.faq-style-1{
    .panel-default{
        margin-bottom: 10px;
    }
    .panel-title{
        margin-bottom: 0;
        a{
            background: #f4f4f4;
            display: block;
            padding: 23px 20px;
            color: #18012c;
            font-size: 14px;
            font-weight: 500;
            padding-left: 82px;
            position: relative;
            &::before{
                position: absolute;
                content: "\f128";
                font-family: 'FontAwesome';
                color: #18012c;
                font-size: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                background: #ffffff;
                line-height: 50px;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
            }
            &.collapsed{
                &::before{
                    content: "\f00c";
                }
            }

        }
    }

    .panel-body{
        background: #e9e9e9;
        padding: 40px 30px;

        @media #{$small-mobile} {
            padding: 30px 20px;
        }

        p{
            color: #494849;
            font-size: 14px;
            line-height: 28px;
        }
        .read-btn{
            a{
                font-size: 14px;
                color: #3e3e3e;
                font-weight: 500;
                font-family: $heading-font;
                display: inline-block;
                border-bottom: 1px solid #9e9e9e;

            }
        }
    }
}

/*-------------
    Faq Style 2
-------------------------------*/ 

.faq-style-2{
    .panel-default{
        margin-bottom: 10px;
    }
    .panel-title{
        margin-bottom: 0;
        a{
            background: #ffffff;
            display: block;
            padding: 23px 20px;
            color: #18012c;
            font-size: 14px;
            font-weight: 500;
            padding-right: 82px;
            position: relative;
            &::before{
                position: absolute;
                content: "\f128";
                font-family: 'FontAwesome';
                color: #18012c;
                font-size: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                background: transparent;
                line-height: 50px;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
            }
            &.collapsed{
                &::before{
                    content: "\f00c";
                }
            }

        }
    }

    .panel-body{
        background: #e9e9e9;
        padding: 40px 30px;
        @media #{$small-mobile} {
            padding: 30px 20px;
        }
        p{
            color: #494849;
            font-size: 14px;
            line-height: 28px;
        }
        .read-btn{
            a{
                font-size: 14px;
                color: #3e3e3e;
                font-weight: 500;
                font-family: $heading-font;
                display: inline-block;
                border-bottom: 1px solid #9e9e9e;

            }
        }
    }
}


/*-------------
    Faq Style 3
-------------------------------*/ 

.faq-style-3{
    .panel-default{
        margin-bottom: 10px;
    }
    .panel-title{
        margin-bottom: 0;
        a{
            background: #f4f4f4;
            display: block;
            padding: 23px 20px;
            color: #18012c;
            font-size: 14px;
            font-weight: 500;
            padding-left: 82px;
            position: relative;
            border-radius: 30px;

            &::before{
                position: absolute;
                content: "\f128";
                font-family: 'FontAwesome';
                color: #18012c;
                font-size: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                background: #ffffff;
                line-height: 50px;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
                border-radius: 100%;
            }
            &.collapsed{
                &::before{
                    content: "\f00c";
                }
            }

        }
    }

    .panel-body{
        background: transparent;
        padding: 28px;
        border-left: 1px dashed #0a0a0a !important;
        margin-left: 31px;
        margin-bottom: -10px;

        @media #{$small-mobile} {
            padding: 16px;
            margin-left: 25px;
        }

        p{
            color: #494849;
            font-size: 14px;
            line-height: 28px;
        }
        .read-btn{
            a{
                font-size: 14px;
                color: #3e3e3e;
                font-weight: 500;
                font-family: $heading-font;
                display: inline-block;
                border-bottom: 1px solid #9e9e9e;

            }
        }
    }
}


/*-------------
    Faq Style 4
-------------------------------*/ 

.faq-style-4{
    .panel-default{
        margin-bottom: 10px;
    }
    .panel-title{
        margin-bottom: 0;
        a{
            background: #ffffff;
            display: block;
            padding: 23px 20px;
            color: #18012c;
            font-size: 14px;
            font-weight: 500;
            padding-right: 82px;
            position: relative;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            &::before{
                position: absolute;
                content: "\f128";
                font-family: 'FontAwesome';
                color: #18012c;
                font-size: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                background: transparent;
                line-height: 50px;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
                border-radius: 100%;
            }
            &.collapsed{
                &::before{
                    content: "\f00c";
                }
            }

        }
    }

    .panel-body{
        background: #e9e9e9;
        padding: 40px 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);

        @media #{$small-mobile} {
            padding: 30px 20px;
        }
        p{
            color: #494849;
            font-size: 14px;
            line-height: 28px;
        }
        .read-btn{
            a{
                font-size: 14px;
                color: #494849;
                font-weight: 500;
                font-family: $heading-font;
                display: inline-block;
                border-bottom: 1px solid #9e9e9e;
                line-height: 28px;

            }
        }
    }
}


/*-------------
    Faq Style 5
-------------------------------*/ 

.faq-style-5{
    .panel-default{
        margin-bottom: 10px;
    }
    .panel-title{
        margin-bottom: 0;
        a{
            background: #ffffff;
            display: block;
            padding: 23px 20px;
            color: #18012c;
            font-size: 14px;
            font-weight: 500;
            padding-left: 82px;
            position: relative;
            border: 1px solid #b8b8b8;
            &::before{
                position: absolute;
                content: "\f128";
                font-family: 'FontAwesome';
                color: #18012c;
                font-size: 20px;
                width: 65px;
                height: 100%;
                text-align: center;
                background: transparent;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
                border-right: 1px solid #b8b8b8;
                line-height: 60px;
            }
            &.collapsed{
                &::before{
                    content: "\f00c";
                }
            }

        }
    }

    .panel-body{
        background: transparent;
        padding: 40px 30px;
        border: 1px solid #b8b8b8;
        border-top: 1px solid transparent;
        
        @media #{$small-mobile} {
            padding: 30px 20px;
        }
        p{
            color: #494849;
            font-size: 14px;
            line-height: 28px;
        }
        .read-btn{
            a{
                font-size: 14px;
                color: #494849;
                font-weight: 500;
                font-family: $heading-font;
                display: inline-block;
                border-bottom: 1px solid #9e9e9e;
                line-height: 28px;

            }
        }
    }
}













