/*==========================
    Flipbox Style Css
============================*/

/*------------------------------
   Flipbox  Background Color 
 -------------------------------*/

@include config-flipbox('flipbox-bg--',
'1'$theme-color,
'2'#ffb85f,
'3'#ff7a5a,
'4'#00aaa0,
'5'#ed552d);






/*==========================
    Flipbox Style 01
============================*/

.square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 380px;
    margin-top: 30px;
}

.square,
.square2 {
    width: 100%;
    height: 100%;
}

.square {
    background-size: cover;
    background-position: center center;
    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip {
    .square {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .square {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
    }

    .square2 {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .square2 {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .square2 {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}



/*Square content*/
.square-flip {
    .square-container {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) scale(1);
        transform: translateY(-50%) translateX(0px) scale(1);
        transform-style: preserve-3d;
        z-index: 2;
    }

    &:hover .square-container {
        -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
        -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
        transform: translateY(-50%) translateX(-650px) scale(.88);
        transform-style: preserve-3d;
    }

    .square-container2 {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index: 2;

        @media #{$sm-layout} {
            padding: 40px 20px;
        }
    }

    &:hover .square-container2 {
        -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform-style: preserve-3d;
    }

}




/*Style text*/

.square-flip {
    .square-container {
        span {
            color: #333333;
            font-size: 50px;
        }

        h2 {
            color: #333333;
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            margin-top: 22px;

            @media #{$sm-layout} {
                font-size: 20px;
            }
        }
    }
    .square-container2 {
        span {
            color: #efefef;
            font-size: 50px;
            display: block;
            margin-bottom: 28px;
        }

        h2 {
            color: #ffffff;
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 18px;
        }

        p {
            color: #ffffff;
            font-size: 14px;
            line-height: 26px;
            margin: 0;
        }
    }
}


/*Elements Bg Color & Image*/
.flip-overlay {
    display: block;
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.square2 {
    background-image: url(img/flipbox/flipbox-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .flip-overlay {
        display: block;
        background: rgba(237, 85, 45, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}



/* ======================
    Travel Flip Box 
========================*/


.square-flip.travel-flip .square2 .flip-overlay{
    background-image: url(img/traveling/flip/flip-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.square-flip.travel-flip .square-container h2 ,
.square-flip.travel-flip .square-container2 h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    margin: 0;
    margin-bottom: 12px;
    color: #ffffff;
}

.square-flip.travel-flip .square-container span ,
.square-flip.travel-flip .square-container2 span{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: #ffffff;
}

.square-flip.travel-flip .square-container2{
    padding: 40px 10px;
}

.square-flip.travel-flip .square .flip-overlay-1,
.square-flip.travel-flip .square .flip-overlay-2,
.square-flip.travel-flip .square .flip-overlay-3,
.square-flip.travel-flip .square .flip-overlay-4 {
    background-image: url(img/traveling/flip/flip-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.square-flip.travel-flip .square .flip-overlay-2 {
    background-image: url(img/traveling/flip/flip-2.png);
}

.square-flip.travel-flip .square .flip-overlay-3 {
    background-image: url(img/traveling/flip/flip-3.png);
}

.square-flip.travel-flip .square .flip-overlay-4 {
    background-image: url(img/traveling/flip/flip-4.png);
}

















/*==========================
    Flipbox Style 02
============================*/



.flipbox-2 {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 410px;

}

.flip-front,
.flip-back {
    width: 100%;
    height: 100%;
}

.flipbox-2 {
    margin-top: 40px;

    .flip-front {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-front {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .flip-front {
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        transform-style: preserve-3d;
    }

    .flip-back {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-back {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .flip-back {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-style: preserve-3d;
    }
}


/*Square content*/
.flipbox-2 {
    .content {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) scale(1);
        transform: translateY(-50%) translateX(0px) scale(1);
        transform-style: preserve-3d;
        z-index: 2;
    }

    &:hover .content {
        -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
        -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
        transform: translateY(-50%) translateX(-650px) scale(.88);
        transform-style: preserve-3d;
    }


    .content2 {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index: 2;

        @media #{$lg-layout} {
            padding: 40px 20px;
        }

        @media #{$sm-layout} {
            padding: 40px 20px;
        }
    }

    &:hover .content2 {
        -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform-style: preserve-3d;
    }

}

.flipbox-2 {
    .flp-content {
        span {
            margin-bottom: 26px;
            display: inline-block;
            padding-bottom: 30px;
            position: relative;

            i {
                color: #fff;
                font-size: 70px;
            }

            &::before {
                position: absolute;
                content: "";
                background: #fff;
                width: 30px;
                height: 1px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                position: absolute;
                content: "";
                background: #fff;
                width: 20px;
                height: 1px;
                bottom: 6px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        h4 {
            color: #ffffff;
            font-size: 16px;
            margin: 0;
            font-weight: 300;
            text-transform: uppercase;
        }

        p {
            margin: 0;
            color: #ffffff;
            font-size: 14px;
            line-height: 24px;
            margin-top: 15px;
            font-family: $heading-font;
            font-weight: 300;
        }
    }
}


/*==========================
    Flipbox Style 03
============================*/




.flipbox-3 {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 330px;

}

.flipbox-3 {
    margin-top: 40px;

    .flip-front {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        -webkit-transform: none;
        transform: none;
        z-index: 1;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: #ffffff;

        .flp-content {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform: translateZ(0.1px);
            transform: translateZ(0.1px);
            .translate-text {
                -webkit-transform: translateZ(90px) scale(0.80);
                transform: translateZ(90px) scale(0.80);
            }

        }
    }


    &:hover .flip-front.animation-left {
        -webkit-transform: rotateX(0) rotateY(-180deg);
        transform: rotateX(0) rotateY(-180deg);
    }

    
    &:hover .flip-front.animation-top {
        -webkit-transform: rotateX(180deg) rotateY(0);
        transform: rotateX(180deg) rotateY(0);
    }

    &:hover .flip-front.animation-right {
        -webkit-transform: rotateX(0) rotateY(180deg);
        transform: rotateX(0) rotateY(180deg);
    }

    

    // Start Back Css

    .flip-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;


        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        &.animation-left{
            -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
        }

        &.animation-top{
            -webkit-transform: rotateX(-180deg) rotateY(0);
            transform: rotateX(-180deg) rotateY(0);
        }

        &.animation-right{
            -webkit-transform: rotateX(0) rotateY(-180deg);
            transform: rotateX(0) rotateY(-180deg);
        }

        .flp-content {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            text-align: center;
            padding: 26px 20px;
            text-align: center;

            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform: translateZ(0.1px);
            transform: translateZ(0.1px);

            .translate-text {
                -webkit-transform: translateZ(90px) scale(0.80);
                transform: translateZ(90px) scale(0.80);
            }
        }
        
    }

    &:hover .flip-back.animation-left {
        -webkit-transform: none;
        transform: none;
    }
    &:hover .flip-back.animation-top {
        -webkit-transform: none;
        transform: none;
    }

    &:hover .flip-back.animation-right {
        -webkit-transform: none;
        transform: none;
    }



}


/*=========================
    FlipBox Text
============================*/ 

.flipbox-3{
    .flip-front {
        .flp-content {
            text-align: center;

            span {
                width: 160px;
                display: inline-block;
                margin: 0 auto;
                text-align: center;
                height: 160px;
                border-radius: 100%;
                line-height: 160px;
                color: #fff;
                font-size: 60px;
            }

            h4 {
                color: #232323;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
                margin-top: 28px;
            }
        }
    }
    .flip-back {
        .flp-content {
            text-align: center;
            span {
                i {
                    color: #ffffff;
                    font-size: 60px;
                }
            }

            h4 {
                color: #ffffff;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
                margin-top: 24px;
                margin-bottom: 16px;
            }

            p {
                color: #ffffff;
                font-size: 14px;
                line-height: 24px;
                font-family: $heading-font;
                font-weight: 300;
                margin: 0;
            }
        }
    }
}






/*==========================
    Flipbox Style 04
============================*/


.flipbox-4{
    height: 270px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-top: 40px;

    .flp-content{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        text-align: center;
        padding: 35px;

        @media #{$lg-layout} {
            padding: 35px 10px;
        }

    }
    .flip-back{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: 0;


        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &.animation-left{
            -webkit-transform: translateX(-100%) translateY(0);
            transform: translateX(-100%) translateY(0);
        }

        &.derection-y{
            -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
        }

        &.derection-x{
            -webkit-transform: rotateX(180deg) rotateY(0);
            transform: rotateX(180deg) rotateY(0);
        }
        &.derection-right{
            -webkit-transform: translateX(100%) translateY(0);
            transform: translateX(100%) translateY(0);
        }
    }

    &:hover .flip-back{
        -webkit-transform: none;
        transform: none;
    }
    

    .flip-front{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        z-index: 1;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }


    &:hover .flip-front.animation-left{
        -webkit-transform: translateX(100%) translateY(0);
        transform: translateX(100%) translateY(0);
    }

    &:hover .flip-front.derection-y{
        -webkit-transform: rotateX(0) rotateY(-180deg);
        transform: rotateX(0) rotateY(-180deg);
        z-index: -1;
    }

    &:hover .flip-front.derection-x{
        -webkit-transform: rotateX(-180deg) rotateY(0);
        transform: rotateX(-180deg) rotateY(0);
        z-index: -1;
    }

    &:hover .flip-front.derection-right{
        -webkit-transform: translateX(-100%) translateY(0);
        transform: translateX(-100%) translateY(0);
    }


}




// Flip Text


.flipbox-4{
    border-radius: 20px;
    .flip-front{
        border: 1px dashed #ed552d;
        border-radius: 20px;
        background: #ffffff;
        .flp-content{
            span{
                i{
                    font-size: 60px;
                    color: #232323;
                }
            }
            h4{
                color: #232323;
                font-weight: 600;
                font-size: 16px;
                margin: 0;
                margin-top: 15px;
                text-transform: uppercase;
            }
        }
    }

    .flip-back{
        border: 1px dashed #ed552d;
        border-radius: 20px;
        background: #ed552d;

        .flp-content{
            p{
                color: #ffffff;
                font-size: 14px;
                line-height: 26px;
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                margin-bottom: 20px;
            }
            .flp-btn{
                display: inline-block;
                a{
                    color: #ffffff;
                    font-family: $heading-font;
                    font-weight: 700;
                    font-size: 14px;
                    display: inline-block;
                    border-bottom: 1px solid #ffffff;
                }
            }
           
        }
    }


}






/*==========================
    Flipbox Style 05
============================*/

.flipbox-5 {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 430px;
}
.flipbox-5{
    .square,
    .square2 {
        width: 100%;
        height: 100%;
    }
    .square {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}




.flipbox-5 {
    .square {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .square {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
    }

    .square2 {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .square2 {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .square2 {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}



/*Square content*/
.flipbox-5 {
    .square-container {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) scale(1);
        transform: translateY(-50%) translateX(0px) scale(1);
        transform-style: preserve-3d;
        z-index: 2;
    }

    &:hover .square-container {
        -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
        -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
        transform: translateY(-50%) translateX(-650px) scale(.88);
        transform-style: preserve-3d;
    }

    .square-container2 {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index: 2;
        
        @media #{$sm-layout} {
            padding: 40px 20px;
        }
    }

    &:hover .square-container2 {
        -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform-style: preserve-3d;
    }

}




/*Style text*/

.flipbox-5 {
    .square-container2 {
        h2 {
            color: #18012c;
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            margin-top: 25px;
            margin-bottom: 23px;
        }

        p {
            color: #232323;
            font-size: 16px;
            line-height: 26px;
            margin: 0;
            font-family: $heading-font;
        }
    }

}


/*Elements Bg Color & Image*/

.flipbox-5{
    margin-top: 40px;
    .flip-overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &.bg-1{
            background-image: url(img/flipbox/team-1.jpg);
        }
        &.bg-2{
            background-image: url(img/flipbox/team-2.jpg);
        }

        &.bg-3{
            background-image: url(img/flipbox/team-3.jpg);
        }

    }

    .square2 {
        .flip-overlay {
            display: block;
            background: #cde1e8;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
    }
    
}


