
/*=====================
    Google Map
=======================*/ 


#googleMap {
    height: 500px;
    width: 100%;
}

#googleMap2 {
    height: 600px;
    width: 100%;
}

#googleMap3 {
    height: 500px;
    width: 100%;
}

#googleMap4 {
    height: 600px;
    width: 100%;
}

.color-map {
    height: 570px;
    width: 100%;
    margin-top: 30px;
}

























