/*--------------------------
    Heading Style
------------------------------*/

/*--------------------------
// Heading Defult
------------------------------*/

.heading-1 {
    color: $theme-color;
    font-size: 48px;
    line-height: 1;
    font-family: $heading-font;
    font-weight: 700;
    @media #{$lg-layout} {
        font-size: 42px;
    }
    @media #{$md-layout} {
        font-size: 38px;
    }
    @media #{$sm-layout} {
        font-size: 32px;
    }
    @media #{$large-mobile} {
        font-size: 23px;
    }
}

.heading-2 {
    color: $theme-color;
    font-size: 36px;
    line-height: 1;
    font-family: $heading-font;
    font-weight: 700;
    margin-bottom: 8px;
    @media #{$lg-layout} {
        font-size: 30px;
    }
    @media #{$md-layout} {
        font-size: 26px;
    }
    @media #{$sm-layout} {
        font-size: 26px;
    }
    @media #{$large-mobile} {
        font-size: 23px;
    }
}

.heading-3 {
    color: $theme-color;
    font-size: 36px;
    line-height: 1;
    font-family: $heading-font;
    font-weight: 700;
    @media #{$lg-layout} {
        font-size: 30px;
    }
    @media #{$md-layout} {
        font-size: 26px;
    }
    @media #{$sm-layout} {
        font-size: 26px;
    }
    @media #{$large-mobile} {
        font-size: 23px;
    }
}

/*--------------------------
// Subtitle Defult
------------------------------*/

.subtitle {
    font-size: 16px;
    color: #494849;
    font-family: $body-font;
    margin: 5px 0;
    line-height: 30px;
    @media #{$sm-layout} {
        font-size: 14px;
        line-height: 25px;
    }
}

.subtitle-2 {
    color: #322242;
    font-weight: 500;
}

.subtitle-3 {
    color: #494849;
    font-weight: 500;
    margin-bottom: 5px;
}

/*--------------------------
// Heading  Css
------------------------------*/

.ht-heading {
    z-index: 1;
    &.center-icon {
        img {
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
        }
    }
    & .heading-bg-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        color: #f1f1f1;
        font-size: 80px;
        font-weight: 800;
        line-height: 28px;
        margin: 0;
        width: 100%;
        text-align: center;
        font-family: $heading-font;
        text-transform: uppercase;
        &.heading-bg--textleft {
            text-align: left;
        }
        &.heading-bg--textright {
            text-align: right;
        }
        @media #{$lg-layout} {
            font-size: 60px;
        }
        @media #{$md-layout} {
            font-size: 50px;
        }
        @media #{$sm-layout} {
            font-size: 40px;
        }
    }
    .middle-align-border {
        position: relative;
        display: inline-block;
        padding: 0 10.5%;
        @media #{$lg-layout} {
            padding: 0 14.5%;
        }
        @media #{$md-layout} {
            padding: 0 17.5%;
        }
        @media #{$sm-layout} {
            padding: 0 12.5%;
        }
        @media #{$large-mobile} {
            padding: 0;
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 100px;
            height: 3px;
            background: #412e51;
            top: 50%;
            @media #{$sm-layout} {
                width: 50px;
            }
            @media #{$large-mobile} {
                display: none;
            }
        }
        &::after {
            position: absolute;
            content: "";
            right: 0;
            width: 100px;
            height: 3px;
            background: #412e51;
            top: 50%;
            @media #{$sm-layout} {
                width: 50px;
            }
            @media #{$large-mobile} {
                display: none;
            }
        }
    }
    & .heading-bg-img {
        line-height: 57px;
        margin-bottom: 3px;
        background: url(img/icons/heading-bg.jpg) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        /* Animate Background Image */
        -webkit-text-fill-color: transparent;
        -webkit-animation: heading-animation-1 80s linear infinite;
        /* Activate smoother animations */
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        @media #{$sm-layout} {
            line-height: 1.2;
        }
    }
    p {
        &.heading-border-bottom {
            position: relative;
            padding-bottom: 8px;
            margin-bottom: 12px;
            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                width: 70px;
                height: 2px;
                background: $theme-color;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &.heading-border-left {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            height: 70px;
            width: 5px;
            background: $theme-color;
            top: 50%;
            transform: translateY(-50%);
            @media #{$large-mobile} {
                height: 50px;
            }
        }
    }
    &.heading-border-right {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            right: 0;
            height: 70px;
            width: 5px;
            background: $theme-color;
            top: 50%;
            transform: translateY(-50%);
            @media #{$large-mobile} {
                height: 50px;
            }
        }
    }
    &.heading-style-5 {
        p {
            &.subtitle {
                font-weight: 500;
            }
        }
    }
}

/*----------------------------
    Animate Background Image
----------------------------*/

@-webkit-keyframes heading-animation-1 {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes heading-animation-1 {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}