


/*-----------------------------
    Image Grid Layout
-------------------------------*/



.single-image-grid{
    .thumb{
        a{
            img{
                width: 100%;
            }
        }
    }
}
.image-grid-default {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-top: 30px;
    overflow: hidden;

    .thumb{
        overflow: hidden;
        a{
            position: relative;
            display: block;
            z-index: 2;
            &::before{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.5);
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                content: "";
                z-index: 1;
            }
            
            img{
                display: block;
                position: relative;
                -webkit-transition: all .4s linear;
                transition: all .4s linear;
            }
        }
    }
    &:hover .thumb a::before{
        opacity: 1;
    }
    &:hover .thumb a img{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .image-grid-content{
        h2{
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: absolute;
            font-size: 17px;
            background: rgba(0, 0, 0, 0.6);
            -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 10px;
            width: 100%;
            top: 0;
            z-index: 3;
        }
        a{
            &.read-btn{
                text-decoration: none;
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #fff;
                background-color: transparent;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                margin: 50px 0 0;
                padding: 7px 14px;
                position: absolute;
                top: 50%;
                margin: 0;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-70%);
                        transform: translateX(-50%) translateY(-70%);
                &:hover{
                    -webkit-box-shadow: 0 0 5px #fff;
                    box-shadow: 0 0 5px #fff;
                }
            }
        }
    }
    &:hover .image-grid-content{
        opacity: 1;
        filter: alpha(opacity=100);
    }

    &:hover .image-grid-content h2{
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    &:hover .image-grid-content a.read-btn{
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        -webkit-transition-delay: .2s;
                transition-delay: .2s;
        z-index: 4;
    }


}




/*-----------------------------
    Image Grid style 2
-------------------------------*/


.custom-col-5{
    padding-left: 0px;
    padding-right: 0px;
    flex: 0 0 20%;
    max-width: 20%;

    @media #{$md-layout} {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    @media #{$sm-layout} {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media #{$large-mobile} {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    @media #{$small-mobile} {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

}


.image-grid-style-2 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    .thumb{
        overflow: hidden;
        a{
            position: relative;
            display: block;
            z-index: 2;
            &::before{
                width: 100%;
                height: 100%;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.6);
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transform: translate(460px, -100px) rotate(180deg);
                transform: translate(460px, -100px) rotate(180deg);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                content: "";
                z-index: 1;
            }
            img{
                display: block;
                position: relative;
                -webkit-transition: all .4s linear;
                transition: all .4s linear;
                width: 100%;
            }
        }
    }
    &:hover .thumb a::before{
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    &:hover .thumb a img{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .image-grid-content{
        h2{
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0;
            transition: 0.4s ease-in-out;
        }
        a{
            &.read-btn{
                display: inline-block;
                text-decoration: none;
                padding: 7px 14px;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #fff;
                background-color: transparent;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                z-index: 4;
                left: 50%;
                position: absolute;
                top: 50%;
                -webkit-transform: translateX(-50%) translateY(-80%);
                        transform: translateX(-50%) translateY(-80%);
                opacity: 0;
                &:hover{
                    -webkit-box-shadow: 0 0 5px #fff;
                            box-shadow: 0 0 5px #fff;
                }
            }
        }
    }
    &:hover .image-grid-content{
        opacity: 1;
        filter: alpha(opacity=100);
    }

    &:hover .image-grid-content h2{
        position: absolute;
        top: 20px;
        z-index: 3;
        opacity: 1;
    }
    &:hover .image-grid-content a.read-btn{
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        
    }


    &.gardening-gallery{
        .thumb{
            a{
                &::before{
                    width: auto;
                    height: auto;
                    top: 10px;
                    left: 10px;
                    background-color: rgba(109, 195, 46, 0.6);
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
        .image-grid-content {
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: 3;
            text-align: center;
            transform: translateY(-50%);
            transition: 0.4s ease-in-out;
            opacity: 0;
            .hover-action{
                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    li {
                        margin: 0 6px;
                        a{
                            i{
                                width: 50px;
                                border: 2px solid #fff;
                                color: #fff;
                                height: 50px;
                                line-height: 46px;
                                border-radius: 100%;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
        &:hover .image-grid-content{
            opacity: 1;
        }
    }

    &.resturant-gallery{
        .thumb{
            a{
                &::before{
                    width: auto;
                    height: auto;
                    top: 10px;
                    left: 10px;
                    background-color: rgba(229, 76, 42, 0.6);
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
        .image-grid-content {
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: 3;
            text-align: center;
            transform: translateY(-50%);
            transition: 0.4s ease-in-out;
            opacity: 0;
            .hover-action{
                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    li {
                        margin: 0 6px;
                        a{
                            i{
                                width: 50px;
                                border: 2px solid #fff;
                                color: #fff;
                                height: 50px;
                                line-height: 46px;
                                border-radius: 100%;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
        &:hover .image-grid-content{
            opacity: 1;
        }
    }



}















/*-----------------------------
    Image Grid style 3
-------------------------------*/


.image-grid-style-3{
    .thumb{
        overflow: hidden;
        a{
            img{
                transition: 0.4s ease-in-out;
            }
        }
    }
    &:hover .thumb a img{
        transform: scale(1.1) rotate(3deg);

    }
}


/*-----------------------------
    Image Grid style 4
-------------------------------*/

.image-grid-style-4{
    margin-top: 20px;
    position: relative;
    .thumb{
        a{
            img{
                width: 100%;
            }
        }
    }
    .image-grid-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.3s ease-out;
        transition-property: opacity,transform,filter;
        background: rgba(255,255,255,0.8);
        opacity: 0;
        .content{
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
            padding: 0 80px;
            h2{
                a{
                    color: $heading-color;

                }
            }
            p{
                font-size: 16px;
                font-family: $heading-font;
                font-weight: 500;
                margin: 0;
                line-height: 28px;
            }
        }
    }
    
    &:hover .image-grid-content{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}


/*-----------------------------
    Image Grid style 5
-------------------------------*/

.image-grid-style-5{
    margin-top: 50px;
    position: relative;
    .thumb{
        a{
            img{
                width: 100%;
            }
        }
    }
    .image-grid-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.3s ease-out;
        transition-property: opacity,transform,filter;
        background: rgba(0,0,0,0.8);
        opacity: 0;
        .content{
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
            padding: 0 20px;
            h2{
                color: #ffffff;
                margin-bottom: 5px;
                font-size: 23px;
                a{
                    color: #ffffff;
                }
            }
            p{
                font-size: 16px;
                font-family: $heading-font;
                font-weight: 500;
                margin: 0;
                line-height: 26px;
                color: #ffffff;
            }
        }
    }
    
    &:hover .image-grid-content{
        opacity: 1;
        transform: translateX(0) translateY(0);
    }

}








/*-----------------------------
    Image Justify layout
-------------------------------*/

.single-image-grid-2 .thumb a {
    display: block;
}

.single-image-grid-2 .thumb a img{
    width: 100%;
}












