/* =============================
    Image Magnifier Style
===================================*/

.glass {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    cursor: crosshair;
    box-shadow:
        0 0 0 7px rgba(255, 255, 255, 0.85),
        0 0 7px 7px rgba(0, 0, 0, 0.25),
        inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}

/* Image Magnifier 4 */

.img-magnifier-container {
    position: relative;
    display: block;

    img {
        width: 100%;
    }
}

.img-magnifier-glass {
    position: absolute;
    border: 2px solid #e6b7c1;
    border-radius: 50%;
    cursor: none;
    width: 200px;
    height: 200px;
    @media #{$sm-layout} {
        width: 100px;
        height: 100px;
    }
}











