/*=====================================
    Instagram Style StartUp
=======================================*/

.intagramfeed_inner {
    ul {
        &.instagram-list {
            padding: 0;
            margin: 0;
            list-style: none;
            margin: 0 -5px;

            > li {
                float: left;
                margin: 0 5px;
                margin-bottom: 10px;
                overflow: hidden;
                position: relative;

                @media #{$sm-layout} {
                    width: 47%;
                }

                @media #{$large-mobile} {
                    width: 100%;
                }

                > a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }

            }
        }
    }
}


/*==========================
    Instagram Style 01
===========================*/


.ht-instagram {
    ul {
        &.instagram-list {
            margin: 0 -5px;
            overflow: hidden;

            li {
                float: left;
                margin: 0 5px;
                margin-bottom: 10px;
                overflow: hidden;
                position: relative;

                >a {
                    display: block;
                    position: relative;
                }

                .instagram-clip {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    z-index: 3;
                    height: 100%;
                    transition: 0.4s ease-in-out;
                    opacity: 0;

                    &::before {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.7);
                        content: "";
                        left: 10px;
                        top: 10px;
                        bottom: 10px;
                        right: 10px;
                        z-index: -1;

                    }

                    .content {
                        .instagram-like-comment {
                            padding: 30px 0;

                            span {
                                color: #fff;
                                margin: 0 15px;

                                i {
                                    padding-right: 10px;
                                }
                            }
                        }

                        .instagram-btn {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 100%;

                            a {
                                i {
                                    color: #fff;
                                    font-size: 43px;
                                }
                            }
                        }

                    }
                }

                &:hover .instagram-clip {
                    opacity: 1;
                }

            }
        }
    }
}


/*======================================
    Follow Instagram Btn
===================================*/
.intagramfeed_inner {
    text-align: center;
}

button {
    &.instagram_follow_btn {
        background: #f75876;
        color: #fff;
        border: 0 none;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        transition: 0.4s ease-in-out;

        &:hover {
            opacity: 0.7;
        }

        i {
            background: #e4405f;
            width: 42px;
            height: 42px;
            line-height: 42px;
            font-size: 16px;
        }

        span {
            padding: 0 16px;
            font-family: $heading-font;
            font-weight: 600;
            height: 42px;
            line-height: 42px;
        }

        &.possition-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            background: #ffffff;
            border-radius: 6px;
            color: #000000;
            span {
                padding: 0 24px;
                @media #{$sm-layout} {
                    padding: 0 14px;
                    font-size: 12px;
                    line-height: 36px
                }
            }
        }
    }
}






/*==========================
    Instagram Style 02
===========================*/


.ht-instagram-2 {
    ul {
        li {
            position: relative;

            a {
                img {
                    transition: all .15s ease-in-out;
                }
            }

            // Action
            .instagram-clip {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 50px;
                background: rgba(288, 64, 95, 0.9);
                display: flex;
                justify-content: space-around;
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
                transition: all .15s ease-in-out;
                color: #FFF;

                .instagram-like-comment {
                    display: flex;
                    align-items: center;

                    span {
                        margin: 0 15px;

                        i {
                            padding-right: 7px;
                        }
                    }
                }
            }

            &:hover .instagram-clip {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

            &:hover a img {
                opacity: .7;
                -webkit-transform: scale(1.15) translate3d(0, 0, 0);
                transform: scale(1.15) translate3d(0, 0, 0);
            }

        }
    }

}


/*==========================
    Instagram Style 03
===========================*/

.ht-instagram-3 {
    ul {
        &.instagram-list {
            &.no-space {
                margin: 0;
                margin-left: -15px;
                margin-right: -15px;
            }

            li {
                margin: 0;
                margin-bottom: 0;
                overflow: hidden;

                &.fancybox {
                    a {
                        position: relative;
                        display: block;

                        &::before {
                            background-color: rgba(0, 0, 0, 0.9);
                            bottom: 25px;
                            content: "";
                            left: 25px;
                            opacity: 0;
                            position: absolute;
                            right: 25px;
                            top: 25px;
                            -webkit-transform: scale3d(1.2, 1.2, 1.2);
                            transform: scale3d(1.2, 1.2, 1.2);
                            transition: all 500ms ease-in 0s;
                        }

                        &::after {
                            background: rgba(0, 0, 0, 0) url(img/icons/plus.png) no-repeat scroll 0 0;
                            content: "";
                            height: 68px;
                            left: 50%;
                            margin-left: -24px;
                            margin-top: -26px;
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            transition: all 500ms ease-in 0s;
                            width: 68px;
                        }


                    }

                    &:hover a::before {
                        opacity: 1;
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                    }

                    &:hover a::after {
                        -webkit-animation: 500ms ease-in-out 0s normal none 1 running zoomIn;
                        animation: 500ms ease-in-out 0s normal none 1 running zoomIn;
                        opacity: 1;
                    }
                }

                a {
                    img {
                        transition: 0.3s ease-out;
                        transition-property: opacity, transform, filter;
                        width: 100%;
                    }
                }

                &:hover a img {
                    transform: scale3d(1.1, 1.1, 1);
                    opacity: 0.8;
                }
            }
        }
    }
}


.ht-instagram-3 {
    .slick-arrow {
        position: absolute;
        top: 45%;
        left: -20px;
        z-index: 2;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #f75876;
        border: 1px solid #f75876;
        color: #fff;
        text-align: center;
        transition: 0.4s ease-in-out;
        opacity: 0;
    }

    .instagram-next {
        &.slick-arrow {
            left: auto;
            right: -20px;
        }
    }

}


.ht-instagram-3 ul.instagram-list:hover .slick-arrow {
    opacity: 1;
    left: 0;
}

.ht-instagram-3 ul.instagram-list:hover .instagram-next.slick-arrow {
    opacity: 1;
    right: 0;
    left: auto;
}



/*==========================
    Instagram Style 04
===========================*/

.ht-instagram-4 {
    ul {
        &.instagram-list {
            li {
                margin: 0;
                margin-bottom: 0;
                overflow: hidden;
                width: 25%;
                
                @media #{$sm-layout} {
                    width: 50%;
                }

                @media #{$large-mobile} {
                    width: 100%;
                }

                a {
                    img {
                        transition: 0.3s ease-out;
                        transition-property: opacity, transform, filter;
                        width: 100%;
                    }
                }

                &:hover a img {
                    transform: scale3d(1.2, 1.2, 1);
                    opacity: 0.6;
                }
            }
        }
    }
}