/*=================================
    LightBox Style
======================================*/


/*=================================
    LightBox Style 01
======================================*/
.ht-lightbox {
    position: relative;
    margin-top: 30px;
    .thumb {
        img{
            width: 100%;
        }
        a {
            img {
                width: 100%;
            }
        }
    }

    .action {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        left: 0;
        opacity: 0;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
            content: "";
            left: 0;
        }

        a {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;

            i {
                border: 1px solid #fff;
                width: 30px;
                height: 30px;
                display: inline-block;
                line-height: 30px;
                color: #fff;
                border-radius: 100%;
                font-size: 25px;
                text-align: center;
            }

            &.play__btn {
                i {
                    border: 1px solid transparent;
                }
            }
        }
    }

    &:hover .action {
        opacity: 1;
    }
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}