


/*================================
    LogIn Style
=================================*/ 


/*=============
    LogIn Style 01
=================================*/ 


.login-style-1 {
    background:  #fff;
    box-shadow:  0 0 10px rgba(0,0,0,0.1);
    padding: 50px 70px;

    @media #{$small-mobile} {
        padding: 30px 20px;
    }

    h2 {
        color: #000000;
        font-size: 30px;
        font-weight:  600;
        margin-bottom: 21px;
        font-family: $heading-font;
    }
    form{
        label {
            color:  #000000;
            font-size:  13px;
            font-weight:  300;
            margin-bottom: 10px;
            font-family: $heading-font;
        }
        input:not([type="checkbox"]) {
            background: transparent;
            border: 1px solid #f2f2f2;
            color: #757575;
            font-size: 12px;
            margin-bottom: 24px;
            font-family: "Montserrat", sans-serif;
            height: 50px;

            &[type="submit"] {
                margin:  0;
                margin-top: 40px;
                width:  auto;
                background:  #0056ff;
                color: #fff;
                height:  43px;
                padding:  0 40px;
                font-weight: 600;
                text-transform:  uppercase;
                font-size: 14px;
                border: 0 none;
                transition: 0.4s ease-in-out;
                &:hover{
                    background: $theme-color;
                    color: #fff;
                }
            }
        }
        
        
    }


}




// Login Remember

.log-remember {
    display:  flex;
    justify-content:  space-between;
    align-items:  center;
    font-family: $heading-font;
    a{
        &.fright{
            color:  #b1b1b1;
            font-size:  12px;
            transition: 0.4s;
            font-family: $heading-font;
        }
    }
}


/* The lable-content */
.lable-content {
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: $heading-font;
}

.login-wrapper form .log-remember label {
    margin: 0;
}

/* Hide the browser's default checkbox */
.lable-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #0056ff;
    margin-top: 4px;

}

/* On mouse-over, add a grey background color */
.lable-content:hover input ~ .checkmark {
    border: 1px solid #0056ff;
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: block;
}

/* Show the checkmark when checked */
.lable-content input:checked ~ .checkmark:after {
    display: none;
}

/* Style the checkmark/indicator */
.lable-content .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 9px;
    border: solid #0056ff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}








/*=============
    LogIn Style 02
=================================*/ 


.login-style-2{
    text-align:  center;
    h2 {
        color:  #ffffff;
        font-size: 36px;
        margin-bottom: 10px;
    }
    p {
        color:  #ffffff;
        font-size: 14px;
        margin-bottom: 19px;
    }
    form{
        input {
            margin-top: 30px;
            border:  1px solid #ffffff;
            border-radius: 5px;
            height:  60px;
            color:  #fff;
            padding: 0 20px;
            &[type="submit"] {
                background: #0056ff;
                border: 0 none;
                font-size: 24px;
                text-transform: uppercase;
                height: 60px;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                margin-bottom: 20px;
                &:hover{
                    background: $theme-color;
                    color: #ffffff;
                }
            }
        }
    }
    .separator{
        span{
            display:  block;
            color: #fff;
            font-size:  14px;
            font-weight:  600;
            margin-top: 30px;
            position:  relative;
            font-family: $heading-font;
            &::before ,
            &::after{
                position:  absolute;
                left:  0;
                top: 50%;
                background:  #fff;
                width: 235px;
                height:  2px;
                content:  "";
                @media #{$large-mobile} {
                    width: 174px;
                }
                @media #{$small-mobile} {
                    width: 108px;
                }
            }
            &::after{
                left: auto;
                right: 0;
            }

        }
    }
}






.login-style-2 .log-remember a.fright {
    color: #ffffff;
}

// placeholder Color

.login-style-2  form input::-webkit-input-placeholder {
    color: #ffffff;
}
.login-style-2  form input::-moz-placeholder {
    color: #ffffff;
}
.login-style-2  form input:-ms-input-placeholder {
    color: #ffffff;
}
.login-style-2  form input:-moz-placeholder {
    color: #ffffff;
}

/* Style the checkmark/indicator */
.login-style-2 .checkmark ,
.login-style-4 .checkmark {
    border: 1px solid #ffffff;

}
.login-style-2 .lable-content ,
.login-style-4 .lable-content  {
    color: #ffffff;
    font-size: 12px;
}
.login-style-2 .lable-content .checkmark:after ,
.login-style-4 .lable-content .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.login-style-2  .lable-content:hover input ~ .checkmark ,
.login-style-4  .lable-content:hover input ~ .checkmark {
    border: 1px solid #ffffff;
}





/*===========================
    Social Icons Style 01
=============================*/ 
.login-socialmedia {
    list-style:  none;
    padding:  0;
    margin:  0;
    display:  flex;
    justify-content:  center;

    @media #{$md-layout} {
        flex-wrap: wrap;
    }
    @media #{$sm-layout} {
        flex-wrap: wrap;
    }
    li{
        margin: 0 5px;

        @media #{$md-layout} {
            margin-bottom: 10px;
        }

        @media #{$sm-layout} {
            margin-bottom: 10px;
        }
        a{
            display: block;
            height:  45px;
            line-height: 45px;
            color: #fff;
            text-transform:  uppercase;
            font-size: 14px;
            &:hover{
                opacity: 0.7;
            }
            i{
                width:  47px;
                text-align:  center;
                font-size: 19px;
                border-right: 1px solid #a06bbf;
                height:  45px;
                line-height: 45px;
            }
            span{
                width:  115px;
                display:  inline-block;
            }
        }
    }
    
}





/*==========
   Register Style 3
=========================================*/





.login_left {
    padding: 96px 40px;

    @media #{$small-mobile} {
        padding: 46px 26px;
    }
    .content{
        h2 {
            color:  #ffffff;
            font-size: 60px;
            font-weight: 600;
            margin-bottom: 7px;
        }
        p {
            color:  #ffffff;
            font-size: 14px;
            line-height:  24px;
            padding-right: 7%;
        }
    }
    
    .register-with-social {
        margin-top: 100px;
        p {
            color:  #ffffff;
            font-size: 16px;
        }
    }

}


.register-icon {
    padding:  0;
    list-style: none;
    display:  flex;
    margin: 0;
    li{
        margin-right: 10px;
        a{
            
            height:  36px;
            display:  block;
            width:  70px;
            text-align:  center;
            line-height: 36px;
            border-radius: 18px;
            color:  #ffffff;
            font-size: 24px;
            transition: 0.4s;

            &.facebook{
                background:  $facebook;
                &:hover{
                    opacity: 0.7;
                }
            }
            &.twitter{
                background:  $twitter;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}




.login-style-3{
    padding: 0px 40px;

    @media #{$md-layout} {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    @media #{$sm-layout} {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .login-title{
        h2 {
            color:  #000000;
            font-size:  24px;
            font-weight:  600;
            margin-bottom: 7px;
        }
        p {
            color:  #000000;
            font-size:  14px;
            line-height: 24px;
            margin: 0;
        }
    }
    form{
        input {
            margin-top: 17px;
            border:  0 none;
            border-bottom: 1px solid #687ea5;
            padding: 0;
            color:  #687ea5;
            font-size: 12px;
            font-weight: 300;
            font-family: $heading-font;
            &[type="submit"] {
                background: #0056ff;
                color: #fff;
                width: auto;
                height: 50px;
                padding: 0 55px;
                border: 0 none;
                font-size: 14px;
                text-transform: uppercase;
                transition: 0.5s;
                font-weight: 600;
                margin-top: 40px;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}

.login-form.form-bg-four{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
}




// placeholder Color

.login-style-3  form input::-webkit-input-placeholder {
    color: #687ea5;
}
.login-style-3  form input::-moz-placeholder {
    color: #687ea5;
}
.login-style-3  form input:-ms-input-placeholder {
    color: #687ea5;
}
.login-style-3  form input:-moz-placeholder {
    color: #687ea5;
}







/*==========
   Register Style 4
=========================================*/





.login-style-4 {
    padding: 100px 56px;
    text-align:  center;

    @media #{$sm-layout} {
        padding: 50px 10px;
    }
    .login-title {
        margin-bottom: 60px;
        margin-top: -145px;

        @media #{$sm-layout} {
            margin-top: -78px;
        }
        &.triangle{
            position: relative;
            
        }
        h2 {
            color: #0056ff;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            background: #fff;
            display: inline-block;
            padding: 0 100px;
            height: 90px;
            line-height: 91px;
            position: relative;

            @media #{$sm-layout} {
                padding: 0 51px;
                height: 81px;
                line-height: 81px;
            }   

            &::after{
                position: absolute;
                top: -11px;
                border-right: 45px solid transparent;
                border-top: 11px solid transparent;
                border-bottom: 45px solid #dedede;
                content: "";
                left: 100%;
            }
            &::before{
                position: absolute;
                top: -11px;
                border-left: 45px solid transparent;
                border-top: 11px solid transparent;
                border-bottom: 45px solid #dedede;
                content: "";
                right: 100%;
            
            }
        }
    }
    .account-thumb{
        margin-bottom: 30px;
        img{

        }
    }
    form{
        .input_box {
            display:  flex;
            margin-bottom: 30px;
            align-items:  center;
            i {
                background: rgba(255,255,255,0.3);
                height: 70px;
                width: 88px;
                font-weight:  400;
                line-height:  70px;
                color:  #ffffff;
                text-align:  center;
                font-size: 34px;
                border-radius: 8px 0 0 8px;

                @media #{$sm-layout} {
                    height: 60px;
                    width: 77px;
                    line-height: 60px;
                }
            }
            input {
                background:  rgba(255,255,255,0.3);
                border: 0 none;
                margin-left:  2px;
                height:  70px;
                border-radius: 0 8px 8px 0;
                padding: 0 50px;
                color:  #ffffff;
                font-size:  16px;
                font-family: $body-font;

                @media #{$sm-layout} {
                    height: 60px;
                    padding: 0 9px;
                    font-size: 12px;
                }
            }
        }
        input {
            &[type="submit"] {
                border: 3px solid #fff;
                border-radius: 8px;
                color: #fff;
                box-sizing: border-box;
                height: 70px;
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 51px;
                font-family: "Montserrat", sans-serif;
                margin: 0;
                margin-top: 30px;
                &:hover{
                    background: #ffffff !important;
                    color: $theme-color;
                }
            }
            
        }
    }
    .login{
        a{
            border:  3px solid #ffffff;
            display:  block;
            height:  90px;
            line-height:  90px;
            color:  #fff;
            font-size:  24px;
            font-weight:  600;
            border-radius:  8px;
            margin-top: 56px;
            transition: 0.5s;
            font-family: $heading-font;
            &:hover{
                background: #ffffff;
                color: $theme-color;
            }
        }
    }
    .separator{
        span{
            color:  #ffffff;
            font-size:  24px;
            font-weight:  500;
            padding: 0 24px;
            background:  transparent;
            position:  relative;
            z-index: 99;
            display:  block;
            font-family: $heading-font;
            &::before {
                content:  "";
                width: 130px;
                height:  1px;
                left:  0;
                top: 50%;
                background:  #fff;
                position:  absolute;
                display:  block;
            }
            &::after {
                background:  #fff;
                position:  absolute;
                content:  "";
                width:  130px;
                height:  1px;
                right:  0;
                top: 50%;
            }
        }

    }
}

.login-style-4 form input[type="submit"]:hover {
    background: #fff;
    color: $theme-color;
}
// placeholder Color

.login-style-4  form input::-webkit-input-placeholder {
    color: #ffffff;
}
.login-style-4  form input::-moz-placeholder {
    color: #ffffff;
}
.login-style-4  form input:-ms-input-placeholder {
    color: #ffffff;
}
.login-style-4  form input:-moz-placeholder {
    color: #ffffff;
}
.login-style-4 .log-remember a.fright {
    color: #ffffff;
}






/*==========
   Register Style 5
=========================================*/






.login-style-5 {
    text-align:  center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    .login-form {
        padding: 60px 120px;

        @media #{$large-mobile} {
            padding: 40px 30px;
        }
        img {
            margin-bottom: 50px;
            
            @media #{$large-mobile} {
                margin-bottom: 21px;
            }
        }
    }
    form{
        input {
            background:  rgba(255,255,255,0.5);
            border:  0 none;
            height:  50px;
            margin-bottom:  30px;
            border-radius: 9px;
            text-align:  center;
            padding:  0 20px;
            color:  #585858;
            font-weight:  300;
            font-size: 12px;
            font-family: $heading-font;
            &[type="submit"] {
                background:  transparent;
                border:  2px solid #fff;
                width:  auto;
                height:  50px;
                padding: 0 46px;
                font-size:  24px;
                color:  #ffffff;
                font-weight: 600;
                text-transform:  uppercase;
                margin: 0;
                transition: 0.4s ease-in-out;
                &:hover{
                    border:  2px solid #fff;
                    background: #ffffff;
                    color: $theme-color;
                }
            }
        }
    }
}




.loginfooter {
    padding: 70px 0;
    .login-social-icons {
        list-style: none;
        padding:  0;
        margin: 0;
        li{
            margin-bottom: 20px;
            a{
                display: inline-block;
                height:  65px;
                line-height: 65px;
                color:  #fff;
                border-radius: 9px;
                font-family: $heading-font;
                transition: 0.3s ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
                i{
                    width:  70px;
                    text-align:  center;
                    height:  65px;
                    border-right: 1px solid #ffffff;
                    line-height:  65px;
                    font-size: 23px;

                    @media #{$large-mobile} {
                        width: 54px;
                    }
                }
                span{
                    width:  230px;
                    display: inline-block;
                    text-align:  center;
                    font-size:  16px;

                    @media #{$large-mobile} {
                        width: auto;
                        font-size: 14px;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
    a{
        &.register-btn{
            color:  #616161;
            font-size:  18px;
            font-weight:  400;
            margin-top: 56px;
            display:  block;
            font-family: $heading-font;
        }
    }
}




// placeholder Color

.login-style-5  form input::-webkit-input-placeholder {
    color: #585858;
}
.login-style-5  form input::-moz-placeholder {
    color: #585858;
}
.login-style-5  form input:-ms-input-placeholder {
    color: #585858;
}
.login-style-5  form input:-moz-placeholder {
    color: #585858;
}




// Loginfocus Color

.login-form  form input:focus{
    border: 1px solid $theme-color;
}
.login-form .login-style-3 form input:focus{
    border: 0 none;
    border-bottom: 1px solid $theme-color;
}
