/*===========================
    Marker With Pointer 
==============================*/


/*===========================
    Marker Style 01
==============================*/

.marker-style-1 {
    padding: 245px 0;

    .pointer__tooltip {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 3px solid #ed552d;
        background-color: #fff;
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 32px;

        .tooltip__box {
            background: #fff;
            width: 240px;
            position: absolute;
            top: 0;
            right: 50%;
            -webkit-transform: translate3d(50%, -100%, 0);
            transform: translate3d(50%, -100%, 0);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
            z-index: 10;
            padding: 20px;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            text-align: center;

            h4 {
                font-size: 20px;
                margin-bottom: 7px;
            }

            p {
                font-size: 13px;
                line-height: 24px;
                margin: 0;
            }
        }

        &:hover .tooltip__box {
            visibility: visible;
            opacity: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transform: translateY(-110%) translateX(50%);
            transform: translateY(-110%) translateX(50%);
        }

        &::before {
            content: "\f129";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-family: FontAwesome;
            color: #ed552d;
            font-size: 18px;
            width: 100%;
            height: 100%;
        }


        &.pointer--1 {
            position: absolute;
            left: 66%;
            top: 15%;

            @media #{$large-mobile} {
                left: 50%;
            }
        }

        &.pointer--2 {
            position: absolute;
            left: 80%;
            top: 25%;

            @media #{$large-mobile} {
                left: 35%;
                top: 29%;
            }
        }

        &.pointer--3 {
            left: 38%;
            top: 6%;
        }

        &.pointer--4 {
            left: auto;
            top: 73%;
            right: 27%;
            position: absolute;
        }
    }

}




/*===========================
    Marker Style 02
==============================*/

.marker-style-2 {
    padding: 245px 0;

    .pointer__tooltip {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        border: 5px solid #dddddd;
        background-color: #fff;
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 38px;

        .tooltip__box {
            background: #fff;
            width: 240px;
            position: absolute;
            top: 0;
            right: 50%;
            -webkit-transform: translate3d(50%, -100%, 0);
            transform: translate3d(50%, -100%, 0);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
            z-index: 10;
            padding: 20px;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            text-align: center;

            h4 {
                font-size: 20px;
                margin-bottom: 7px;
            }

            p {
                font-size: 13px;
                line-height: 24px;
                margin: 0;
            }
        }

        &:hover .tooltip__box {
            visibility: visible;
            opacity: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transform: translateY(-110%) translateX(50%);
            transform: translateY(-110%) translateX(50%);
        }

        &::before {
            content: "\f067";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-family: FontAwesome;
            color: #ed552d;
            font-size: 18px;
            width: 100%;
            height: 100%;
            transition: 0.4s ease-in-out;
        }

        &:hover::before {
            transform: translateX(-50%) translateY(-50%) rotate(47deg);
        }

        &.pointer--1 {
            position: absolute;
            left: 50%;
            top: 26%;
        }

        &.pointer--2 {
            position: absolute;
            left: 40%;
            top: 53%;
        }

        &.pointer--3 {
            left: 22%;
            top: 13%;
            position: absolute;
        }

        &.pointer--4 {
            top: 73%;
            position: absolute;
            left: 23%;
        }

        &.pointer--5 {
            position: absolute;
            left: 54%;
            top: 64%;

            @media #{$large-mobile} {
                left: 53%;
                top: 82%;
            }
        }

        &.pointer--6 {
            left: 75%;
            top: 49%;
            position: absolute;
            @media #{$large-mobile} {
                left: 27%;
                top: 39%;
            }
        }
    }
}


/*===========================
    Marker Style 03
==============================*/

.marker-style-3 {
    padding: 245px 0;

    .pointer__tooltip {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background-color: #000000;
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 49px;
        z-index: 2;

        .tooltip__box {
            background: #000000;
            width: 240px;
            position: absolute;
            top: 0;
            right: 50%;
            -webkit-transform: translate3d(50%, -100%, 0);
            transform: translate3d(50%, -100%, 0);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
            z-index: 10;
            padding: 20px;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            text-align: center;

            h4 {
                font-size: 20px;
                margin-bottom: 7px;
                color: #ffffff
            }

            p {
                font-size: 13px;
                line-height: 24px;
                margin: 0;
                color: #ffffff
            }
        }

        &:hover .tooltip__box {
            visibility: visible;
            opacity: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transform: translateY(-110%) translateX(50%);
            transform: translateY(-110%) translateX(50%);
        }

        &::before {
            content: "\f067";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-family: FontAwesome;
            color: #ffffff;
            font-size: 18px;
            width: 100%;
            height: 100%;
            transition: 0.4s ease-in-out;
        }

        &::after {
            position: absolute;
            left: 2px;
            background: #000;
            content: "";
            right: 2px;
            top: 2px;
            bottom: 2px;
            border-radius: 100%;
            border: 2px solid #fff;
            z-index: -1;
        }

        &:hover::before {
            transform: translateX(-50%) translateY(-50%) rotate(47deg);
        }

        &.pointer--1 {
            position: absolute;
            left: 50%;
            top: 26%;
        }

        &.pointer--2 {
            position: absolute;
            left: 40%;
            top: 53%;
        }

        &.pointer--3 {
            left: 22%;
            top: 13%;
            position: absolute;
        }

        &.pointer--4 {
            top: 73%;
            position: absolute;
            left: 23%;
        }

        &.pointer--5 {
            position: absolute;
            left: 54%;
            top: 64%;
        }

        &.pointer--6 {
            left: 75%;
            top: 49%;
            position: absolute;
            @media #{$small-mobile} {
                display: none;
            }
        }
    }
}



/*===========================
    Marker Style 04
==============================*/

.marker-style-4 {
    padding: 245px 0;

    .pointer__tooltip {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(img/bg/bg-image-12.jpg);

        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 38px;
        border: 5px solid #d88d78;
        z-index: 2;

        .tooltip__box {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(img/bg/bg-image-12.jpg);
            width: 240px;
            position: absolute;
            top: 0;
            right: 50%;
            -webkit-transform: translate3d(50%, -100%, 0);
            transform: translate3d(50%, -100%, 0);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
            z-index: 10;
            padding: 20px;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            text-align: center;

            h4 {
                font-size: 20px;
                margin-bottom: 7px;
            }

            p {
                font-size: 13px;
                line-height: 24px;
                margin: 0;
                color: $heading-color;
            }
        }

        &:hover .tooltip__box {
            visibility: visible;
            opacity: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transform: translateY(-110%) translateX(50%);
            transform: translateY(-110%) translateX(50%);
        }

        &::before {
            content: "\f067";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-family: FontAwesome;
            color: #d88d78;
            font-size: 18px;
            width: 100%;
            height: 100%;
            transition: 0.4s ease-in-out;
        }


        &:hover::before {
            transform: translateX(-50%) translateY(-50%) rotate(47deg);
        }

        &.pointer--1 {
            position: absolute;
            left: 83%;
            top: 37%;
            @media #{$large-mobile} {
                left: 57%;
                top: 57%;
            }
        }

        &.pointer--2 {
            position: absolute;
            left: 51%;
            top: 26%;
        }

        &.pointer--3 {
            left: 22%;
            top: 13%;
            position: absolute;
        }

        &.pointer--4 {
            top: 57%;
            position: absolute;
            left: 15%;
        }

        &.pointer--5 {
            position: absolute;
            left: 55%;
            top: 76%;
        }
    }
}

/*===========================
    Marker Style 05
==============================*/

.marker-style-5 {
    padding: 245px 0;

    .pointer__tooltip {
        width: 46px;
        height: 46px;
        border-radius: 4px;
        background: #000;
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 47px;
        z-index: 2;

        .effect-1 {
            position: relative;

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                content: '';
                border: 1px solid #f10;
                border-radius: 50%;
                -webkit-transform: scale(0.35) translateY(-50%) translateX(-50%);
                -ms-transform: scale(0.35) translateY(-50%) translateX(-50%);
                transform: scale(0.35) translateY(-50%) translateX(-50%);
                opacity: 0;
                -webkit-animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite;
                animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite;
            }

            &::before {
                width: 32px;
                height: 32px;
                left: 50%;
                top: 50%;
                z-index: -1;
            }

            &::after {
                width: 32px;
                height: 32px;
                z-index: -1;
                border-color: rgba(255, 255, 255, 0.4);
                -webkit-animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite;
                animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite;
            }
        }

        .tooltip__box {
            background: #000000;
            width: 240px;
            position: absolute;
            top: 0;
            right: 50%;
            -webkit-transform: translate3d(50%, -100%, 0);
            transform: translate3d(50%, -100%, 0);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
            z-index: 10;
            padding: 20px;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            text-align: center;

            h4 {
                font-size: 20px;
                margin-bottom: 7px;
                color: #fff;
            }

            p {
                font-size: 13px;
                line-height: 24px;
                margin: 0;
                color: #fff;
            }
        }

        &:hover .tooltip__box {
            visibility: visible;
            opacity: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transform: translateY(-110%) translateX(50%);
            transform: translateY(-110%) translateX(50%);
        }

        &::before {
            content: "\f067";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-family: FontAwesome;
            color: #ffffff;
            font-size: 18px;
            width: 100%;
            height: 100%;
            transition: 0.4s ease-in-out;
        }


        &:hover::before {
            transform: translateX(-50%) translateY(-50%) rotate(47deg);
        }


        &.pointer--1 {
            position: absolute;
            left: 83%;
            top: 37%;
            @media #{$large-mobile} {
                left: 55%;
                top: 50%;
            }
        }

        &.pointer--2 {
            position: absolute;
            left: 51%;
            top: 26%;
        }

        &.pointer--3 {
            left: 22%;
            top: 13%;
            position: absolute;
        }

        &.pointer--4 {
            top: 57%;
            position: absolute;
            left: 15%;
            @media #{$small-mobile} {
                top: 62%;
                left: 36%;
            }
        }

        &.pointer--5 {
            position: absolute;
            left: 55%;
            top: 76%;
        }
    }
}


/*========================
    Animation Css
==========================*/

@-webkit-keyframes marker-ripple-animation {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1.7);
        opacity: 0;
    }
}

@keyframes marker-ripple-animation {
    0% {
        transform: translate3d(-50%, -50%, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate3d(-50%, -50%, 0) scale(1.7);
        opacity: 0;
    }
}