/*-----------------------
 * Newsletter Style 
-----------------------*/

/*---------------------------------
 * Newsletter Style  One
-------------------------------*/

.newsletter-style-one {
    text-align: center;
    .title {
        h2 {
            color: #000000;
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 10px;

            @media #{$md-layout} {
                font-size: 34px;
            }
            @media #{$sm-layout} {
                font-size: 24px;
                line-height: 36px;
            }

        }
        p {
            color: #798294;
            font-size: 14px;
            line-height: 28px;
            max-width: 605px;
            margin: 0 auto;
            width: 100%;
            margin-bottom: 58px;
            margin-top: 16px;
        }
    }
    .input-box {
        position: relative;
        max-width: 530px;
        margin: 0 auto;
        input {
            border: 1px solid #f7ca18;
            height: 50px;
            line-height: 50px;
            width: 100%;
            border-radius: 25px;
            font-weight: 300;
            font-style: italic;
            color: #b7b7b7;
            padding-left: 14px;
            padding-right: 138px;
        }
        button {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            height: 40px;
            line-height: 42px;
            padding: 0 20px;
            outline: none;
            background: #f7ca18;
            border: 0 none;
            color: #011a48;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 20px;
            transition: 0.5s;
            font-family: $heading-font;
            transition: 0.4s;
            &:hover{
                background: $theme-color;
                color: #ffffff;
            }
        }
    }
    &.white-newsletter{
        .title {
            h2 {
                color: #ffffff;
            }
            p {
                color: #ffffff;
            }
        }
        .input-box {
            input {
                border: 1px solid #ffffff;
                color: #ffffff;
            }
            button {
                background: #ffffff;
                color: #e9d18c;
                &:hover{
                    background: #e9d18c;
                    color: #ffffff;
                }
            }
        }
    }
}


.newsletter-style-one.white-newsletter .input-box input::-webkit-input-placeholder {
    color: #ffffff;
}

.newsletter-style-one.white-newsletter .input-box input::-moz-placeholder {
    color: #ffffff;
}

.newsletter-style-one.white-newsletter .input-box input:-ms-input-placeholder {
    color: #ffffff;
}

.newsletter-style-one.white-newsletter .input-box input:-moz-placeholder {
    color: #ffffff;
}


/*---------------------------------
 * Newsletter Style Two
-------------------------------*/

.newsletter-style-2 {
    .title {
        h2 {
            color: #ffffff;
            font-weight: 500;
            margin: 0;
            font-size: 30px;
            line-height: 40px;
            
            @media #{$md-layout} {
                margin-bottom: 19px;
                
            }

            @media #{$sm-layout} {
                margin-bottom: 19px;
            }

            @media #{$small-mobile} {
                font-size: 22px;
            }

        }
    }
    .input-box {
        input {
            background-color: transparent;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            color: rgba(255, 255, 255, 0.4);
            border-radius: 5px;
            line-height: 24px;
            padding: 12px 30px;
            font-size: 14px;
            color: #d8d8d8;
            width: calc(100% - 170px);
            @media #{$small-mobile} {
                width: 100%;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            width: 170px;
            height: 50px;
            background-color: #0056ff;
            border: none;
            border-radius: 5px;
            padding: 13px 20px;
            color: rgba(255, 255, 255, 0.8);
            text-transform: uppercase;
            font-family: $heading-font;
            font-size: 14px;
            transition: 0.4s;

            @media #{$small-mobile} {
                position: inherit;
                margin-top: 30px;
            }
            &:hover{
                background-color: $theme-color;
                color: #ffffff;
            }
        }
    }

    &.political-newsletter{
        .input-box {
            button {
                background-color: $political-theme-color;
                &:hover{
                    background-color: #043174;
                }
            }
        }
    }
}

.newsletter-style-2 .input-box input::-webkit-input-placeholder {
    color: #d8d8d8;
}

.newsletter-style-2 .input-box input::-moz-placeholder {
    color: #d8d8d8;
}

.newsletter-style-2 .input-box input:-ms-input-placeholder {
    color: #d8d8d8;
}

.newsletter-style-2 .input-box input:-moz-placeholder {
    color: #d8d8d8;
}



/*---------------------------------
 * Newsletter Style Three
-------------------------------*/
.newsletter-style-3 {
    text-align: center;
    .title {
        h2 {
            color: #000000;
            font-weight: 500;
            margin: 0;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 14px;
        }
        p{
            color: #000101;
            font-size: 18px;
            margin-bottom: 56px;
        }
    }
    .input-box {
        position: relative;
        max-width: 580px;
        width: 100%;
        margin: 0 auto;
        display: flex;

        @media #{$small-mobile} {
            display: block;
        }

        input {
            background-color: transparent;
            border: 0 none;
            border-bottom: 1px solid #828282;
            text-align: center;
            float: left;
            overflow: hidden;
            max-width: 370px;
            color: #838383;
            font-style: italic;

            @media #{$small-mobile} {
               max-width: 100%;
            }
        }
        button {
            background: transparent;
            border: 0 none;
            border-bottom: 1px solid #0056ff;
            float: right;
            overflow: hidden;
            margin-left: 30px;
            padding: 0 45px;
            color: #0056ff;
            font-size: 14px;
            text-transform: uppercase;
            transition: 0.4s;

            @media #{$small-mobile} {
                margin-top: 20px;
                float: inherit;
            }
            &:hover{
                border-bottom: 1px solid $theme-color;
                color: $theme-color;
            }
        }
    }
}

.social-net-5 {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
    li {
        margin: 0 15px;
        display: inline-block;
        a {
            color: #0056ff;
            font-size: 18px;
            display: block;
            background: transparent;
            &.facebook:hover {
                color: $facebook;
                background: transparent;
            }
            &.twitter:hover {
                color: $twitter;
                background: transparent;
            }
            &.google-plus:hover {
                color: $google-plus;
                background: transparent;
            }
            &.vimeo:hover {
                color: $vimeo;
                background: transparent;
            }
            &.dribbble:hover {
                color: $dribbble;
                background: transparent;
            }
        }
    }
}




/*---------------------------------
 * Newsletter Style 4
-------------------------------*/

.newsletter-style-4 {
    padding: 0 121px;

    @media #{$sm-layout} {
        padding: 0 30px;
    }

    @media #{$lg-layout} {
        padding: 0 70px;
    }

    @media #{$md-layout} {
        padding: 0;
    }

    @media #{$small-mobile} {
        padding: 0;
    }

    .title {
        padding-right: 36px;
        position: relative;
        margin-right: 31px;
        @media #{$md-layout} {
            margin-bottom: 30px;
            padding-right: 0;
        }
        @media #{$sm-layout} {
            margin-bottom: 30px;
            padding-right: 0;
            margin-right: 0;
        }
        &::after{
            position: absolute;
            content: "";
            height: 50px;
            background: #b1b2b1;
            right: 0;
            width: 4px;
            top: 50%;
            transform: translateY(-50%);

            @media #{$md-layout} {
                display: none;
            }

            @media #{$sm-layout} {
                display: none;
            }

        }
        h2 {
            color: #ffffff;
            font-weight: 500;
            margin: 0;
            font-size: 24px;
            line-height: 30px;
        }
        p{
            color: #ffffff;
            margin: 0;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 2px;
            margin-bottom: 12px;
        }
    }
    .input-box {
        position: relative;
        input {
            background-color: transparent;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            color: rgba(255, 255, 255, 0.4);
            border-radius: 5px;
            line-height: 24px;
            font-size: 14px;
            color: #f3f3f3;
            width: 100%;
            border-radius: 30px;
            padding-left: 20px;
            font-style: italic;
            padding-right: 51px;
        }
        button {
            position: absolute;
            right: 5px;
            top: 50%;
            width: 40px;
            height: 40px;
            background-color: #b2b2b2;
            border: none;
            border-radius: 100%;
            color: #f3f3f3;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            transform: translateY(-50%);
            transition: 0.4s;
            &:hover{
                background-color: $theme-color;
                color: #fff;
            }
        }
    }
}

.newsletter-style-4 .input-box input::-webkit-input-placeholder {
    color: #f3f3f3;
}

.newsletter-style-4 .input-box input::-moz-placeholder {
    color: #f3f3f3;
}

.newsletter-style-4 .input-box input:-ms-input-placeholder {
    color: #f3f3f3;
}

.newsletter-style-4 .input-box input:-moz-placeholder {
    color: #f3f3f3;
}





/*---------------------------------
 * Newsletter Style 5
-------------------------------*/

.newsletter-style-5{
    .newsletter-content{
        .title{
            h2{
                font-size:  24px;
                font-weight: 600;
                line-height:  48px;
                margin: 0;
                margin-bottom: 8px;
                
                @media #{$md-layout} {
                    font-size: 20px;
                    line-height: 40px;
                }

                @media #{$sm-layout} {
                    font-size: 20px;
                    line-height: 40px;
                }
            }
            p{
                color:  #798294;
                font-size: 14px;
                line-height: 28px;
                margin: 0;
                padding-right: 17%;

                @media #{$md-layout} {
                    padding-right: 0;
                }

                @media #{$sm-layout} {
                    padding-right: 0;
                }
            }
        }
        .social-net-5{
            margin-top: 22px;

            @media #{$sm-layout} {
                margin-bottom: 30px;
            }
            li{
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
    .input-box{
        input{
            height:  40px;
            border:  1px solid #e0e0e0;
            border-radius:  5px;
            line-height: 40px;
            padding: 0 20px;
            color:  #b4b4b4;
            font-size:  12px;
            font-style:  italic;
            margin-bottom: 15px;
        }
        button{
            background:  #0056ff;
            width:  100%;
            height:  40px;
            line-height:  40px;
            border:  0 none;
            font-size: 13px;
            color: #fff;
            margin-top: 16px;
            text-transform: uppercase;
            border-radius:  5px;
            transition: 0.5s;
            &:hover{
                background:  $theme-color;
            }
        }
    }
}





.newsletter-style-5 .input-box input::-webkit-input-placeholder {
    color: #b4b4b4;
}

.newsletter-style-5 .input-box input::-moz-placeholder {
    color: #b4b4b4;
}

.newsletter-style-5 .input-box input:-ms-input-placeholder {
    color: #b4b4b4;
}

.newsletter-style-5 .input-box input:-moz-placeholder {
    color: #b4b4b4;
}





