/*========================
Notification Style
===========================*/
$color--success: #1fd489;
$color--error: #d41f56;

@mixin config-notify($prefix, $config-notify...) {
    @each $i in $config-notify {
        .#{$prefix}#{nth($i, 1)} {
            background: nth($i, 2);
        }
    }
}

@include config-notify('notify_color--',
'1'$theme-color,
'2'#0097e6,
'3'#8c7ae6,
'4'#e1b12c,
'5'#44bd32,
'6'#40739e,
'7'#1abc9c);


.alert {
    color: #ffffff;
    border: 0 none;
    padding: 20px 20px;
    text-align: center;
}


[data-notify-position="top-left"] {
    background-color: #0097e6;
}

[data-notify-position="top-right"] {
    background-color: #8c7ae6;
}

[data-notify-position="bottom-right"] {
    background-color: #e1b12c;
}

[data-notify-position="bottom-left"] {
    background-color: #44bd32;
}

[data-notify-position="top-center"] {
    background-color: #40739e;
}

[data-notify-position="bottom-center"] {
    background-color: #1abc9c;
}


[data-notify="dismiss"] {
    cursor: pointer;
    color: #ffffff;
    opacity: 1;
}

.botom-full-width {
    text-align: center;
}

.notification-content {
    position: relative;
}

// Notify Button Css

button {
    &.notify-btn {
        padding: 0 42px;
        height: 42px;
        line-height: 42px;
        border: 0 none;
        color: #fff;
        border-radius: 7px;
        font-size: 14px;
        margin-right: 25px;
        margin-bottom: 20px;
        
        &.show-info {
            background: #1abc9c;
            margin-right: 0;
            position: relative;
        }

        &.show-error {
            background-color: $color--error;
            margin-right: 0;
            position: relative;
        }

        &.show-success {
            background-color: #3498db;
            margin-right: 0;
            position: relative;
        }

        &.show-warning {
            background-color: #9b59b6;
            margin-right: 0;
            position: relative;
        }
    }
}


.notification-content {
    .alert {
        padding: 20px 0px;
        font-size: 14px;
        &.show-info {
            background-color: #1abc9c;
        }
    }
}

.new-alert-error {
    position: relative;
    .alert {
        padding: 20px 0px;
        font-size: 14px;

        &.show-error {
            background-color: $color--error;
        }

    }
}

.new-alert-success {
    position: relative;
    .alert {
        padding: 20px 0px;
        font-size: 14px;
        &.show-error {
            background-color: #3498db;
        }

    }
}

.new-alert-warning {
    position: relative;

    .alert {
        padding: 20px 0px;
        font-size: 14px;

        &.show-error {
            background-color: #9b59b6;
        }

    }
}