/*================================
    Post Carousel Style
=================================*/



.post-carousel-wrapper {
    margin: 0 -15px;

    .slick-slide {
        margin: 0 15px;
    }
}



.post-carousel {
    position: relative;

    .thumb {
        a {
            img {
                width: 100%;
            }
        }
    }

    .ptc-content {
        .content {
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                justify-content: center;

                &.post-category {
                    li {
                        a {
                            background: #f05555;
                            color: #fff;
                            height: 24px;
                            padding: 0 9px;
                            font-size: 12px;
                            text-transform: uppercase;
                            display: inline-block;
                            line-height: 24px;
                            letter-spacing: 2px;
                            font-weight: 300;
                        }
                    }
                }

                &.meta {
                    li {
                        i {}

                        a {}
                    }
                }
            }

            h2 {
                a {}
            }

            p {}

            .post-btn {
                a {
                    &.readmore-btn {}
                }
            }

        }
    }
}





/*-------------------------------
    Post Carousel Style 1
--------------------------------*/

.post-carousel-1 {
    .thumb {
        a {
            img {}
        }
    }

    .ptc-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba(51, 163, 185, 1);
            transition: 0.4s ease-in-out;
        }

        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
            padding: 25px;

            ul {
                justify-content: flex-start;

                &.post-category {
                    li {
                        a {}
                    }
                }

                &.meta {
                    margin-bottom: 14px;

                    li {
                        color: #ffffff;
                        font-size: 13px;
                        letter-spacing: 1px;

                        i {
                            font-size: 16px;
                            padding-right: 10px;
                        }

                        a {
                            color: #ffffff;
                        }

                        &+li {
                            margin-left: 24px;
                        }
                    }
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 500;
                margin-top: 18px;
                margin-bottom: 11px;

                @media #{$large-mobile} {
                    font-size: 19px;
                    margin-top: 12px;
                }

                a {
                    color: #ffffff;
                }
            }

            p {
                color: #ffffff;
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 28px;

                @media #{$large-mobile} {
                    line-height: 24px;
                    margin-bottom: 12px;
                }
            }

            .post-btn {
                a {
                    &.readmore-btn {
                        display: inline-block;
                        border: 1px solid #ffffff;
                        height: 46px;
                        line-height: 44px;
                        padding: 0 37px;
                        border-radius: 23px;
                        font-size: 14px;
                        color: #ffffff;
                        transition: 0.4s ease-in-out;

                        &:hover {
                            background: #ffffff;
                            border: 1px solid #ffffff;
                            color: #33a3b9;
                        }
                    }
                }
            }

        }
    }

    &:hover .ptc-content::before {
        background: rgba(51, 163, 185, 0.8);
    }

}


.post-carousel-active {
    position: relative;

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -80px;
        width: 50px;
        height: 50px;
        background: #5e5e5e;
        border: 0 none;
        color: #fff;
        border-radius: 100%;
        font-size: 30px;
        padding: 0;
        margin: 0;
        transition: 0.4s ease-in-out;
        z-index: 2;

        @media #{$lg-layout} {
            left: 0px;
        }
        @media #{$md-layout} {
            left: 0px;
        }
        @media #{$sm-layout} {
            left: 0px;
        }


        &:hover {
            background: #5cb5c7;
            color: #ffffff;
        }

        &.post-next {
            left: auto;
            right: -80px;

            @media #{$lg-layout} {
                right: 0px;
            }
            @media #{$md-layout} {
                right: 0px;
            }
            @media #{$sm-layout} {
                right: 0px;
            }
        }
    }
}


/*-------------------------------
    Post Carousel Style 2
--------------------------------*/

.post-carousel-2 {
    .ptc-content {
        padding: 0 20px;
        margin-top: -50px;
        text-align: center;
        position: relative;
        z-index: 2;

        @media #{$lg-layout} {
            padding: 0 10px;
        }
        @media #{$sm-layout} {
            padding: 0 20px;
        }
        .content {
            background: #ffffff;
            padding: 20px;
            border-bottom: 4px solid #b5b5b5;
            padding-top: 35px;
            transition: 0.4s ease-in-out;
            
            @media #{$lg-layout} {
                padding: 15px 20px;
            }

            @media #{$md-layout} {
                padding: 15px 20px;
            }

           
            

            ul {
                justify-content: space-between;

                &.meta {
                    li {
                        color: #333333;
                        font-size: 14px;
                        font-family: 'Courgette', cursive;

                        i {
                            font-size: 14px;
                            padding-right: 12px;
                            color: #333333;
                        }

                        a {
                            color: #333333;
                        }
                    }
                }
            }

            h2 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 11px;
                line-height: 28px;
                margin-bottom: 25px;
                padding: 0 30px;

                @media #{$lg-layout} {
                    padding: 0 9px;
                }

                @media #{$sm-layout} {
                    padding: 0;
                    margin-bottom: 16px;
                }

                a {
                    color: #4f4f4f;
                    transition: 0.4s ease-in-out;

                    &:hover {
                        color: #0056ff;
                    }

                }
            }

            p {
                color: #333;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 29px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
            }
        }
    }

    &:hover .ptc-content .content {
        border-bottom: 4px solid #0056ff;
    }

    &.construction-post {
        .ptc-content {
            .content {
                background: #eff2f7;
                border-bottom: 4px solid #dedede;
                h2 {

                    a {
                        &:hover {
                            color: $construction-theme-color;
                        }

                    }
                }
            }
        }
        &:hover .ptc-content .content {
            border-bottom: 4px solid $construction-theme-color;
        }
    }

    &.event-post {
        .ptc-content {
            .content {
                background: #ffffff;
                border-bottom: 4px solid #b5b5b5;
                h2 {

                    a {
                        &:hover {
                            color: $event-theme-color;
                        }

                    }
                }
            }
        }
        &:hover .ptc-content .content {
            border-bottom: 4px solid $event-theme-color;
        }
    }

    &.resturant-post {
        .ptc-content {
            .content {
                background: #ffffff;
                border-bottom: 4px solid #b5b5b5;
                h2 {

                    a {
                        &:hover {
                            color: $resturant-theme-color;
                        }

                    }
                }
            }
        }
        &:hover .ptc-content .content {
            border-bottom: 4px solid $resturant-theme-color;
        }
    }


    



}







/*-------------------------------
    Post Carousel Style 3
--------------------------------*/

.post-carousel-3 {
    .ptc-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            padding: 20px;
            width: 100%;

            ul {
                justify-content: center;

                &.post-category {
                    margin: 0 -5px;

                    li {
                        margin: 0 5px;

                        a {}
                    }
                }

                &.meta {
                    margin: 0 -14px;
                    margin-bottom: 10px;

                    li {
                        color: #ffffff;
                        font-size: 13px;
                        letter-spacing: 1px;
                        margin: 0 14px;

                        i {
                            font-size: 16px;
                            padding-right: 10px;
                        }

                        a {
                            color: #ffffff;
                        }

                    }
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 500;
                margin-top: 18px;
                margin-bottom: 11px;
                @media #{$large-mobile} {
                    font-size: 20px
                }
                a {
                    color: #ffffff;
                    transition: 0.4s ease-in-out;

                    &:hover {
                        color: #33a3b9;
                    }
                }
            }

            .post-btn {
                a {
                    &.readmore-btn {
                        display: inline-block;
                        border-bottom: 1px solid #ffffff;
                        font-size: 14px;
                        color: #ffffff;
                        transition: 0.4s ease-in-out;
                        font-family: $heading-font;
                        font-weight: 500;

                        &:hover {
                            color: #33a3b9;
                            border-bottom: 1px solid #33a3b9;
                        }
                    }
                }
            }

        }
    }


}


.post-carousel-active-3 {
    position: relative;

    button {
        position: absolute;
        top: -48px;
        right: 15px;
        width: 46px;
        height: 40px;
        background: #263170;
        border: 0 none;
        color: #fff;
        font-size: 30px;
        padding: 0;
        margin: 0;
        transition: 0.4s ease-in-out;

        &:hover {
            background: #5cb5c7;
            color: #ffffff;
        }

        &.post-prev {
            right: 66px;
        }
    }
}


/*-------------------------------
    Post Carousel Style 4
--------------------------------*/

.post-carousel-4 {
    .post-carousel-flex {
        display: flex;
        align-items: center;
        @media #{$sm-layout} {
            flex-wrap: wrap;
        }
        @media #{$md-layout} {
            flex-wrap: wrap;
        }
        .thumb{
            a{
                img{
                    width: 100%;
                }
            }

            @media #{$sm-layout} {
                flex-basis: 100%;
            }
            @media #{$md-layout} {
                flex-basis: 100%;
            }
        }
        .ptc-content {
            flex-basis: 58%;
            position: relative;
            margin-left: -113px;
            background: #fff;
            padding: 57px 24px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);

            @media #{$lg-layout} {
                flex-basis: 82%;
                margin-left: -113px;
                padding: 12px 21px;
            }

            @media #{$sm-layout} {
                flex-basis: 100%;
                margin-left: 0;
                padding: 31px 12px;
                box-shadow: initial;
            }

            @media #{$md-layout} {
                flex-basis: 100%;
                margin-left: 0;
                padding: 31px 12px;
                box-shadow: initial;
            }

        }
    }

    .ptc-content {
        .content {

            ul {
                justify-content: flex-start;

                &.post-category {
                    margin: 0 -5px;

                    li {
                        margin: 0 5px;

                        a {}
                    }
                }

                &.meta {
                    margin: 0 -14px;
                    margin-bottom: 10px;

                    li {
                        color: #8c8c8c;
                        font-size: 14px;
                        font-family: $heading-font;
                        font-weight: 500;
                        margin: 0 14px;

                        i {
                            font-size: 16px;
                            padding-right: 10px;
                        }

                        a {
                            color: #8c8c8c;
                        }

                    }
                }
            }

            h2 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 19px;

                a {
                    color: #464646;
                    transition: 0.4s ease-in-out;

                    &:hover {
                        color: #0056ff;
                    }
                }
            }

            p {
                color: #818181;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                font-family: $heading-font;
            }

            .post-btn {
                a {
                    &.readmore-btn {
                        display: inline-block;
                        border-bottom: 1px solid #464646;
                        font-size: 14px;
                        color: #464646;
                        transition: 0.4s ease-in-out;
                        font-family: $heading-font;
                        font-weight: 500;

                        &:hover {
                            color: #0056ff;
                            border-bottom: 1px solid #0056ff;
                        }
                    }
                }
            }

        }
    }

}


.post-carousel-active-4 {
    position: relative;

    button {
        &.slick-arrow {
            position: absolute;
            bottom: -70px;
            left: 43%;
            border: 0 none;
            color: #0056ff;
            font-size: 30px;
            padding: 0;
            z-index: 2;
            @media #{$md-layout} {
                left: 39%;
            }
            @media #{$sm-layout} {
                left: 36%;
            }
            @media #{$large-mobile} {
                left: 28%;
            }
        }
        &:hover {
            color: $theme-color;
        }
        &.post-next {
            &.slick-arrow {
                left: auto;
                right: 43%;
                
                @media #{$md-layout} {
                    right: 39%;
                }

                @media #{$sm-layout} {
                    right: 36%;
                }

                @media #{$large-mobile} {
                    right: 28%;
                }
            }
        }
    }

    .slick-dots {
        bottom: -60px;

        li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            padding: 0;

            button {
                width: 10px;
                height: 10px;
                padding: 0;
                background: #000;
                border-radius: 100%;

                &::before {
                    text-indent: -9999999999px;
                }
            }

            &.slick-active {
                button {
                    background: #0056ff;
                }
            }
        }
    }
}






/* Blog Gradening */




.post-carousel-active-4.gardeninig-blog button.slick-arrow{
    color: $gardening-theme-color;
}

.post-carousel-active-4.gardeninig-blog .slick-dots li.slick-active button {
    background: $gardening-theme-color;
}

.gardeninig-blog .post-carousel-4 .ptc-content .content h2 a:hover {
    color: $gardening-theme-color;
}
.gardeninig-blog .post-carousel-4 .ptc-content .content .post-btn a.readmore-btn:hover {
    color: $gardening-theme-color;
    border-bottom: 1px solid $gardening-theme-color;
}

/* Blog Portfolio */

.post-carousel-active-4.portfolio-blog button.slick-arrow{
    color: $portfolio-theme-color;
}

.post-carousel-active-4.portfolio-blog .slick-dots li.slick-active button {
    background: $portfolio-theme-color;
}

.portfolio-blog .post-carousel-4 .ptc-content .content h2 a:hover {
    color: $portfolio-theme-color;
}
.portfolio-blog .post-carousel-4 .ptc-content .content .post-btn a.readmore-btn:hover {
    color: $portfolio-theme-color;
    border-bottom: 1px solid $portfolio-theme-color;
}






/*-------------------------------
    Post Carousel Style 5
--------------------------------*/

.post-carousel-5 {
    .ptc-content {
        .content {
            text-align: left;
            padding: 30px 0;

            ul {
                justify-content: flex-start;

                &.post-category {
                    li {
                        a {}
                    }
                }

                &.meta {
                    margin: 0 -10px;
                    margin-bottom: 7px;

                    li {
                        color: #333333;
                        font-size: 14px;
                        font-family: $heading-font;
                        padding: 0 10px;
                        font-weight: 500;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "/";
                            right: 0;
                            top: 2px;
                        }

                        &:last-child::before {
                            display: none;
                        }

                        a {
                            color: #333333;
                        }

                    }
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 11px;

                @media #{$lg-layout} {
                    font-size: 22px;
                }

                @media #{$sm-layout} {
                    font-size: 19px;
                }

                @media #{$md-layout} {
                    font-size: 22px;
                }

                a {
                    color: #333333;
                    transition: 0.4s ease-in-out;

                    &:hover {
                        color: #0056ff;
                    }
                }
            }

            p {
                color: #333333;
                font-size: 17px;
                line-height: 29px;
                margin-bottom: 24px;

                @media #{$lg-layout} {
                    font-size: 14px;
                }

                @media #{$sm-layout} {
                    font-size: 14px;
                }

                @media #{$md-layout} {
                    font-size: 14px;
                }
            }

            .post-btn {
                a {
                    &.readmore-btn {
                        display: inline-block;
                        border-bottom: 1px solid #464646;
                        font-size: 14px;
                        transition: 0.4s ease-in-out;
                        font-family: $heading-font;
                        color: #333333;

                        &:hover {
                            border-bottom: 1px solid #0056ff;
                            color: #0056ff;
                        }
                    }
                }
            }
        }
    }


    &.cleaning-post {
        .ptc-content {
            .content {
                h2 {
                    a {
                        &:hover {
                            color: $cln-theme-color;
                        }
                    }
                }
                p {
                    color: #6d6a6a;
                }
                .post-btn {
                    a {
                        &.readmore-btn {
                            &:hover {
                                border-bottom: 1px solid $cln-theme-color;
                                color: $cln-theme-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &.medical-post {
        .ptc-content {
            .content {
                h2 {
                    a {
                        &:hover {
                            color: $medical-theme-color;
                        }
                    }
                }
                .post-btn {
                    a {
                        &.readmore-btn {
                            &:hover {
                                border-bottom: 1px solid $medical-theme-color;
                                color: $medical-theme-color;
                            }
                        }
                    }
                }
            }
        }
    }


}


.post-carousel-active-5 {
    position: relative;

    button {
        position: absolute;
        top: 28%;
        left: 15px;
        width: 46px;
        height: 46px;
        background: #ffffff;
        border: 0 none;
        color: #0056ff;
        font-size: 24px;
        padding: 0;
        margin: 0;
        transition: 0.4s ease-in-out;
        z-index: 2;

        &:hover {
            background: #0056ff;
            color: #ffffff;
        }

        &.post-next {
            left: auto;
            right: 15px;
        }
    }

    &.cleaning-post-wrapper {
        button {
            color: $cln-theme-color;

            &:hover {
                background: $cln-theme-color;
                color: #ffffff;
            }
        }
    }

    &.medical-post-wrapper {
        button {
            color: $medical-theme-color;
            &:hover {
                background: $medical-theme-color;
                color: #ffffff;
            }
        }
    }
}




















