/*=========================
    Post Slider Css
==========================*/ 



.single-post-slide{
    position: relative;


    /*--------
        Single Post Default
    ----------------------------*/ 
    &.post-slider-default{

        @media #{$sm-layout} {
            padding: 266px 0;
            background: #007d91;
        }

        .thumb{
            @media #{$sm-layout} {
                display: none;
            }
        }
        .content {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 40%;
            height: 100%;
            padding: 10px;

            @media #{$lg-layout} {
                max-width: 49%;
            }

            @media #{$sm-layout} {
                max-width: 100%;
            }

            .post-inner {
                width: 100%;
                height: 100%;
                background: rgba(0,140,167,0.8);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px;

                @media #{$sm-layout} {
                    padding: 20px 10px;
                }

                h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    
                    a{
                        color: #ffffff;
                    }
                }
                ul{
                    &.meta{
                        li{
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 22px;
                }
            }
        }

        &.education-blog{
            .content{
                max-width: 100%;
                padding: 0;
                right: 0;
                left: 0;
                .post-inner{
                    padding: 30px 20PX;
                    align-items: center;
                    h2{
                        margin-top: 10px;
                        margin-bottom: 12px;
                    }
                    .post-btn{
                        a{
                            &.readmore-btn{
                                background: transparent;
                                border: 0 none;
                                height: auto;
                                padding: 0;
                                border-radius: 0;
                                font-size: 14px;
                                line-height: inherit;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    /*--------
        Single Post 02
    ----------------------------*/ 
    &.post-slider-2{
        .content {
            .post-inner {
                @media #{$sm-layout} {
                    padding: 10px;
                }
                h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 20px;
                    margin-bottom: 18px;

                    @media #{$lg-layout} {
                        font-size: 20px;
                        margin-top: 15px;
                        margin-bottom: 12px;
                    }
                    @media #{$sm-layout} {
                        font-size: 18px;
                        margin-top: 21px;
                        margin-bottom: 15px;
                    }

                    a{
                        color: #464545;
                    }
                }

                ul{
                    &.meta{
                        li{
                            color: #464545;
                            a{
                                color: #464545;
                            }
                        }
                    }
                }
                p{
                    color: #464545;
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 22px;
                    margin-bottom: 27px;

                    @media #{$lg-layout} {
                        margin-top: 4px;
                        margin-bottom: 14px;
                    }
                }
                .post-btn{
                    margin-top: 19px;
                    a{
                        &.readmore-btn{
                            border: 1px solid #464545;
                            color: #464545;
                            &:hover{
                                background: $theme-color;
                                color: #ffffff;
                                border: 1px solid $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
    /*--------
        Single Post 03
    ----------------------------*/ 
    &.post-slider-3{

        @media #{$sm-layout} {
            padding: 169px 0;
            background: #263583;
        }

        .thumb{
            @media #{$sm-layout} {
                display: none;
            }
        }

        .content {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;

            .post-inner {
                h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 20px;
                    margin-bottom: 18px;
                    padding: 0 26%;
                    line-height: 34px;

                    @media #{$lg-layout} {
                        padding: 0 19%;
                    }

                    @media #{$md-layout} {
                        padding: 0 12%;
                    }
                    @media #{$sm-layout} {
                        font-size: 16px;
                        margin-top: 12px;
                        margin-bottom: 8px;
                        padding: 0 12%;
                        line-height: 26px;
                    }

                    @media #{$large-mobile} {
                        padding: 0 20px;
                    }

                    a{
                        color: #ffffff;
                    }
                }

                ul{
                    &.meta{
                        justify-content: center;
                        li{
                            color: #ffffff;
                            a{
                                color: #ffffff;
                            }
                        }
                    }
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 22px;
                    margin-bottom: 27px;
                }
                .post-btn{
                    margin-top: 19px;
                    a{
                        &.readmore-btn{
                            border: 1px solid #ffffff;
                            color: #ffffff;
                            &:hover{
                                background: $theme-color;
                                color: #ffffff;
                                border: 1px solid $theme-color;
                            }
                        }
                    }
                }
            }
            ul{
                &.post-category{
                    justify-content: center;
                    li{

                    }
                }
            }
        }
    }


    /*--------
        Single Post 04
    ----------------------------*/ 

    &.post-slider-4{

        @media #{$sm-layout} {
            padding: 160px 0;
            background: #114ec4;
        }

        .thumb{
            @media #{$sm-layout} {
                display: none;
            }
        }
        .content {
            position: absolute;
            text-align: center;
            bottom: 0;
            padding: 20px;
            .post-inner {
                background: rgba(0,86,255,0.7);
                padding: 25px;
                text-align: left;
                h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 13px;
                    line-height: 34px;

                    @media #{$md-layout} {
                        font-size: 16px;
                        margin-bottom: 13px;
                        line-height: 25px;
                    }

                    a{
                        color: #ffffff;
                    }
                }

                ul{
                    &.meta{
                        li{
                            color: #ffffff;
                            a{
                                color: #ffffff;
                            }
                        }
                    }
                }
                
            }
            ul{
                &.post-category{
                    justify-content: center;
                    li{

                    }
                }
            }
        }
    }



    /*--------
        Single Post 03
    ----------------------------*/ 
    &.post-slider-5{
        .content {
            background: #f4f4f4;
            padding: 60px;
            .post-inner {

                

                h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 20px;
                    margin-bottom: 18px;
                    line-height: 34px;
                    a{
                        color: #464545;
                    }
                }

                ul{
                    &.meta{
                        li{
                            color: #464545;
                            a{
                                color: #464545;
                            }
                        }
                    }
                }
                p{
                    color: #494849;
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 22px;
                    margin-bottom: 27px;
                }
                .post-btn{
                    margin-top: 19px;

                    a{
                        &.readmore-btn{
                            border: 1px solid #494849;
                            color: #494849;
                            &:hover{
                                background: $theme-color;
                                color: #ffffff;
                                border: 1px solid $theme-color;
                            }
                        }
                    }
                }
            }
            ul{
                &.post-category{
                    li{

                    }
                }
            }
        }
    }

    /*----------------
        Code Default
    -------------------------*/


    .content{
        ul{
            &.post-category{
                display: flex;
                padding: 0;
                margin: 0 -10px;
                list-style: none;
                li{
                    background: #f05555;
                    height: 24px;
                    padding: 0 9px;
                    margin: 0 10px;
                    transition: 0.4s ease-in-out;
                    &:hover{
                        background: $theme-color;
                        color: #ffffff;
                    }
                    a{
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 300;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
    ul{
        &.meta{
            list-style: none;
            color: #fff;
            padding: 0;
            margin: 0;
            display: flex;
            margin: 0 -15px;
            @media #{$sm-layout} {
                flex-wrap: wrap;
            }
            li{
                font-size: 13px;
                letter-spacing: 2px;
                margin: 0 15px;

                @media #{$md-layout} {
                    margin: 0 10px;
                }

                @media #{$sm-layout} {
                    margin: 0 10px;
                }

                i{
                    padding-right: 10px;
                }
                a{
                    color: $body-color;
                }
            }
        }
    }

    .post-btn{
        margin-top: 19px;
        a{
            &.readmore-btn{
                background: transparent;
                border: 1px solid #ffffff;
                display: inline-block;
                height: 46px;
                padding: 0 37px;
                border-radius: 23px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 44px;
                transition: 0.4s ease-in-out;
                &:hover{
                    background: $theme-color;
                    color: #ffffff;
                    border: 1px solid $theme-color;
                }
            }
        }
    }
    .thumb{
        a{
            img{
                width: 100%;
            }
        }
    }
    
}


// Slide 4 Activation
.new-slider-active{
    position: relative;
    .single-post-slide {
        vertical-align: middle;
    }

    ul{
        &.slick-dots{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            bottom: 0;

            @media #{$sm-layout} {
                position: inherit;
                width: 100%;
                background: #1e1e17;
            }

            li{
                background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
                overflow: hidden;
                position: relative;
                -webkit-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
                z-index: 2;
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
                display: block;
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                cursor: pointer;
                align-items: center;
                display: flex;
                padding: 20px;
                text-align: left;
                border-left: 5px solid #828282;
                border-bottom: 5px solid #828282;
                border-right: 5px solid #828282;
                transition: 0.5s ease-in-out;
                
                @media #{$sm-layout} {
                    padding: 38px 13px;
                }
                &:first-child{
                    border-top: 5px solid #828282;
                }
                &.slick-active{
                    border: 5px solid #ffffff;
                    background: transparent;
                }
                h6{
                    font-weight: 500;
                    color: #ffffff;
                    line-height: 22px;
                    font-weight: 500;
                    color: #ffffff;
                    line-height: 22px;
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                    padding-bottom: 20px;
                }
            }
        }
    }
}



.single-post-slide {
    vertical-align: middle;
}




.post-slide-activation{

    /*------------
        Arrow Style 01
    -------------------------*/ 
    &.arrow-style-1{
        button{
            &.slick-arrow{
                position: absolute;
                bottom: 10px;
                left: auto;
                right: 10px;
                z-index: 2;
                width: 46px;
                height: 40px;
                background: #ccd5d5;
                border: 0 none;
                color: #00282a;
                font-size: 24px;
            }
            &.postslide-prev{
                &.slick-arrow{
                    right: 61px;
                }
            }
    
        }
    }

    /*------------
        Arrow Style 2
    -------------------------*/ 
    &.arrow-style-2{
        button{
            &.slick-arrow{
                position: absolute;
                z-index: 2;
                width: 50px;
                height: 50px;
                background: #5c5c5c;
                border: 0 none;
                color: #ffffff;
                font-size: 24px;
                border-radius: 100%;
                left: -80px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s;
                
                &:hover{
                    background: #526ae4;
                    color: #fff;
                }
            }
            &.postslide-next{
                &.slick-arrow{
                    left: auto;
                    right: -80px;
                }
            }
    
        }
    }

    /*------------
        Arrow Style 3
    -------------------------*/ 
    &.arrow-style-3{
        button{
            &.slick-arrow{
                position: absolute;
                z-index: 2;
                width: 50px;
                height: 50px;
                background: #d7dae9;
                border: 0 none;
                color: #2a47e0;
                font-size: 24px;
                border-radius: 100%;
                left: 40px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.4s;
                border: 1px solid #d7dae9;

                @media #{$large-mobile} {
                    left: -27px;
                }

                &:hover{
                    background: transparent;
                    color: #fff;
                    border: 1px solid #ffffff;
                }
            }
            &.postslide-next{
                &.slick-arrow{
                    left: auto;
                    right: 40px;
                    @media #{$large-mobile} {
                        left: auto;
                        right: -27px;
                    }
                }
            }
    
        }
    }

    /*------------
        Arrow Style 5
    -------------------------*/ 
    &.arrow-style-5{
        button{
            &.slick-arrow{
                position: absolute;
                z-index: 2;
                width: 50px;
                height: 50px;
                background: rgba(255,255,255,0.8);
                border: 0 none;
                color: #2a47e0;
                font-size: 24px;
                border-radius: 100%;
                left: 40px;
                top: 30%;
                transition: 0.4s;

                &:hover{
                    background: rgba(42,71,244,0.8);
                    color: #fff;
                }
            }
            &.postslide-next{
                &.slick-arrow{
                    left: auto;
                    right: 40px;
                }
            }
    
        }
    }



    
}











