/*---------------------------------
    Progress Bar Style
-----------------------------------*/

/*------------------------------------------------
    Progress Bar Background Color 
 ----------------------------------------------*/

@include config-progress-bar('progress-bar-bg--', '1' $theme-color, '2' #e6e6e6, '3'#e8e8e8, '4' #f4f4f4, '5' #acacac, '6' #14b1bb, '7' #f13f4b, '8' #5bd0c7, '9' #5b9fd0, '10' #5b65d0);
/*------------------------------------------------
    // Progress label position
 ----------------------------------------------*/

.progress {
    &.progress-label-top {
        span {
            &.percent-label {
                position: absolute;
                right: 0;
                top: -39px;
            }
        }
    }
    &.progress-label-bottom {
        span {
            &.percent-label {
                position: absolute;
                right: 0;
                bottom: -29px;
                z-index: 3;
                top: auto;
            }
        }
    }
    &.progress-label-center-right {
        span {
            &.percent-label {
                position: absolute;
                right: 50px;
            }
        }
    }
}

/*------------------------------------------------
    // Progress label Style
 ----------------------------------------------*/

.progress {
    span {
        &.percent-label {
            color: #000;
        }
    }
    &.font-medium {
        span {
            &.percent-label {
                color: #ffffff;
                font-weight: 500;
                font-family: $heading-font;
                font-size: 18px;
            }
        }
    } // Progress Lable Style 02
    &.progress-label-2 {
        span {
            &.percent-label {
                width: 33px;
                height: 19px;
                margin: 0px 0px 0px -25px;
                background-color: #18012c;
                color: #fff;
                font-size: 12px;
                font-weight: 500;
                font-family: $body-font;
                line-height: 19px;
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #18012c;
                    position: absolute;
                    top: 100%;
                    margin-left: -3px;
                    left: 50%;
                    transform: skewX(36deg);
                }
                &.label-color-2 {
                    background-color: #5b9fd0;
                    &::after {
                        border-top: 5px solid #5b9fd0;
                    }
                }
                &.label-color-3 {
                    background-color: #ff3400;
                    &::after {
                        border-top: 5px solid #ff3400;
                    }
                }
                &.label-color-4 {
                    background-color: #ff7b06;
                    &::after {
                        border-top: 5px solid #ff7b06;
                    }
                }
                &.label-color-5 {
                    background-color: #f13f4b;
                    &::after {
                        border-top: 5px solid #f13f4b;
                    }
                }
            }
        }
    } // Progress Lable Style 02
    &.progress-label-3 {
        span {
            &.percent-label {
                width: 40px;
                height: 20px;
                margin: 0px 0px 0px -25px;
                background-color: #18012c;
                color: #fff;
                font-size: 12px;
                font-weight: 500;
                font-family: $body-font;
                line-height: 20px;
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #18012c;
                    position: absolute;
                    top: 100%;
                    margin-left: -6px;
                    left: 50%;
                }
                &.label-color-2 {
                    background-color: #5b9fd0;
                    &::after {
                        border-top: 5px solid #5b9fd0;
                    }
                }
                &.label-color-3 {
                    background-color: #ff3400;
                    &::after {
                        border-top: 5px solid #ff3400;
                    }
                }
                &.label-color-4 {
                    background-color: #ff7b06;
                    &::after {
                        border-top: 5px solid #ff7b06;
                    }
                }
                &.label-color-5 {
                    background-color: #f13f4b;
                    &::after {
                        border-top: 5px solid #f13f4b;
                    }
                }
            }
        }
    }
}

/*------------------------------------------------
    // Progress radious Style
 ----------------------------------------------*/

.progress-radious-0 {
    border-radius: 0;
    .progress-bar {
        border-radius: 0;
    }
}

.progress-radious-3 {
    border-radius: 3px;
    .progress-bar {
        border-radius: 3px;
    }
}

.progress-radious-5 {
    border-radius: 5px;
    .progress-bar {
        border-radius: 5px;
    }
}

/*------------------------------------------------
    // Progress Indicator Style
 ----------------------------------------------*/

.progress {
    // Indicator Style 01
    &.progress-indicator-1 {
        .progress-bar {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                border: 4px solid $theme-color;
                width: 24px;
                height: 24px;
                right: -1px;
                border-radius: 100%;
                background: #fff;
            }
            &.progress-bar-bg--7 {
                &::after {
                    border: 4px solid #f13f4b;
                }
            }
        }
    } // Indicator Style 01
    &.progress-indicator-2 {
        .progress-bar {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 14px;
                height: 14px;
                right: -1px;
                border-radius: 100%;
            }
            &.progress-bar-bg--1 {
                &::after {
                    background: $theme-color;
                }
            }
        }
    }
}

/*------------------------------
    Progress Css
 -------------------------------*/

.progress-height-4 {
    height: 4px;
    .progress-bar {
        height: 4px;
    }
}

.progress-height-5 {
    height: 5px;
    .progress-bar {
        height: 5px;
    }
}

.progress-height-6 {
    height: 6px;
    .progress-bar {
        height: 6px;
    }
}

.progress-height-8 {
    height: 8px;
    .progress-bar {
        height: 8px;
    }
}

.progress-height-34 {
    height: 34px;
    .progress-bar {
        height: 34px;
    }
}

.progress-height-77 {
    height: 77px;
    .progress-bar {
        height: 77px;
    }
}

.single-skill {
    margin-top: 14px;
    overflow: hidden;
    padding-bottom: 23px;
    p {
        font-family: $heading-font;
        color: #666666;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 17px;
    }
    .progress {
        overflow: visible;
        .progress-bar {
            position: relative;
        }
    }
}






/*----------------------
Vertical Progress Bar
------------------------*/ 


.single-skill.progress-bar-vertical {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}


.progress-bar-vertical{
    position: relative;
    padding-top: 41px;
    
    @media #{$small-mobile} {
        padding-top: 0;
    }
    .progress{
        width: 100%;
        padding-top: 40px;
        min-height: 390px;
        display: flex;
        align-items: flex-end;
        background: transparent;
        overflow: hidden;
        .progress-bar{
            width: 100%;
            height: 0;
            -webkit-transition: height 0.6s ease;
            -o-transition: height 0.6s ease;
            transition: height 0.6s ease;
        }
    }

    p{
        color: #666666;
        font-size: 16px;
        font-weight: 500;
        margin-top: 13px;
        margin-bottom: 0;
        display: block;
    }
    span{
        position: absolute;
        top: -36px;
        color: #383838;
        font-size: 25px;
        font-weight: 600;
        font-family: $heading-font;
        left: 50%;
        transform: translateX(-50%);
    }

}






/*--------------------------------------
// Circle  Progress Bar
------------------------------------*/ 


.radial-progress-single {
    text-align:  center;
    .radial-progress,
    .radial-progress-2,
    .radial-progress-3 {
        position: relative;
        span{
            position:  absolute;
            top:  50%;
            text-align:  center;
            display:  block;
            left:  50%;
            transform: translateX(-50%) translateY(-50%);
            color:  #383838;
            font-size:  30px;
            font-weight: 500;
            font-family: $heading-font;
        }
    }
    h5{
        &.radial-progress-title {
            color:  #666666;
            font-size:  16px;
            font-weight:  500;
            margin:  0;
            margin-top: 11px;
            font-family: $heading-font;
        }
    }
    canvas{
        vertical-align: middle;
        position: relative;
    }

    &.agency-progress{
        .radial-progress{
            span{
                color:  #ffffff;
                font-size: 30px;
            }
        }
        h5{
            &.radial-progress-title {
                color:  #ffffff;
                margin-top: 15px;
            }
        }

    }
}



.radial-progress-single .radial-progress-3 span.lable-style-2 {
    background: #fff;
    width: 80px;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    border-radius: 100%;
    font-size: 18px;
    color: #4d4d4d;
}



.radial-progress-2{
    position: relative;
    display: inline-block;
    &::before{
        position: absolute;
        background: #cf3750;
        left: 0;
        top: 0;
        width: 92%;
        height: 93%;
        content: "";
        border-radius: 100%;
        opacity: 0.2;
        right: 0;
        margin: 0 auto;
        bottom: 0;
    }

    &.circles-bg-2{
        &::before{
            background: #f67345;
        }
    }

    &.circles-bg-3{
        &::before{
            background: #ffc354;
        }
    }

    &.circles-bg-4{
        &::before{
            background: #2191d0;
        }
    }


}









.radial-progressbg {
    display: inline-block;
    border-radius: 100%;
    padding:  8px;
    margin: 0;
    border: 1px solid #bd7db1;
    
    &.radial-progressbg-1{
        border: 1px solid #fdc57a;
    }

    &.radial-progressbg-2{
        border: 1px solid #53c4c0;
    }

    &.radial-progressbg-3{
        border: 1px solid #bd7db1;
    }

    &.radial-progressbg-4{
        border: 1px solid #f47a6b;
    }


}

