/* ==============================
    Scroll Images Style 
==================================*/

.ht-scroll-image{
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.1);
    .thumb{
        min-height: 600px;
        transition: background-position 6s ease-in-out;
        -webkit-transition: background-position 6s ease-in-out;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        display: block;
        position: relative;
        width: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        border-top: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        transition: background-position 2s cubic-bezier(0.1, 0.54, 0.43, 0.94);
        -webkit-transition: background-position 2s cubic-bezier(0.1, 0.54, 0.43, 0.94);

        @media #{$sm-layout} {
            min-height: 400px;
        }
        
        &:hover{
            background-position: center bottom !important;
        }
    }
}















