/*========================
    Search Style
==========================*/




/*===================================
    Search Header StartUp
====================================*/

.header-with-search {
    ul {
        &.mainmenu {

            li {
                margin: 0 15px;
                @media #{$sm-layout} {
                    margin-top: 20px;
                }

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: #18012c;
                    font-weight: 600;
                    font-size: 14px;
                    font-family: $heading-font;
                }
            }
        }
    }
    &.header-search-2 {
        ul {
            &.mainmenu {
                li {
                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

/*===================================
    Search Style sartUp
====================================*/

.search--1 {
    input {
        border: 1px solid #ccc;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &.search--1 {
        position: relative;

        input {
            border-radius: 22px;
            transition: all .3s ease-in-out;
            height: 45px;
            width: 83%;
            color: #999999;
            font-size: 14px;
            padding: 0 78px 0px 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            @media #{$md-layout} {
                width: 100%;
                position: relative;
                top: auto;
                transform: inherit;
                margin-top: 30px;
            }
            @media #{$sm-layout} {
                width: 100%;
                position: relative;
                top: auto;
                transform: inherit;
                margin-top: 30px;
            }

            &:focus {
                width: 100%;
                border: 1px solid hotpink;

                ~button {
                    width: 36px;

                    &.btn-search {
                        background: hotpink;
                        color: #fff;
                        border-radius: 20px;
                    }

                    &.btn-reset {
                        right: -22px;
                    }
                }
            }
        }

        button {
            transition: all .3s ease-in-out;
            border: none;
            height: 36px;
            position: absolute;
            right: 4px;
            top: 50%;
            width: 70px;
            transform: translateY(-50%);
            padding: 0;

            @media #{$md-layout} {
                top: 69%;
            }
            @media #{$sm-layout} {
                top: 69%;
            }

            &.btn-search {
                background: #0056ff;
                border-radius: 0 20px 20px 0;
                color: #fff;
                transition: all .3s ease-in-out;
            }

        }
    }
}



/*===================================
    Search Style 02
====================================*/


.search--2 {
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
    width: 100%;

    @media #{$md-layout} {
        margin-top: 30px;
    }
    @media #{$sm-layout} {
        margin-top: 30px;
    }

    input[type="text"] {
        height: 60px;
        font-size: 17px;
        display: inline-block;
        font-weight: 100;
        border: none;
        outline: none;
        color: #fff;
        padding: 0;
        padding-right: 70px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        z-index: 3;
        transition: width 0.5s cubic-bezier(0, 0.795, 0, 1);
        cursor: pointer;

        &:focus {
            width: 100%;
            z-index: 1;
            border-bottom: 1px solid #ffffff;
            cursor: text;
        }
    }

    input[type="submit"] {
        width: 63px;
        display: inline-block;
        color: #ffffff;
        float: right;
        background: url(img/icons/search.png) center center no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        cursor: pointer;
        transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    }
}

.search--2 input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
}

.search--2 input[type="text"]::-moz-placeholder {
    color: #ffffff;
}

.search--2 input[type="text"]:-ms-input-placeholder {
    color: #ffffff;
}

.search--2 input[type="text"]:-moz-placeholder {
    color: #ffffff;
}



/*===================================
    Search Style 03
====================================*/


.search--3 {
    float: right;
    height: 40px;
    position: relative;
    width: 100%;

    @media #{$md-layout} {
        margin-top: 20px;
    }
    @media #{$sm-layout} {
        margin-top: 30px;
    }

    input[type="text"] {
        border: 1px solid #18012c;
        font-size: 12px;
        height: 40px;
        position: absolute;
        transition: all .3s ease-in;
        width: 50%;
        right: 0px;
        color: #18012c;
        font-size: 14px;
        transition: all .3s ease-in-out;
        padding: 0 20px;
        padding-right: 63px;

        &:focus {
            width: 100%;
            border-radius: 20px;
            border: 1px solid #ed552d;

            ~button {
                background: #ed552d;
                border: 1px solid #ed552d;
                border-radius: 0 20px 20px 0;
                color: #fff;
            }
        }
    }
    button {
        background: transparent;
        transition: all .3s ease-in;
        position: absolute;
        right: 0;
        border: 0 none;
        transition: all .3s ease-in-out;
        width: 42px;
        text-align: center;
        height: 100%;
        border: 0 none;
    }
}
// Search Cut

.search--3{
    button{
        &.btn-reset{
            background: transparent;
            border: 1px solid $theme-color;
            border-radius: 50%;
            font-size: 10px;
            height: 20px;
            line-height: 10px;
            padding: 0;
            width: 20px;
            left: 92%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: all .6s ease-in-out;
        }
    }
    input[type="text"]{
        &:focus{
            ~ button{
                &.btn-reset{
                    transform: rotateZ(360deg) translateY(-50%);
                    left: 100%;
                    transition-delay: .3s;
                    border-radius: 100%;
                    opacity: 1;
                    background: transparent;
                    border: 1px solid $theme-color;
                    color: $theme-color;
                    visibility: visible;
                }
            }
        }
    }
}

.search--3 input[type="text"]::-webkit-input-placeholder {
    color: #18012c;
}

.search--3 input[type="text"]::-moz-placeholder {
    color: #18012c;
}

.search--3 input[type="text"]:-ms-input-placeholder {
    color: #18012c;
}

.search--3 input[type="text"]:-moz-placeholder {
    color: #18012c;
}


/*===================================
    Search Style 04
====================================*/


.search--4 {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    float: right;

    @media #{$md-layout} {
        margin-top: 30px;
    }
    @media #{$sm-layout} {
        margin-top: 30px;
    }

    &:before {
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        position: relative;
        background-color: #ff4888;
        transition: all .5s ease;
    }

    &.open {
        width: 100%;

        &:before {
            height: 20px;
            margin: 15px 8px 10px 29px;
            position: absolute;
        }
    }
}

.search--4 {
    .search-box {
        width: 100%;
        height: 100%;
        box-shadow: none;
        border: none;
        background: transparent;
        color: #ff4888;
        padding: 0px 48px 0px 45px;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }
}

.search--4 {
    .search-button {
        width: 45px;
        height: 45px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

.search--4 {
    .search-icon {
        width: 20px;
        height: 20px;
        border-radius: 40px;
        border: 2px solid #ff4888;
        display: block;
        position: relative;
        margin-left: 10px;
        transition: all 0.5s ease;
        top: 10px;

        &:before {
            content: '';
            width: 3px;
            height: 8px;
            position: absolute;
            right: -2px;
            top: 12px;
            display: block;
            background-color: #ff4888;
            transform: rotate(-45deg);
            transition: all 0.5s ease;
        }

        &:after {
            content: '';
            width: 3px;
            height: 9px;
            position: absolute;
            right: -8px;
            top: 17px;
            display: block;
            background-color: #ff4888;
            transform: rotate(-46deg);
            transition: all 0.5s ease;
        }
    }

    &.open {
        .search-icon {
            margin: 0;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            top: 5px;
            &:before {
                transform: rotate(52deg);
                right: 12px;
                top: 12px;
                height: 18px;
            }
            &:after {
                transform: rotate(-230deg);
                right: 12px;
                top: 2px;
                height: 18px;
            }
        }
    }
}

.search--4 .search-box[type="text"]::-webkit-input-placeholder {
    color: #ff4888;
}
.search--4 .search-box[type="text"]::-moz-placeholder {
    color: #ff4888;
}
.search--4 .search-box[type="text"]:-ms-input-placeholder {
    color: #ff4888;
}
.search--4 .search-box[type="text"]:-moz-placeholder {
    color: #ff4888;
}

/*===================================
    Search Style 05
====================================*/


.search--5{
    @media #{$md-layout} {
        margin-top: 30px;
    }
    @media #{$sm-layout} {
        margin-top: 30px;
    }
   button{
       color: #f45862;
       font-size: 24px;
       border: 0 none;
       outline: none;
   }
}

.block-bg{
	background: rgba(22, 22, 27, 0.97) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transform: scale(0.7);
    transition: -webkit-transform 0.8s ease 0s, -moz-transform 0.8s ease 0s, -o-transform 0.8s ease 0s, transform 0.8s ease 0s, opacity 0.5s ease 0s, visibility 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    &.is-visible{
    	opacity: 1;
	    transform: scale(1);
	    visibility: visible;
    }
    .close__wrap {
        color: white;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        margin-top: -12.5px;
        padding-right: 25px;
        position: absolute;
        right: 49px;
        text-transform: uppercase;
        z-index: 11;
        transition: 0.4s;
        top: 65px;
		&:hover{
			color: #ffffff;
		}
		&::after{
			content: "\f00d";
			font-family: 'FontAwesome';
			font-size: 24px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}


.minisearch .field__search {
    left: 0;
    margin: 0 auto auto;
    max-width: 1000px;
    padding: 0 5px;
    position: fixed;
    right: 0;
    top: 50%;
}
.minisearch .field__search input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: currentcolor currentcolor #ebebeb;
    -o-border-image: none;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #fff;
    height: 60px;
    padding: 10px 60px 10px 10px;
    position: static;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    outline: none;
}
.minisearch .field__search .action {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.minisearch .field__search .action a i {
    color: #797979;
    display: inline-block;
    font-size: 26px;
    height: 60px;
    left: 0;
    line-height: 60px;
    text-align: center;
    top: 0;
    width: 60px;
}







