/*---------------------------
 * Section Title Style
---------------------------------*/





.section-title{
    h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        display: inline-block;
        border-bottom: 2px solid #18012c;
        margin-bottom: 20px;
    }
    &.white-text{
        h2{
            color: #ffffff;
            border-bottom: 2px solid #ffffff;
        }
    }
}


/* Section Title Style 2 */

.section-title--2{
    margin-top: -10px;
    h2 {
        font-size: 34px;
        font-weight: 700;
        margin: 0;
        display: inline-block;
        color: #333333;
        margin-bottom: 8px;
        @media #{$sm-layout} {
            font-size: 28px;
        }
    }
    p{
        margin: 0;
        color: #333;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        @media #{$sm-layout} {
            font-size: 14px;
        }
    }

    &.white-text{
        h2{
            color: #ffffff;
        }
        p{
            color: #ffffff;
        }
    }

    &.agency-title{
        h2{
            color: $theme-color;
        }
        p{
            color: #494849;
        }
    }


    
}

/* Section Title Style 3 */

.section-title--3{
    margin-top: -10px;
    h2 {
        font-size: 36px;
        font-weight: 600;
        margin: 0;
        display: inline-block;
        color: #4a4949;
        margin-bottom: 8px;
        @media #{$sm-layout} {
            font-size: 28px;
        }
    }
    p{
        margin: 0;
        color: #535252;
        font-family: $heading-font;
        font-weight: 400;
        font-size: 16px;
        @media #{$sm-layout} {
            font-size: 14px;
        }
    }

    &.white-text{
        h2{
            color: #ffffff;
        }
        p{
            color: #ffffff;
        }
    }
    &.education-title{
        h2{
            
        }
        p{
            position: relative;
            padding-bottom: 20px;
            &::before{
                position: absolute;
                content: "";
                background: $education-theme-color;
                width: 76px;
                height: 2px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
}


/* Section Title Style 4 */

.section-title--4{
    margin-top: -10px;
    span {
        color: #18012c;
        letter-spacing: 1px;
        display: block;
    }
    h2 {
        color: #18012c;
        font-weight: 600;
        margin: 0;
        font-size: 48px;
        display: inline-block;
        padding: 0 130px;
        position: relative;

        @media #{$sm-layout} {
            font-size: 27px;
            padding: 0 112px;
        }

        &::before ,
        &::after{
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            width: 100px;
            height: 3px;
            background: #412e51;
        }
        &::after{
            left: auto;
            right: 0;
        }
    }
}



/* Section Title Style 3 */

.section-title--5{
    margin-top: -10px;
    h2 {
        font-size: 34px;
        font-weight: 700;
        display: inline-block;
        color: #404040;
        margin-bottom: 7px;
        @media #{$sm-layout} {
            font-size: 28px;
        }
    }
    p{
        margin: 0;
        color: #333;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        @media #{$sm-layout} {
            font-size: 14px;
        }
    }
    &.white-text{
        h2{
            color: #ffffff;
        }
        p{
            color: #ffffff;
        }
    }
}


/* Section Title Style 6 */

.section-title--6{
    margin-top: -10px;
    h2 {
        font-size: 36px;
        font-weight: 600;
        color: #18012c;
        margin-bottom: 3px;
        @media #{$sm-layout} {
            font-size: 28px;
        }
    }
    img{
        margin-bottom: 16px;
    }
    p{
        margin: 0;
        color: #18012c;
        font-family: $heading-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        padding: 0 27%;
        @media #{$sm-layout} {
            font-size: 14px;
        }
    }
    &.white-text{
        h2{
            color: #ffffff;
        }
        p{
            color: #ffffff;
        }
    }
    &.text-left{
        p{
            padding: 0 27% 0 0;
        }
    }
}



/* Section Title Style 7 */

.section-title--7{
    margin-top: -10px;
    h2 {
        font-size: 48px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 3px;
    }
}




/* Section Title Style 8 */

.section-title--8{
    position: relative;
    margin-top: -10px;
    h2 {
        color: #434344;
        font-size: 36px;
        margin-bottom: 2px;
    }
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
    p {
        margin: 0;
        color: #494849;
        font-size: 16px;
        line-height: 30px;
    }
    
}




/* Section Title Style 9 */

.section-title--9{
    margin-top: -10px;
    h2 {
        color: #333333;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 0;
    }
}



/* Section Title Style 10 */

.section-title--10{
    margin-top: -10px;
    h2 {
        color: #333333;
        font-size: 36px;
        margin-bottom: 10px;
    }
    p {
        color: #333333;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        padding: 0 24%;
        margin: 0;
        margin-top: 12px;
    }
}

/* Section Title Style 11 */

.section-title--11{
    margin-top: -10px;
    img{

    }
    h2 {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 12px;
        color: #333333;
        margin-top: 20px;
    }
    p {
        color: #333333;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        padding: 0 24%;
        margin: 0;
        font-family: 'Cabin', sans-serif;
    }
}

/* Section Title Style 12 */


.section-title--12{
    margin-top: -12px;
    h2 {
        color: #424242;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 12px;
        font-family: 'Frank Ruhl Libre', serif;
    }
    p {
        margin: 0;
        color: #4c4c4c;
        font-size: 15px;
        line-height: 25px;
        padding: 0 30%;
        font-family: 'Open Sans', sans-serif;
    }
    
    &.text-left{
        p{
            padding: 0 30% 0 0;
        }

    }
}

/* Section Title Style 13 */

.section-title--13{
    margin-top: -10px;
    h2 {
        color: #333333;
        font-size: 34px;
        margin-bottom: 5px;
    }
    p {
        font-weight: 300;
        color: #333333;
        font-size: 16px;
        margin: 0;
    }
}

/* Section Title Style 15 */

.section-title--15{
    margin-top: -10px;
    h2 {
        color: #18012c;
        font-size: 36px;
        margin-bottom: 4px;
        font-weight: 600;
    }
    img{
        margin-bottom: 16px;
    }
    p {
        font-weight: 400;
        color: #18012c;
        font-size: 16px;
        margin: 0;
        line-height: 28px;
        padding: 0 27%;
        font-family: $heading-font;
    }
}

/* Section Title Style 16 */

.section-title--16{
    margin-top: -10px;
    h2 {
        color: #333333;
        font-size: 30px;
        font-style: italic;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &::before{
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            width: 80px;
            background: #e54c2a;
            height: 2px;
            transform: translateX(-50%);
        }
    }
    img{
        margin-bottom: 16px;
    }
    p {
        font-weight: 400;
        color: #18012c;
        font-size: 18px;
        margin: 0;
        line-height: 30px;
        padding: 0 27%;
        font-family: 'Cabin', sans-serif;
    }
    &.text-left{
        h2 {
            &::before{
                left: 0;
                transform: inherit;
            }
        }
        p {
            padding: 0 27% 0 0;
        }
    }
}




/* Section Title Style 20 */

.section-title--19{
    span{
        color: #ff759d;
        font-weight: 400;
        font-size: 30px;
        font-family: 'Cookie', cursive;
        display: block;
        margin-bottom: 10px;
    }
    h2 {
        color: #333333;
        font-size: 36px;
        font-weight: 600;
        position: relative;
        margin-bottom: 8px;
    }
    p {
        font-weight: 400;
        color: #333333;
        font-size: 16px;
        margin: 0;
        line-height: 28px;
        padding: 0 25%;
        font-family: $heading-font;
    }
    &.text-left{
        p{
            padding: 0 25% 0 0;
        }
    }
}






/* Section Title Style 20 */

.section-title--20{
    margin-top: -10px;
    h2 {
        color: #333333;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        margin-bottom: 8px;
    }
    p {
        font-weight: 400;
        color: #333333;
        font-size: 18px;
        margin: 0;
        line-height: 30px;
        padding: 0 20%;
        font-family: $heading-font;
    }
    &.text-left{
        p{
            padding: 0 20% 0 0;
        }
    }
}


/* Section Title Style 20 */

.section-title--17{
    margin-top: -10px;
    h2 {
        color: #333333;
        font-size: 36px;
        font-weight: 600;
        position: relative;
        margin-bottom: 8px;
    }
    p {
        font-weight: 400;
        color: #333333;
        font-size: 16px;
        margin: 0;
        line-height: 30px;
        padding: 0 20%;
        font-family: $heading-font;
    }
    &.text-left{
        p{
            padding: 0 20% 0 0;
        }
    }
    &.text-white{
        h2 {
            color: #ffffff;
        }
        p {
            color: #ffffff;
        }
    }
}




/* Section Title Style 18 */

.section-title--18{
    margin-top: -10px;
    p {
        font-weight: 600;
        color: #3f3f3f;
        font-size: 18px;
        margin: 0;
        padding: 0 20%;
        font-family: $heading-font;
    }
    h2 {
        color: #3f3f3f;
        font-size: 48px;
        font-weight: 600;
        position: relative;
        margin: 0;
        padding-bottom: 19px;
        margin-top: 6px;
        &::before{
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            width: 100px;
            background: #455ac8;
            height: 2px;
            transform: translateX(-50%);
        }
    }
    &.text-left{
        p{
            padding: 0 20% 0 0;
        }
    }
}


























