
/*================================
    Service Style
==================================*/ 
.service{
    margin-top: 30px;
}


/*================================
    Service Style One
==================================*/ 

.service-1{
    .icon{
        margin-bottom: 30px;
        i{
            color:  #ed552d;
            font-size:  50px;
        }
    }
    .thumb{
        margin-bottom: 25px;
    }
    .content{
        h4{
            color:  #333333;
            font-size:  18px;
            font-weight:  600;
        }
        p{
            color: #333;
            font-size: 15px;
            line-height: 25px;
            margin: 0;
            padding: 0 12px;
            position: relative;
            padding-bottom: 35px;
            &::before{
                position:  absolute;
                content: "";
                background:  #969696;
                width:  20px;
                height: 1px;
                bottom:  0;
                left:  50%;
                transform: translateX(-50%);
            }
            &::after{
                position:  absolute;
                content:  "";
                background:  #969696;
                height:  1px;
                width:  30px;
                bottom: 5px;
                left:  50%;
                transform: translateX(-50%);
            }
        }
    }


    
    &.agency-service{
        .icon{
            i{
                color:  $agency-theme-color;
            }
        }
    }
    
    &.portfolio-service{
        .icon{
            i{
                color:  $portfolio-theme-color;
            }
        }
    }

    &.gr-service{
        .icon{
            i{
                color: $gardening-theme-color;
            }
        }
        .content{
            h4{
                color:  #404040;
            }
            p{
                color: #5b5b5b;
                font-size: 16px;
                line-height: 28px;
                font-family: $body-font;
                padding: 0 12px;
                padding-bottom: 35px;
            }
        }
        &.fter-shape-none{
            .content{
                p{
                    &::before ,
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}



/*================================
    Service Style Two
==================================*/ 

.service-2 {
    background:  #ffffff;
    padding: 30px;
    transition: 0.4s ease-in-out;
    @media #{$sm-layout} {
        padding: 15px;
    }
    &.padding-none{
        padding: 0;
    }
    .thumb{
        a{
            img{
                width: 100%;
            }
        }
    }

    &.cleaning-service{
        .content{
            padding: 30px 20px;
            @media #{$lg-layout} {
                padding: 30px 24px;

            }
            @media #{$md-layout} {
                padding: 16px 9px;
            }

            p{
                margin-bottom: 8px;
            }
        }
    }
    .content {
        padding-top: 30px;
        h4 {
            color:  #333333;
            font-size:  22px;
            line-height: 30px;
            margin-bottom: 13px;
            padding: 0 9px;
            
            @media #{$sm-layout} {
                font-size: 20px;
            }
        }
        p {
            color:  #333333;
            font-size:  14px;
            line-height:  24px;
            margin-bottom: 35px;
        }
        a{
            &.readmore_btn {
                height:  42px;
                border:  1px solid #0056ff;
                display:  inline-block;
                padding:  0 42px;
                line-height:  40px;
                font-size:  14px;
                border-radius: 30px;
                color:  #0056ff;
                font-weight:  600;
                transition: 0.5s;
                &:hover {
                    background:  #0056ff;
                    color: #fff;
                }
                &.btn-transparent{
                    border: 0 none;
                    width: inherit;
                    height: inherit;
                    color: #3f3f3f;
                    font-size: 14px;
                    font-family: $heading-font;
                    font-weight: 500;

                    &:hover{
                        color: $cln-theme-color;
                        background: transparent;
                    }
                }
            }
        }
    }
    &.agency-service{
        background:  #f4f4f4;
        .content {
            padding-top: 30px;
            a{
                &.readmore_btn {
                    border:  1px solid $agency-theme-color;
                    color:  $agency-theme-color;
                    &:hover {
                        background:  $agency-theme-color;
                        color: #fff;
                    }
                }
            }
        }
        &:hover{
            background:  #ffffff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    &.repair-service{
        background:  #ffffff;
        .content {
            padding-top: 30px;
            a{
                &.readmore_btn {
                    border:  2px solid $repair-theme-color;
                    color:  $repair-theme-color;
                    line-height: 38px;
                    &:hover {
                        background:  $repair-theme-color;
                        color: #fff;
                    }
                }
            }
        }
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    &.carpenter-service{
        background:  #ffffff;
        .content {
            padding: 30px;
            a{
                &.readmore_btn {
                    border:  2px solid $carpen-theme-color;
                    color:  $carpen-theme-color;
                    line-height: 38px;
                    &:hover {
                        background:  $carpen-theme-color;
                        color: #fff;
                    }
                }
            }
        }
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    &.popular-courses{
        background:  #f4f4f4;
        .content {
            padding-top: 30px;
            h4{
                padding: 0;
            }
            p{
                margin-bottom: 26px;
            }
            a{
                &.readmore_btn {
                    border:  1px solid $education-theme-color;
                    color:  $education-theme-color;
                    &:hover {
                        background:  $education-theme-color;
                        color: #fff;
                    }
                }
            }
            ul{
                padding: 0;
                display: flex;
                margin: 0;
                list-style: none;

                &.crs-meta{
                    margin-bottom: 17px;
                    li{
                        color: #6e6e6e;
                        font-size: 14px;
                        font-family: $heading-font;
                        margin-right: 14px;
                        a{
                            color: #6e6e6e; 
                        }
                    }
                }

                &.crs-price{
                    justify-content: space-between;
                    li{
                        color: #6e6e6e;
                        font-size: 14px;
                        font-family: $heading-font;
                        margin-right: 14px;
                        i{
                            padding-right: 7px;
                        }
                        a{
                            color: #6e6e6e; 
                        }
                        &.price{
                            color: $education-theme-color;
                        }
                    }
                }
            }
            
        }
        &:hover{
            background:  #ffffff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    &.body-fit-choose{
        background:  #ffffff;
        .content {
            padding: 40px;
            i{
                font-size: 69px;
                margin-bottom: 11px;
                display: inline-block;
                color: #404040;
            }
            h4{
                padding: 0;
                font-size: 22px;
                font-weight: 500;
            }
            p{
                margin-bottom: 26px;
                color: #4d4d4d;
                line-height: 27px;
            }
            a{
                &.readmore_btn {
                    border: 1px solid transparent;
                    padding: 0;
                    border-radius: inherit;
                    color: #404040;
                    &:hover {
                        background:  transparent;
                        color: $body-theme-color;
                    }
                }
            }
            
            
        }
        &:hover{
            background:  #fb5b21;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            .content {
                i{
                    color: #ffffff;
                }
                h4{
                    color: #ffffff;
                }
                p{
                    color: #ffffff;
                }
                a{
                    &.readmore_btn {
                        color: #fff;
                    }
                }
                
                
            }
        }
    }

    &.beauty-service{
        background:  #ffffff;
        .content {
            padding: 40px;
            h4{
                padding: 0;
                font-size: 22px;
                font-weight: 500;
            }
            p{
                margin-bottom: 13px;
                color: #333333;
                line-height: 27px;
            }
            a{
                &.readmore_btn {
                    border: 1px solid transparent;
                    padding: 0;
                    border-radius: inherit;
                    color: #404040;
                    height: auto;
                    line-height: initial;
                    &:hover {
                        background:  transparent;
                        color: $body-theme-color;
                    }
                }
            }
        }
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            .content {
                a{
                    &.readmore_btn {
                        color: #ff759d;
                    }
                }
            }
        }
    }

}


/* Cleaning Service Activation  */

.cln-service-activation{
    .draggable{
        margin: 0 -15px;
        .slick-slide{
            margin: 0 15px;
        }
    }
    button{
        position: absolute;
        top: 50%;
        left: -80px;
        color: #f4f4f4;
        border: 0 none;
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #000000;
        transform: translateY(-50%);
        z-index: 2;
        border-radius: 100%;
        z-index: 2;
        transition: 0.4s ease-in-out;
        @media #{$lg-layout} {
            left: -30px;
        }
        @media #{$md-layout} {
            left: -30px;
        }
        @media #{$sm-layout} {
            left: -30px;
        }
        &:hover{
            color: #ffffff;
            background: $cln-theme-color;
        }
        &.clnService-next{
            left: auto;
            right: -80px;
            @media #{$lg-layout} {
                right: -30px;
            }
            @media #{$md-layout} {
                right: -30px;
            }
            
            @media #{$sm-layout} {
                right: -30px;
            }
        }
    }
}


/*================================
    Service Style Three
==================================*/ 


.service-3{
    .icons {
        border:  1px solid #eff2f7;
        width:  110px;
        height:  110px;
        text-align:  center;
        border-radius:  100%;
        padding: 10px;
        margin:  0 auto;
        margin-bottom: 27px;
        transition: 0.4s;
        i {
            background:  #eff2f7;
            height:  90px;
            display:  block;
            border-radius:  100%;
            line-height:  90px;
            width:  90px;
            text-align:  center;
            font-size: 40px;
            margin:  0 auto;
            color: #454545;
            transition: 0.4s;
        }
    }
    &:hover .icons{
        border:  1px solid #0056ff;
    }
    &:hover .icons i{
        background:  #0056ff;
        color: #fff;
    }
    .content{
        h4 {
            color:  #333333;
            font-size:  16px;
            text-transform:  uppercase;
            padding-bottom:  20px;
            position:  relative;
            &::before {
                position:  absolute;
                content:  "";
                background:  #0056ff;
                width:  30px;
                height:  3px;
                left:  50%;
                bottom:  0;
                transform: translateX(-50%);
            }
        }
        p {
            color:  #333333;
            font-size:  14px;
            line-height:  25px;
            padding:  0 12px;
            margin: 0;
            @media #{$lg-layout} {
                padding: 0 2px;
            }
        }
    }


    &.cleaning-service{
        &:hover .icons{
            border:  1px solid $cln-theme-color;
        }
        &:hover .icons i{
            background:  $cln-theme-color;
        }
        .content{
            h4 {
                &::before {
                    background:  $cln-theme-color;
                }
            }
        }
    }

    &.const-service{
        &:hover .icons{
            border:  1px solid $construction-theme-color;
        }
        &:hover .icons i{
            background:  $construction-theme-color;
        }
        .content{
            h4 {
                &::before {
                    background:  $construction-theme-color;
                }
            }
        }
    }

    &.service-education{
        .icons {
            border: 1px solid #f6f6f6;
            width: 90px;
            height: 90px;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            margin: 0 auto;
            margin-bottom: 27px;
            transition: 0.4s;
            background: #f6f6f6;
            i {
                background: #ffffff;
                height: 60px;
                display: block;
                border-radius: 100%;
                line-height: 60px;
                width: 60px;
                text-align: center;
                font-size: 40px;
                margin: 0 auto;
                color: #454545;
                transition: 0.4s;
                position: absolute;
                margin-top: 4px;
                text-align: center;
                margin-left: 4px;
            }
        }
        &:hover .icons{
            border:  1px solid $education-theme-color;
        }
        &:hover .icons i{
            background:  #ffffff;
            color: $education-theme-color;
        }
        &:hover .icons {
            background:  $education-theme-color;
        }
        .content{
            h4 {
                &::before {
                    background:  $education-theme-color;
                }
            }
            p {
                color:  #5b5b5b;
                font-size:  14px;
                line-height:  25px;
                padding:  0 12px;
                margin: 0;
                @media #{$lg-layout} {
                    padding: 0 2px;
                }
            }
        }
    }




}


/*================================
    Service Style 04
==================================*/ 

.service-4{
    background:  rgba(255,255,255,0.15);
    padding: 75px 11px;
    .content{
        h4 {
            color:  #b8b8b8;
            font-weight:  300;
            text-transform:  uppercase;
            margin-bottom: 16px;
        }
        p {
            margin: 0;
            color:  #959595;
            font-weight:  300;
            font-size:  14px;
            line-height: 24px;
        }
    }
    .icons {
        padding-bottom:  33px;
        position:  relative;
        margin-bottom: 22px;
        &::before {
            position:  absolute;
            content:  "";
            background:  #969696;
            width:  30px;
            height:  1px;
            bottom:  0;
            left:  50%;
            transform: translateX(-50%);
        }
        &::after {
            position:  absolute;
            content:  "";
            bottom: 5px;
            left:  50%;
            transform: translateX(-50%);
            background:  #969696;
            width:  20px;
            height: 1px;
        }
    }
    &.text-white-service{
        background:  rgba(0,179, 204,0.7);
        .content{
            h4 {
                color:  #fefefe;
                font-size: 16px;
            }
            p {
                color:  #fefefe;
            }
        }
        .icons {
            &::before {
                background:  #fefefe;
            }
            &::after {
                background:  #fefefe;
            }
        }
    }

}





/*================================
    Service Style 05
==================================*/ 

.service-5{
    .content {
        padding-top: 26px;
        h4 {
            color:  #585858;
            font-size:  17px;
            font-weight:  600;
            margin-bottom: 13px;
        }
        p {
            color:  #414141;
            font-size:  14px;
            line-height:  24px;
            margin: 0;
        }
    }
    .thumb{
        position: relative;
        img{
            width: 100%;
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            -webkit-transition: opacity 1s;
            transition: opacity 1s;
            opacity: 0;
            background-image: -webkit-linear-gradient(top, #252a9c, #df09f9);
            background-image: linear-gradient(0, #252a9c, #df09f9);
        }
        
    }
    &:hover .thumb::before{
        opacity: 0.3;
    }
}



/*================================
    Service Style 06
==================================*/ 



.service-6 {
    margin-top: 12px;
    .icons {
        border:  1px solid #4e89fb;
        width: 100px;
        height:  100px;
        line-height:  100px;
        border-radius: 100%;
        float: left;
        text-align:  center;
        margin-right: 22px;
        margin-top: 10px;
        @media #{$sm-layout} {
            margin: auto;
            margin-bottom: 21px;
            float: inherit;
        }
    }
    .content {
        overflow:  hidden;

        @media #{$sm-layout} {
            text-align: center;

        }
        p {
            font-size:  14px;
            line-height:  25px;
            color:  #5b5b5b;
        }
        h4 {
            color:  #5f5f5f;
            font-size:  24px;
            font-weight:  600;
            margin-bottom: 7px;
            @media #{$sm-layout} {
                font-size: 21px;
            }
        }
    }
    &.reapir-service{
        margin-top: 12px;
        .icons {
            border:  0 none;
            width: auto;
            height:  auto;
            line-height:  inherit;
            border-radius: inherit;
            float: left;
            text-align:  center;
            margin-right: 22px;
            margin-top: 10px;
        }
        .content {
            p {
                font-size:  16px;
                line-height:  30px;
                color:  #585757;
                padding-right: 10%;
            }
            h4 {
                color:  #3d3d3d;
            }
        }
    }


    &.medical-service{
        background: #00a3c8;
        margin-top: 0;
        padding: 50px 69px;
        &.service-bg-2{
            background: #0097b9;
        }
        .icons {
            border:  1px solid transparent;
            width: auto;
            height:  auto;
            line-height:  inherit;
            border-radius: inherit;
            float: left;
            text-align:  center;
            margin-right: 25px;
            margin-top: 10px;
        }
        .content {
            overflow:  hidden;
            h4 {
                color:  #ffffff;
                font-size:  18px;
                font-weight:  500;
                margin-bottom: 7px;
            }
            p {
                font-size:  14px;
                line-height:  26px;
                color:  #ffffff;
            }
            
        }
    }

    &.bd-service{
        .icons {
            border:  1px solid transparent;
            width: auto;
            height:  50px;
            line-height:  50px;
            border-radius: inherit;
            float: left;
            text-align:  center;
            margin-right: 24px;
            margin-top: 10px;
            padding-right: 17px;
            border-right: 1px solid #5e5e5e;
            i {
                color: #333333;
                font-size: 53px;
                transition: 0.4s ease-in-out;
                &:hover{
                    color: #fb5b21;
                }
            }

            @media #{$sm-layout} {
                margin: auto;
                margin-bottom: 21px;
                float: inherit;
            }
        }
        .content {
            p {
                font-size:  14px;
                line-height:  25px;
                color:  #333333;
            }
            h4 {
                color:  #333333;
                font-size:  22px;
                font-weight:  500;
                margin-bottom: 7px;
                @media #{$sm-layout} {
                    font-size: 21px;
                }
            }
        }
    }



}


/*================================
    Service Style 07
==================================*/ 

.service-7 {
    display:  flex;
    margin-top: 0;
    position:  relative;
    z-index: 1;
    padding: 40px 20px;
    border-radius: 8px;

    @media #{$sm-layout} {
        padding: 40px 0px;
    }
    .icons {
        margin-right: 33px;
        @media #{$sm-layout} {
            margin-right: 20px;
        }
        i {
            color:  #4c4c4c;
            font-size: 40px;
            transition: 0.4s;
        }
    }
    .content{
        h4 {
            color:  #333333;
            font-size: 20px;
            font-weight:  600;
            text-transform:  uppercase;
            margin-bottom: 8px;
            transition: 0.4s;

            @media #{$sm-layout} {
                font-size: 16px;
            }
        }
        p {
            color:  #333333;
            font-size:  14px;
            line-height: 25px;
            margin: 0;
            transition: 0.4s;
        }
    }
    &::before {
        background-image: url(img/service/md-img/servicebg.png);
        position:  absolute;
        content:  "";
        width:  100%;
        height:  100%;
        background-repeat:  no-repeat;
        z-index: -1;
        background-position:  center center;
        top: 0;
        left: 0;
        border-radius: 8px;
        transition:  0.4s ease-in-out;
        opacity: 0;
    }
    &:hover::before{
        opacity: 1;
    }
    &:hover .content h4 ,
    &:hover .content p ,
    &:hover .icons i {
        color: #fff;
    }


    &.political-service{
        .icons {
            i {
                color:  $political-theme-color;
            }
        }
    }
}








