/*=============================
    Single Post Style
================================*/ 


.single-post{
    position: relative;
    .thumb{
        overflow: hidden;
        a{
            img{
                transition: 0.4s ease-in-out;
                width: 100%;
            }
        }
    }
    &:hover .thumb a img {
        transform: scale(1.2);
    }

    /*--------
        Single Post Default
    ----------------------------*/ 
    &.single-post-default {
        .content {
            position: absolute;
            bottom: 0;
            padding: 40px;
            @media #{$sm-layout} {
                padding: 10px 10px;
            }
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 10px;
                line-height: 36px;
                @media screen {
                    font-size: 19px;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    line-height: 28px;
                }   
                a{
                    color: #ffffff;
                }
            }
            ul{
                &.meta{
                    li{
                        color: #ffffff;
                        a{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    /*--------
        Single Post 02
    ----------------------------*/ 

    &.single-post-2 {
        .content {
            padding-top: 30px;
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 10px;
                line-height: 36px;
                @media #{$sm-layout} {
                    font-size: 19px;
                    line-height: 32px;
                }
                a{
                    color: #464545;
                }
            }
            ul{
                &.meta{
                    li{
                        color: #464545;
                        a{
                            color: #464545;
                        }
                    }
                }
            }
        }
    }

    /*--------
        Single Post 03
    ----------------------------*/ 

    &.single-post-3 {
        .content {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
           
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 18px;
                margin-bottom: 22px;
                line-height: 34px;
                padding: 0 10px;

                @media #{$sm-layout} {
                    font-size: 16px;
                    margin-top: 14px;
                    margin-bottom: 10px;
                    line-height: 23px;
                }
                a{
                    color: #ffffff;
                }
            }
            ul{
                &.meta{
                    justify-content: center;
                    li{
                        color: #ffffff;
                        a{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }


    /*--------
        Single Post 04
    ----------------------------*/ 
    &.single-post-4 {
        .content {
           background: #ffffff;
           text-align: center;
           padding: 40px 20px;
           @media #{$sm-layout} {
                padding: 23px 10px;
            }
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 16px;
                line-height: 36px;

                @media #{$sm-layout} {
                    font-size: 18px;
                    line-height: 28px;
                }
                a{
                    color: #464545;
                    transition: 0.4s ease-in;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            ul{
                &.meta{
                    justify-content: center;
                    li{
                        color: #464545;
                        a{
                            color: #464545;
                        }
                    }
                }
            }
        }
    }

    /*--------
        Single Post 05
    ----------------------------*/ 
    &.single-post-5 {
        .content {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
            h2{
                font-size: 30px;
                font-weight: 500;
                line-height: 36px;

                @media #{$sm-layout} {
                    font-size: 20px;
                    line-height: 30px;
                }
                a{
                    color: #ffffff;
                    transition: 0.4s ease-in;
                }
            }
        }
    }




    .post-category{
        a{
            display: inline-block;
            background: #f05555;
            color: #fff;
            height: 24px;
            padding: 0 9px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px;
            transition: 0.4s;
            &:hover{
                background: $theme-color;
                color: #ffffff;
            }
        }
    }
    ul{
        &.meta{
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            margin: 0 -15px;

            li{
                font-size: 13px;
                letter-spacing: 2px;
                margin: 0 15px;
                i{
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
        }
    }

}




















