/*============================
    Social Share Style
===========================*/


//===== StartUp Social Colors =====//
$facebook : #3B5998;
$twitter : #00ACEE;
$google-plus : #DD4B39;
$pinterest : #C8232C;
$linkedin : #0E76A8;
$flickr : #FF0084;
$dribbble : #EA4C89;
$google : #DD4B39;
$skype : #00AFF0;
$behance : #0057ff;
$youtube : #C4302B;
$vimeo : #86C9EF;
$yahoo : #720E9E;
$paypal : #00588B;
$delicious : #205CC0;
$flattr : #F67C1A;
$android : #A4C639;
$tumblr : #34526F;
$wikipedia : #333333;
$stumbleupon : #F74425;
$foursquare : #25A0CA;
$digg : #191919;
$spotify : #81B71A;
$reddit : #C6C6C6;
$cc : #688527;
$vk : #2B587A;
$rss : #EE802F;
$podcast : #E4B21B;
$dropbox : #3D9AE8;
$github : #171515;
$soundcloud : #FF7700;
$wordpress : #1E8CBE;
$yelp : #C41200;
$scribd : #666666;
$cc-stripe : #008CDD;
$drupal : #27537A;
$get-pocket : #EE4056;
$bitbucket : #0E4984;
$stack-overflow : #EF8236;
$hacker-news : #FF6600;
$xing : #126567;
$instagram : #D82E86;
$quora : #A82400;
$openid : #E16309;
$steam : #111111;
$amazon : #E47911;
$slack : #63C1A0;
$snapchat : #FFFC00;
$internet-explorer : #05a6f0;
$firefox : #e66000;
$html5 : #e34f26;
$joomla : #f44321;
$opera : #cc0f16;
$soundcloud : #ff3300;
$product-hunt : #da552f;
$opencart : #32c1ed;
$medium : #02b875;
$safari : #006cff;
$vine : #006cff;
$bitbucket : #0e4984;






/*----------------------
    Social BG Color
------------------------*/
a{
    &.facebook {
        background-color: $facebook;
        color: $white;

        &:hover {
            background-color: $facebook;
            color: $white;
        }
    }

    &.twitter {
        background-color: $twitter;
        color: $white;

        &:hover {
            background-color: $twitter;
            color: $white;
        }
    }

    &.google-plus {
        background-color: $google-plus;
        color: $white;

        &:hover {
            background-color: $google-plus;
            color: $white;
        }
    }

    &.pinterest {
        background-color: $pinterest;
        color: $white;

        &:hover {
            background-color: $pinterest;
            color: $white;
        }
    }

    &.linkedin {
        background-color: $linkedin;
        color: $white;

        &:hover {
            background-color: $linkedin;
            color: $white;
        }
    }

    .pinterest {
        background-color: $pinterest;
        color: $white;

        &:hover {
            background-color: $pinterest;
            color: $white;
        }
    }

    &.flickr {
        background-color: $flickr;
        color: $white;

        &:hover {
            background-color: $flickr;
            color: $white;
        }
    }

    &.dribbble {
        background-color: $dribbble;
        color: $white;

        &:hover {
            background-color: $dribbble;
            color: $white;
        }
    }

    &.google {
        background-color: $google;
        color: $white;

        &:hover {
            background-color: $google;
            color: $white;
        }
    }

    &.skype {
        background-color: $skype;
        color: $white;

        &:hover {
            background-color: $skype;
            color: $white;
        }
    }

    &.behance {
        background-color: $behance;
        color: $white;

        &:hover {
            background-color: $behance;
            color: $white;
        }
    }

    &.youtube {
        background-color: $youtube;
        color: $white;

        &:hover {
            background-color: $youtube;
            color: $white;
        }
    }

    &.vimeo {
        background-color: $vimeo;
        color: $white;

        &:hover {
            background-color: $vimeo;
            color: $white;
        }
    }

    &.yahoo {
        background-color: $yahoo;
        color: $white;

        &:hover {
            background-color: $yahoo;
            color: $white;
        }
    }

    &.paypal {
        background-color: $paypal;
        color: $white;

        &:hover {
            background-color: $paypal;
            color: $white;
        }
    }

    &.delicious {
        background-color: $delicious;
        color: $white;

        &:hover {
            background-color: $delicious;
            color: $white;
        }
    }

    &.flattr {
        background-color: $flattr;
        color: $white;

        &:hover {
            background-color: $flattr;
            color: $white;
        }
    }

    &.android {
        background-color: $android;
        color: $white;

        &:hover {
            background-color: $android;
            color: $white;
        }
    }

    &.tumblr {
        background-color: $tumblr;
        color: $white;

        &:hover {
            background-color: $tumblr;
            color: $white;
        }
    }

    &.wikipedia {
        background-color: $wikipedia;
        color: $white;

        &:hover {
            background-color: $wikipedia;
            color: $white;
        }
    }

    &.stumbleupon {
        background-color: $stumbleupon;
        color: $white;

        &:hover {
            background-color: $stumbleupon;
            color: $white;
        }
    }

    &.foursquare {
        background-color: $foursquare;
        color: $white;

        &:hover {
            background-color: $foursquare;
            color: $white;
        }
    }

    &.reddit {
        background-color: $reddit;
        color: $white;

        &:hover {
            background-color: $reddit;
            color: $white;
        }
    }

    &.cc {
        background-color: $cc;
        color: $white;

        &:hover {
            background-color: $cc;
            color: $white;
        }
    }

    &.drupal {
        background-color: $drupal;
        color: $white;

        &:hover {
            background-color: $drupal;
            color: $white;
        }
    }

    &.get-pocket {
        background-color: $get-pocket;
        color: $white;

        &:hover {
            background-color: $get-pocket;
            color: $white;
        }
    }

    &.bitbucket {
        background-color: $bitbucket;
        color: $white;

        &:hover {
            background-color: $bitbucket;
            color: $white;
        }
    }

    &.stack-overflow {
        background-color: $stack-overflow;
        color: $white;

        &:hover {
            background-color: $stack-overflow;
            color: $white;
        }
    }

    &.hacker-news {
        background-color: $hacker-news;
        color: $white;

        &:hover {
            background-color: $hacker-news;
            color: $white;
        }
    }

    &.xing {
        background-color: $xing;
        color: $white;

        &:hover {
            background-color: $xing;
            color: $white;
        }
    }

    &.instagram {
        background-color: $instagram;
        color: $white;

        &:hover {
            background-color: $instagram;
            color: $white;
        }
    }

    &.quora {
        background-color: $quora;
        color: $white;

        &:hover {
            background-color: $quora;
            color: $white;
        }
    }

    &.openid {
        background-color: $openid;
        color: $white;

        &:hover {
            background-color: $openid;
            color: $white;
        }
    }

    &.steam {
        background-color: $steam;
        color: $white;

        &:hover {
            background-color: $steam;
            color: $white;
        }
    }

    &.amazon {
        background-color: $amazon;
        color: $white;

        &:hover {
            background-color: $amazon;
            color: $white;
        }
    }

    &.slack {
        background-color: $slack;
        color: $white;

        &:hover {
            background-color: $slack;
            color: $white;
        }
    }

    &.snapchat {
        background-color: $snapchat;
        color: $white;

        &:hover {
            background-color: $snapchat;
            color: $white;
        }
    }

    &.internet-explorer {
        background-color: $internet-explorer;
        color: $white;

        &:hover {
            background-color: $internet-explorer;
            color: $white;
        }
    }

    &.firefox {
        background-color: $firefox;
        color: $white;

        &:hover {
            background-color: $firefox;
            color: $white;
        }
    }

    &.html5 {
        background-color: $html5;
        color: $white;

        &:hover {
            background-color: $html5;
            color: $white;
        }
    }

    &.joomla {
        background-color: $joomla;
        color: $white;

        &:hover {
            background-color: $joomla;
            color: $white;
        }
    }

    &.opera {
        background-color: $opera;
        color: $white;

        &:hover {
            background-color: $opera;
            color: $white;
        }
    }

    &.soundcloud {
        background-color: $soundcloud;
        color: $white;

        &:hover {
            background-color: $soundcloud;
            color: $white;
        }
    }

    &.product-hunt {
        background-color: $product-hunt;
        color: $white;

        &:hover {
            background-color: $product-hunt;
            color: $white;
        }
    }

    &.opencart {
        background-color: $opencart;
        color: $white;

        &:hover {
            background-color: $opencart;
            color: $white;
        }
    }

    &.medium {
        background-color: $medium;
        color: $white;

        &:hover {
            background-color: $medium;
            color: $white;
        }
    }

    &.safari {
        background-color: $safari;
        color: $white;

        &:hover {
            background-color: $safari;
            color: $white;
        }
    }

    &.vine {
        background-color: $vine;
        color: $white;

        &:hover {
            background-color: $vine;
            color: $white;
        }
    }

    &.bitbucket {
        background-color: $bitbucket;
        color: $white;

        &:hover {
            background-color: $bitbucket;
            color: $white;
        }
    }
}





/*=================================
    Social Icons Style 01
===================================*/
.social-share{
    a{
        font-family: $heading-font;
    }
}
.social-square {
    a {
        width: 42px;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover{
            opacity: 0.7;
        }
    }
}


/*=================================
    Social Icons Style 02
===================================*/

.social-circle {
    a {
        width: 42px;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 100%;
        transition: 0.5s;
        &:hover{
            opacity: 0.7;
        }
    }
}

/*=================================
    social circle between
===================================*/

.social-circle-between {
    a {
        width: 42px;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 10px 0;
        transition: 0.5s;
        &:hover{
            opacity: 0.7;
        }
    }
}



/*=================================
    Social Icons Style 05
===================================*/


.si-style-5 {
    a {
        display: inline-block;
        text-align: center;
        margin-right: 12px;
        margin-bottom: 15px;
        transition: 0.4s;
        &:hover{
            opacity: 0.7;
        }
        i{
            width:  42px;
            height:  42px;
            line-height: 43px;
            border-right: 1px solid #fff;
        }
        span{
            padding: 0 15px;
            text-transform:  capitalize;
            font-size:  16px;
            font-weight:  600;
        }
    }
}


/*=================================
    Social Icons Style 04
===================================*/


.si-style-4 {
    a {
        display: inline-block;
        text-align: center;
        margin-right: 12px;
        margin-bottom: 15px;
        background: transparent;
        border: 1px solid $theme-color;
        border-radius: 6px;
        i{
            width:  42px;
            height:  42px;
            line-height: 43px;
            border-right: 1px solid #fff;
        }
        span{
            padding: 0 15px;
            text-transform:  capitalize;
            font-size:  16px;
            font-weight:  600;
            color: $theme-color;
        }

        &.facebook{
            border: 1px solid $facebook;
            i{
                background: $facebook;
                color: $white;
            }
            span{
                color: $facebook;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.twitter{
            border: 1px solid $twitter;
            i{
                background: $twitter;
                color: $white;
            }
            span{
                color: $twitter;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.google-plus{
            border: 1px solid $google-plus;
            i{
                background: $google-plus;
                color: $white;
            }
            span{
                color: $google-plus;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.pinterest{
            border: 1px solid $pinterest;
            i{
                background: $pinterest;
                color: $white;
            }
            span{
                color: $pinterest;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.linkedin{
            border: 1px solid $linkedin;
            i{
                background: $linkedin;
                color: $white;
            }
            span{
                color: $linkedin;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.flickr{
            border: 1px solid $flickr;
            i{
                background: $flickr;
                color: $white;
            }
            span{
                color: $flickr;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.dribbble{
            border: 1px solid $dribbble;
            i{
                background: $dribbble;
                color: $white;
            }
            span{
                color: $dribbble;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }


        
        &.google{
            border: 1px solid $google;
            i{
                background: $google;
                color: $white;
            }
            span{
                color: $google;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.skype{
            border: 1px solid $skype;
            i{
                background: $skype;
                color: $white;
            }
            span{
                color: $skype;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.behance{
            border: 1px solid $behance;
            i{
                background: $behance;
                color: $white;
            }
            span{
                color: $behance;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.youtube{
            border: 1px solid $youtube;
            i{
                background: $youtube;
                color: $white;
            }
            span{
                color: $youtube;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.vimeo{
            border: 1px solid $vimeo;
            i{
                background: $vimeo;
                color: $white;
            }
            span{
                color: $vimeo;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.yahoo{
            border: 1px solid $yahoo;
            i{
                background: $yahoo;
                color: $white;
            }
            span{
                color: $yahoo;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.paypal{
            border: 1px solid $paypal;
            i{
                background: $paypal;
                color: $white;
            }
            span{
                color: $paypal;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.delicious{
            border: 1px solid $delicious;
            i{
                background: $delicious;
                color: $white;
            }
            span{
                color: $delicious;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.android{
            border: 1px solid $android;
            i{
                background: $android;
                color: $white;
            }
            span{
                color: $android;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.tumblr{
            border: 1px solid $tumblr;
            i{
                background: $tumblr;
                color: $white;
            }
            span{
                color: $tumblr;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.wikipedia{
            border: 1px solid $wikipedia;
            i{
                background: $wikipedia;
                color: $white;
            }
            span{
                color: $wikipedia;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.stumbleupon{
            border: 1px solid $stumbleupon;
            i{
                background: $stumbleupon;
                color: $white;
            }
            span{
                color: $stumbleupon;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.foursquare{
            border: 1px solid $foursquare;
            i{
                background: $foursquare;
                color: $white;
            }
            span{
                color: $foursquare;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.reddit{
            border: 1px solid $reddit;
            i{
                background: $reddit;
                color: $white;
            }
            span{
                color: $reddit;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.cc{
            border: 1px solid $cc;
            i{
                background: $cc;
                color: $white;
            }
            span{
                color: $cc;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.drupal{
            border: 1px solid $drupal;
            i{
                background: $drupal;
                color: $white;
            }
            span{
                color: $drupal;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.get-pocket{
            border: 1px solid $get-pocket;
            i{
                background: $get-pocket;
                color: $white;
            }
            span{
                color: $get-pocket;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.bitbucket{
            border: 1px solid $bitbucket;
            i{
                background: $bitbucket;
                color: $white;
            }
            span{
                color: $bitbucket;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.stack-overflow{
            border: 1px solid $stack-overflow;
            i{
                background: $stack-overflow;
                color: $white;
            }
            span{
                color: $stack-overflow;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.hacker-news{
            border: 1px solid $hacker-news;
            i{
                background: $hacker-news;
                color: $white;
            }
            span{
                color: $hacker-news;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.xing{
            border: 1px solid $xing;
            i{
                background: $xing;
                color: $white;
            }
            span{
                color: $xing;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.instagram{
            border: 1px solid $instagram;
            i{
                background: $instagram;
                color: $white;
            }
            span{
                color: $instagram;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.quora{
            border: 1px solid $quora;
            i{
                background: $quora;
                color: $white;
            }
            span{
                color: $quora;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.openid{
            border: 1px solid $openid;
            i{
                background: $openid;
                color: $white;
            }
            span{
                color: $openid;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.steam{
            border: 1px solid $steam;
            i{
                background: $steam;
                color: $white;
            }
            span{
                color: $steam;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.amazon{
            border: 1px solid $amazon;
            i{
                background: $amazon;
                color: $white;
            }
            span{
                color: $amazon;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.slack{
            border: 1px solid $slack;
            i{
                background: $slack;
                color: $white;
            }
            span{
                color: $slack;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.snapchat{
            border: 1px solid $snapchat;
            i{
                background: $snapchat;
                color: $white;
            }
            span{
                color: $snapchat;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.internet-explorer{
            border: 1px solid $internet-explorer;
            i{
                background: $internet-explorer;
                color: $white;
            }
            span{
                color: $internet-explorer;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.firefox{
            border: 1px solid $firefox;
            i{
                background: $firefox;
                color: $white;
            }
            span{
                color: $firefox;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.html5{
            border: 1px solid $html5;
            i{
                background: $html5;
                color: $white;
            }
            span{
                color: $html5;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.joomla{
            border: 1px solid $joomla;
            i{
                background: $joomla;
                color: $white;
            }
            span{
                color: $joomla;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.opera{
            border: 1px solid $opera;
            i{
                background: $opera;
                color: $white;
            }
            span{
                color: $opera;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.soundcloud{
            border: 1px solid $soundcloud;
            i{
                background: $soundcloud;
                color: $white;
            }
            span{
                color: $soundcloud;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.product-hunt{
            border: 1px solid $product-hunt;
            i{
                background: $product-hunt;
                color: $white;
            }
            span{
                color: $product-hunt;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.opencart{
            border: 1px solid $opencart;
            i{
                background: $opencart;
                color: $white;
            }
            span{
                color: $opencart;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.medium{
            border: 1px solid $medium;
            i{
                background: $medium;
                color: $white;
            }
            span{
                color: $medium;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }


        &.safari{
            border: 1px solid $safari;
            i{
                background: $safari;
                color: $white;
            }
            span{
                color: $safari;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }
        
        &.vine{
            border: 1px solid $vine;
            i{
                background: $vine;
                color: $white;
            }
            span{
                color: $vine;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }
        
        &.bitbucket{
            border: 1px solid $bitbucket;
            i{
                background: $bitbucket;
                color: $white;
            }
            span{
                color: $bitbucket;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }








        
    }
}


/*=================================
    Social Icons Style 06
===================================*/


.si-style-6 {
    a {
        display: inline-block;
        text-align: center;
        margin-right: 12px;
        margin-bottom: 15px;
        background: transparent;
        border: 1px solid $theme-color;
        transition: 0.4s;
        
        i{
            width:  42px;
            height:  42px;
            line-height: 43px;
            border-right: 1px solid #fff;
        }
        span{
            height:  42px;
            line-height: 43px;
            padding: 0 20px;
            text-transform:  capitalize;
            font-size:  16px;
            font-weight:  600;
            color: $theme-color;
        }

        &.facebook{
            border: 1px solid $facebook;
            i{
                background: $facebook;
                color: $white;
            }
            span{
                color: $facebook;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.twitter{
            border: 1px solid $twitter;
            i{
                background: $twitter;
                color: $white;
            }
            span{
                color: $twitter;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.google-plus{
            border: 1px solid $google-plus;
            i{
                background: $google-plus;
                color: $white;
            }
            span{
                color: $google-plus;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.pinterest{
            border: 1px solid $pinterest;
            i{
                background: $pinterest;
                color: $white;
            }
            span{
                color: $pinterest;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.linkedin{
            border: 1px solid $linkedin;
            i{
                background: $linkedin;
                color: $white;
            }
            span{
                color: $linkedin;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.flickr{
            border: 1px solid $flickr;
            i{
                background: $flickr;
                color: $white;
            }
            span{
                color: $flickr;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.dribbble{
            border: 1px solid $dribbble;
            i{
                background: $dribbble;
                color: $white;
            }
            span{
                color: $dribbble;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }


        
        &.google{
            border: 1px solid $google;
            i{
                background: $google;
                color: $white;
            }
            span{
                color: $google;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.skype{
            border: 1px solid $skype;
            i{
                background: $skype;
                color: $white;
            }
            span{
                color: $skype;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.behance{
            border: 1px solid $behance;
            i{
                background: $behance;
                color: $white;
            }
            span{
                color: $behance;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.youtube{
            border: 1px solid $youtube;
            i{
                background: $youtube;
                color: $white;
            }
            span{
                color: $youtube;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.vimeo{
            border: 1px solid $vimeo;
            i{
                background: $vimeo;
                color: $white;
            }
            span{
                color: $vimeo;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.yahoo{
            border: 1px solid $yahoo;
            i{
                background: $yahoo;
                color: $white;
            }
            span{
                color: $yahoo;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.paypal{
            border: 1px solid $paypal;
            i{
                background: $paypal;
                color: $white;
            }
            span{
                color: $paypal;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.delicious{
            border: 1px solid $delicious;
            i{
                background: $delicious;
                color: $white;
            }
            span{
                color: $delicious;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.android{
            border: 1px solid $android;
            i{
                background: $android;
                color: $white;
            }
            span{
                color: $android;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.tumblr{
            border: 1px solid $tumblr;
            i{
                background: $tumblr;
                color: $white;
            }
            span{
                color: $tumblr;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.wikipedia{
            border: 1px solid $wikipedia;
            i{
                background: $wikipedia;
                color: $white;
            }
            span{
                color: $wikipedia;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.stumbleupon{
            border: 1px solid $stumbleupon;
            i{
                background: $stumbleupon;
                color: $white;
            }
            span{
                color: $stumbleupon;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.foursquare{
            border: 1px solid $foursquare;
            i{
                background: $foursquare;
                color: $white;
            }
            span{
                color: $foursquare;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.reddit{
            border: 1px solid $reddit;
            i{
                background: $reddit;
                color: $white;
            }
            span{
                color: $reddit;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.cc{
            border: 1px solid $cc;
            i{
                background: $cc;
                color: $white;
            }
            span{
                color: $cc;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.drupal{
            border: 1px solid $drupal;
            i{
                background: $drupal;
                color: $white;
            }
            span{
                color: $drupal;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.get-pocket{
            border: 1px solid $get-pocket;
            i{
                background: $get-pocket;
                color: $white;
            }
            span{
                color: $get-pocket;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.bitbucket{
            border: 1px solid $bitbucket;
            i{
                background: $bitbucket;
                color: $white;
            }
            span{
                color: $bitbucket;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.stack-overflow{
            border: 1px solid $stack-overflow;
            i{
                background: $stack-overflow;
                color: $white;
            }
            span{
                color: $stack-overflow;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.hacker-news{
            border: 1px solid $hacker-news;
            i{
                background: $hacker-news;
                color: $white;
            }
            span{
                color: $hacker-news;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.xing{
            border: 1px solid $xing;
            i{
                background: $xing;
                color: $white;
            }
            span{
                color: $xing;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.instagram{
            border: 1px solid $instagram;
            i{
                background: $instagram;
                color: $white;
            }
            span{
                color: $instagram;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.quora{
            border: 1px solid $quora;
            i{
                background: $quora;
                color: $white;
            }
            span{
                color: $quora;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.openid{
            border: 1px solid $openid;
            i{
                background: $openid;
                color: $white;
            }
            span{
                color: $openid;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.steam{
            border: 1px solid $steam;
            i{
                background: $steam;
                color: $white;
            }
            span{
                color: $steam;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.amazon{
            border: 1px solid $amazon;
            i{
                background: $amazon;
                color: $white;
            }
            span{
                color: $amazon;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.slack{
            border: 1px solid $slack;
            i{
                background: $slack;
                color: $white;
            }
            span{
                color: $slack;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.snapchat{
            border: 1px solid $snapchat;
            i{
                background: $snapchat;
                color: $white;
            }
            span{
                color: $snapchat;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.internet-explorer{
            border: 1px solid $internet-explorer;
            i{
                background: $internet-explorer;
                color: $white;
            }
            span{
                color: $internet-explorer;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.firefox{
            border: 1px solid $firefox;
            i{
                background: $firefox;
                color: $white;
            }
            span{
                color: $firefox;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.html5{
            border: 1px solid $html5;
            i{
                background: $html5;
                color: $white;
            }
            span{
                color: $html5;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.joomla{
            border: 1px solid $joomla;
            i{
                background: $joomla;
                color: $white;
            }
            span{
                color: $joomla;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.opera{
            border: 1px solid $opera;
            i{
                background: $opera;
                color: $white;
            }
            span{
                color: $opera;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.soundcloud{
            border: 1px solid $soundcloud;
            i{
                background: $soundcloud;
                color: $white;
            }
            span{
                color: $soundcloud;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.product-hunt{
            border: 1px solid $product-hunt;
            i{
                background: $product-hunt;
                color: $white;
            }
            span{
                color: $product-hunt;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.opencart{
            border: 1px solid $opencart;
            i{
                background: $opencart;
                color: $white;
            }
            span{
                color: $opencart;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }

        &.medium{
            border: 1px solid $medium;
            i{
                background: $medium;
                color: $white;
            }
            span{
                color: $medium;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }


        &.safari{
            border: 1px solid $safari;
            i{
                background: $safari;
                color: $white;
            }
            span{
                color: $safari;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }
        
        &.vine{
            border: 1px solid $vine;
            i{
                background: $vine;
                color: $white;
            }
            span{
                color: $vine;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }
        
        &.bitbucket{
            border: 1px solid $bitbucket;
            i{
                background: $bitbucket;
                color: $white;
            }
            span{
                color: $bitbucket;
                transition: 0.5s;
            }
            &:hover span{
                color: #fff;
            }
        }








        
    }
}


/*=================================
    Social Icons Style 07
===================================*/


.si-style-7 {
    a {
        display: inline-block;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 0 16px;
        text-transform: capitalize;
        font-weight: 600;
        transition: 0.5s;
        &:hover{
            opacity: 0.7;
        }
    }
}



/*=================================
    social radious top left 
===================================*/


.social-radious-top-left {
    a {
        display: inline-block;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 12px 0;
        padding: 0 16px;
        text-transform: capitalize;
        font-weight: 600;
        transition: 0.5s;
        &:hover{
            opacity: 0.7;
        }
    }
}



/*----------------------
    Social BG Color 02
------------------------*/


.social-transparent{
    a{
        color: #000000;
        width: 42px;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 100%;
    }

    
    & .facebook {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $facebook;
            color: $white;
        }
    }

    .twitter {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $twitter;
            color: $white;
        }
    }

    .google-plus {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $google-plus;
            color: $white;
        }
    }

    .pinterest {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $pinterest;
            color: $white;
        }
    }

    .linkedin {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $linkedin;
            color: $white;
        }
    }

    .pinterest {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $pinterest;
            color: $white;
        }
    }

    .flickr {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $flickr;
            color: $white;
        }
    }

    .dribbble {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $dribbble;
            color: $white;
        }
    }

    .google {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $google;
            color: $white;
        }
    }

    .skype {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $skype;
            color: $white;
        }
    }

    .behance {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $behance;
            color: $white;
        }
    }

    .youtube {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $youtube;
            color: $white;
        }
    }

    .vimeo {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $vimeo;
            color: $white;
        }
    }

    .yahoo {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $yahoo;
            color: $white;
        }
    }

    .paypal {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $paypal;
            color: $white;
        }
    }

    .delicious {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $delicious;
            color: $white;
        }
    }

    .flattr {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $flattr;
            color: $white;
        }
    }

    .android {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $android;
            color: $white;
        }
    }

    .tumblr {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $tumblr;
            color: $white;
        }
    }

    .wikipedia {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $wikipedia;
            color: $white;
        }
    }

    .stumbleupon {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $stumbleupon;
            color: $white;
        }
    }

    .foursquare {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $foursquare;
            color: $white;
        }
    }

    .reddit {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $reddit;
            color: $white;
        }
    }

    .cc {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $cc;
            color: $white;
        }
    }

    .drupal {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $drupal;
            color: $white;
        }
    }

    .get-pocket {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $get-pocket;
            color: $white;
        }
    }

    .bitbucket {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $bitbucket;
            color: $white;
        }
    }

    .stack-overflow {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $stack-overflow;
            color: $white;
        }
    }

    .hacker-news {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $hacker-news;
            color: $white;
        }
    }

    .xing {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $xing;
            color: $white;
        }
    }

    .instagram {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $instagram;
            color: $white;
        }
    }

    .quora {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $quora;
            color: $white;
        }
    }

    .openid {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $openid;
            color: $white;
        }
    }

    .steam {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $steam;
            color: $white;
        }
    }

    .amazon {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $amazon;
            color: $white;
        }
    }

    .slack {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $slack;
            color: $white;
        }
    }

    .snapchat {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $snapchat;
            color: $white;
        }
    }

    .internet-explorer {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $internet-explorer;
            color: $white;
        }
    }

    .firefox {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $firefox;
            color: $white;
        }
    }

    .html5 {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $html5;
            color: $white;
        }
    }

    .joomla {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $joomla;
            color: $white;
        }
    }

    .opera {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $opera;
            color: $white;
        }
    }

    .soundcloud {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $soundcloud;
            color: $white;
        }
    }

    .product-hunt {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $product-hunt;
            color: $white;
        }
    }

    .opencart {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $opencart;
            color: $white;
        }
    }

    .medium {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $medium;
            color: $white;
        }
    }

    .safari {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $safari;
            color: $white;
        }
    }

    .vine {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $vine;
            color: $white;
        }
    }

    .bitbucket {
        background-color: transparent;
        color: #000000;

        &:hover {
            background-color: $bitbucket;
            color: $white;
        }
    }
}




