/*============================
    Switcher Style
=============================*/


/*==========================
    Switcher Style StartUp
===========================*/ 
.single-switch.tab-pane:not(.active) {
    display: none;
}

.team{
    &.img-grayscale{
        img{
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }
}

.ht-switcher-btn {
    text-align: center;
}

.ht-switcher-nav{
    display: inline-block;
    background: #eeeeee;
    border-radius: 30px;
    overflow: hidden;
    a{
        display: inline-block;
        color: #444444;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 18px 32px;
        z-index: 1;
        position: relative;
        font-family: $heading-font;

        @media #{$small-mobile} {
            display: block;
        }
        
        &::before{
            height: 100%;
            top: 0;
            z-index: 0;
            content: '';
            width: 0;
            position: absolute;
            left: 0;
            transition: all 300ms ease-out;
            z-index: -1;
        }
        &.active{
            color: #ffffff;
            &::before{
                width: 100%;
                background-color: #ed552d;
            }
        }
    }
    &.event-switcher{
        a{
            &.active{
                &::before{
                    background: $event-theme-color;
                }
            }
        }
    }
}



/*==========================
    Switcher Style 2
===========================*/ 

.ht-switcher-nav-2 {
    display: inline-block;
    background: #ffffff;
    border-radius: 23px;
    overflow: hidden;
    a{
        display: inline-block;
        color: #18012c;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 11px 27px;
        z-index: 1;
        position: relative;
        font-family: $heading-font;
        &::before{
            height: 100%;
            top: 0;
            z-index: 0;
            content: '';
            width: 0;
            position: absolute;
            left: 0;
            transition: all 300ms ease-out;
            z-index: -1;
        }
        &.active{
            color: #ffffff;
            &::before{
                width: 100%;
                background-color: #4ebcc2;
            }
        }
    }
}


/*==========================
    Switcher Style 3
===========================*/ 


.ht-switcher-nav-3 {
    display: inline-block;
    background: #e5e5e5;
    border-radius: 23px;
    overflow: hidden;
    a{
        display: inline-block;
        color: #18012c;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 11px 27px;
        z-index: 1;
        position: relative;
        font-family: $heading-font;
        &::before{
            height: 100%;
            top: 0;
            z-index: 0;
            content: '';
            width: 0;
            position: absolute;
            left: 0;
            transition: all 300ms ease-out;
            z-index: -1;
        }
        &.active{
            color: #ffffff;
            &::before{
                width: 100%;
                background-color: #eebe07;
            }
        }
    }
}




/*=======
    End Switcher Style
===========================*/










