/*========================
    Tab Style
===========================*/


.single-tab.tab-pane:not(.active) {
    display: none;
}



/*========================
    Tab Style 01
===========================*/

.ht-tab-nab {
    a {
        color: #575757;
        font-size: 14px;
        font-weight: 500;
        padding: 0 16px;
        height: 34px;
        background: transparent;
        line-height: 34px;
        transition: 0.5s;
        margin: 0 9px;
        margin-bottom: 20px;


        &.active {
            background: #575757;
            color: #fff;
        }
    }
}

.tab-content-default {
    .singletab-content {
        margin-top: 20px;

        .thumb {
            a {
                display: block;
                overflow: hidden;
                img {
                    transition: 0.5s ease-in-out;
                    width: 100%;
                }

                &:hover img {
                    transform: scale(1.2) skew(3deg);
                }
            }
        }
    }
}



/*========================
    Tab Style 02
===========================*/

.ht-tab-nab-2 {
    a {
        color: #575757;
        font-weight: 600;
        font-size: 14px;
        margin: 0 25px;
        margin-bottom: 20px;
        padding: 0;
        padding-bottom: 10px;
        position: relative;

        @media #{$sm-layout} {
            margin: 0 15px;
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            height: 1px;
            width: 0;
            bottom: 0;
            background: #575757;
            transition: 0.4s ease-in-out;
        }

        &.active {
            &::before {
                width: 100%;
            }
        }
    }
}


.tab-content-2 {
    .singletab-content {
        margin-top: -15px;

        p {
            margin-top: 26px;
            color: #494849;
            font-size: 14px;
            line-height: 28px;
        }
    }

}

/*========================
    Tab Style 03
===========================*/

.ht-tab-nab-3 {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 18px;
    @media #{$sm-layout} {
        border: 0 none;
    }

    a {
        color: #575757;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        padding: 0 24px;
        background: #e3e3e3;
        height: 40px;
        line-height: 39px;
        margin: 0 10px;
        margin-bottom: -1px;
        border: 1px solid;
        transition: 0.4s ease-in-out;
        border-color: #e3e3e3 #e3e3e3 #ffffff;

        @media #{$sm-layout} {
            padding: 0 10px;
            border: 0 none;
        }

        &.active {
            background: transparent;
            border: 1px solid;
            border-color: #e3e3e3 #e3e3e3 #ffffff;
        }
    }
}

.tab-content-3 {
    .singletab-content {
        p {
            color: #494849;
            font-size: 14px;
            line-height: 28px;
            margin-top: 23px;
        }
    }
}




/*========================
    Tab Style 04
===========================*/

.ht-tab-nab-4 {
    a{
        background:  #575757;
        padding:  0 25px;
        height:  40px;
        line-height:  40px;
        border-radius: 5px;
        color:  #ffffff;
        margin:  0 10px;
        margin-bottom: 20px;
        font-weight:  600;
        font-size:  14px;
        &.active{
            background: #ed552d;
        }
    }
}




.single-tab{
    .service {
        display:  flex;
        margin-top: 40px;
        .icon{
            margin-right: 24px;
            i {
                color:  #ee6a48;
                font-size: 50px;
            }
        }
        .content{
            h4 {
                color:  #5b5b5b;
                font-weight:  400;
                font-size: 18px;
                margin-bottom: 10px;
            }
            p {
                color:  #8f8f8f;
                font-size:  15px;
                line-height: 25px;
                margin: 0;
            }
        }

    }
}






/*========================
    Tab Style 05
===========================*/

.ht-tab-nab-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    border-right: 1px solid #e3e3e3;
}

.singletab-content{
    .thumb{
        a{
            img{
                width: 100%;
                
                @media #{$sm-layout} {
                    margin-top: 30px;
                }

                @media #{$md-layout} {
                    margin-top: 30px;
                }
            }
        }
    }
}


.ht-tab-nab-5{
    display: block;
    a{
        text-align: center;
        border-top: 1px solid #e3e3e3;
        border-right: 1px solid transparent;
        color: #575757;
        font-weight: 500;
        border-left: 1px solid #e3e3e3;
        transition: 0.4s ease-in-out;
        &:last-child{
            border-bottom: 1px solid #e3e3e3;
        }
        &.active{
            background: #e3e3e3;
        }
    }
    &.medical-tab{
        a{
            &.active{
                background: $medical-theme-color;
                color: #ffffff;
            }
        }
    }
}



.medical-tab-content{
    .content{
        h4 {
            color: #2b2b2b;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 24px;
        }
        p {
            color: #464646;
            font-size: 14px;
            margin-bottom: 11px;
            line-height: 26px;
        }
        .surgary-list{
            display: flex;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                
                li{
                    color: #373737;
                    font-size: 14px;
                    i {
                        color: #00b3cc;
                        padding-right: 10px;
                    }
                }
                & + ul{
                    margin-left: 40px;
                }
            }
        }
        
        .surgary-btn{
            margin-top: 17px;
            a{
                color: #fff;
                background: #00b3cc;
                height: 43px;
                display: inline-block;
                padding: 0 18px;
                line-height: 43px;
                font-size: 14px;
                border-radius: 5px;
            }
        }
    }
}






