/*==============================
    Thumb Gallery Css
================================*/




.ht-thumb-gallery {
    ul {
        &.thumb-gallery-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

.thumb-gallery-list {
    &.arrow-style-1 {
        position: relative;

        button {
            position: absolute;
            top: 50%;
            left: 30px;
            z-index: 2;
            width: 50px;
            height: 50px;
            background: #000000;
            color: #fff;
            border: 0 none;
            border-radius: 100%;
            font-size: 30px;
            text-align: center;
            padding: 0;
            margin: 0;
            transition: 0.4s ease-in-out;
            transform: translateY(-50%);

            &:hover {
                background: #0056ff;
                color: #fff;
            }

            &.thumb-gallery-next {
                left: auto;
                right: 30px;
            }

        }
    }

    &.arrow-style-2 {
        position: relative;

        button {
            position: absolute;
            top: 50%;
            left: 42px;
            z-index: 2;
            background: transparent;
            color: #fff;
            border: 0 none;
            border-radius: 100%;
            font-size: 48px;
            text-align: center;
            padding: 0;
            margin: 0;
            transition: 0.4s ease-in-out;
            transform: translateY(-50%);

            &:hover {
                color: #0056ff;
            }

            &.thumb-gallery-next {
                left: auto;
                right: 42px;
            }
        }
    }
}


.thumb-gallery-navigation {
    .small-thumb {
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}

.thumb-gallery-list {
    .content {
        position: absolute;
        bottom: 40px;
        left: 0;
        background: rgba(0, 86, 255, 0.7);
        padding: 5px 38px;

        &.right-bottom {
            bottom: 40px;
            left: auto;
            right: 0;
        }

        h2 {
            margin: 0;
            color: #ffffff;
            font-size: 24px;
            line-height: 46px;
            font-weight: 500;
            @media #{$sm-layout} {
                font-size: 14px;
                line-height: 37px;
            }
        }
    }
}



.thumb-gallery-navigation .slick-slide.slick-current.slick-active.slick-center .small-thumb img {
    border: 3px solid #0056ff;
}

.thumb-gallery-navigation .small-thumb img {
    border: 3px solid #d7d7d7;
}




.thumb-gallery-navigation.thumb-gallery-nav .slick-slide {
    padding: 3px 0px;
}
.thumb-gallery-navigation.thumb-gallery-nav {
    margin: -3px 0;
}



.thumb-gallery-navigation.thumb-gallery-nav-2 .slick-slide {
    padding: 5px 3px;
}

.thumb-gallery-navigation.thumb-gallery-nav-2 {
    margin: 0 -3px;
}


.ht-thumb-gallery .slick-slide img {
    display: block;
    width: 100%;
}




@media #{$sm-layout}{
    .thumb-gallery-list.arrow-style-2 button{
        left: 0;
    }
    .thumb-gallery-list.arrow-style-2 button.thumb-gallery-next{
        right: 0;
    }


}






