/*===============================
    Toggle Style
=================================*/

.toggle-item-active ,
.single-text-toggle ,
.single-service-toggle {
    display:none;
}

.toggle-wrapper{
    text-align: center;
    .view-more-btn{
        transition: all 600ms ease-in-out;
        -webkit-transition: all 600ms ease-in-out;
        -moz-transition: all 600ms ease-in-out;
        -o-transition: all 600ms ease-in-out;
        color: #3b3b3b;
        font-family: $heading-font;
        font-weight: 600;
        text-transform: uppercase;
        i{
            padding-left: 5px;
        }
    }
}









.service-toggle-wrapper {
    margin: 0 -10px;
    .single-service-toggle{
        margin: 0 10px;
        float: left;
        margin-top: 20px;
        .icons {
            width:  120px;
            height:  120px;
            background:  #fff;
            box-shadow:  0 0 10px rgba(0,0,0,0.1);
            line-height:  120px;
            text-align:  center;
            margin:  0 auto;
        }
        h4{
            color:  #2c3137;
            font-size: 14px;
            color:  #2c3137;
            margin-top: 23px;
        }
    }
}



/*=======================
    Toggle Text
=========================*/ 

.single-text-toggle{
    margin-top: 34px;
    p{
        color:  #444444;
        font-size:  16px;
        line-height: 28px;
        text-align:  left;
        margin-bottom: 28px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

















