/*=================================
    Twitter Style
==================================*/

/*=================================
    Twitter Style 1
==================================*/

.ht-twitter-default {
    display: flex;

    @media #{$md-layout} {
        flex-wrap: wrap;
    }

    @media #{$small-mobile} {
        flex-wrap: wrap;
    }

    .thumb {
        padding-right: 30px;

        img {
            max-width: 70px;
            border: 1px solid #eaeaea;
        }
    }

    .content {
        margin-top: -7px;

        @media #{$md-layout} {
            margin-top: 20px;
        }
        @media #{$small-mobile} {
            margin-top: 20px;
        }

        .author {
            margin-bottom: 6px;

            h6 {
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                padding-right: 10px;
                position: relative;

                a {
                    color: #5c5c5c;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: $theme-color;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    background: #000;
                    height: 14px;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                color: #000000;
                font-size: 14px;
                padding-left: 10px;
            }


        }

        p {
            color: #434343;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 10px;

            @media #{$lg-layout} {
                padding-right: 21px;
            }
            @media #{$md-layout} {
                padding-right: 21px;
            }
            @media #{$sm-layout} {
                padding-right: 21px;
            }

            a {
                color: #00c8fa;
            }
        }

        ul {
            &.twitter-meta {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;

                li {
                    margin-right: 14px;
                    padding-right: 14px;
                    position: relative;

                    a {
                        color: #aaaaaa;
                        font-size: 13px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: $theme-color;
                        }

                        i {
                            padding-right: 10px;
                        }
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        background: #000;
                        width: 1px;
                        height: 11px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:last-child::after {
                        display: none;
                    }
                }
            }
        }
    }
}

/*=================================
    Twitter Style 2
==================================*/

.ht-twitter-2{
    background: #fff;
    padding: 40px;
    border-radius: 4px;

    .ht-twitter-container {
        display: flex;
        .thumb {
            padding-right: 30px;

            img {
                max-width: 70px;
                border: 1px solid #eaeaea;
            }
        }
        .content {
            margin-top: -7px;

            .author {
                margin-bottom: 6px;

                h6 {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0;
                    position: relative;
                    font-family: $body-font;
                    a {
                        color: #000000;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: $theme-color;
                        }
                        span{
                            color: #a6a6a6;
                        }
                    }


                }

                span {
                    color: #000000;
                    font-size: 14px;
                    padding-left: 10px;
                }


            }

            p {
                color: #434343;
                font-size: 14px;
                line-height: 25px;
                margin-bottom: 10px;

                a {
                    color: #00c8fa;
                }
            }

        }
    }

    .twitter-meta-inner{
        display: flex;
        justify-content: space-between;
        ul {
            &.twitter-meta {
                padding: 0;
                margin: 0 -10px;
                list-style: none;
                display: flex;
                li {
                    position: relative;
                    margin: 0 10px;
                    a {
                        color: #878787;
                        font-size: 13px;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: $theme-color;
                        }
                    }

                    
                }
            }
        }
        p{
            margin: 0;
            color: #7f7f7f;
            font-size: 12px;
        }
    }
}






.twitter-activation-2 .slick-slide {
    padding: 0px 15px;
}





/*=================================
    Twitter Style 3
==================================*/

.ht-twitter-3 {
    background: #ffffff;
    border: 1px solid #eaeaea;
    padding: 30px 15px 30px 20px;

    .content {
        .author {
            margin-bottom: 6px;
            h6 {
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                padding-right: 10px;
                position: relative;

                a {
                    color: #5c5c5c;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: $theme-color;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    background: #000;
                    height: 14px;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                color: #000000;
                font-size: 14px;
                padding-left: 10px;
            }
        }
        p {
            color: #434343;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 10px;
            a {
                color: #00c8fa;
            }
        }
        ul {
            &.twitter-meta {
                padding: 0;
                margin: 0 -10px;
                list-style: none;
                display: flex;
                li {
                    position: relative;
                    margin: 0 10px;
                    a {
                        color: #aaaaaa;
                        font-size: 13px;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.twitter-activation-3 .slick-slide {
    padding: 0px 15px;
}




/*=================================
    Twitter Style 1
==================================*/

.ht-twitter-4 {
    .thumb {
        img {
            max-width: 70px;
            border: 1px solid #eaeaea;
        }
    }
    .content {
        padding-top: 25px;
        .author {
            margin-bottom: 6px;

            h6 {
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                padding-right: 10px;
                position: relative;

                a {
                    color: #5c5c5c;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: $theme-color;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    background: #000;
                    height: 14px;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                color: #000000;
                font-size: 14px;
                padding-left: 10px;
            }


        }

        p {
            color: #434343;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 10px;

            a {
                color: #00c8fa;
            }
        }

        ul {
            &.twitter-meta {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                padding-top: 20px;
                border-top: 1px solid #00c8fa;
                justify-content: space-between;

                li {
                    position: relative;

                    a {
                        color: #aaaaaa;
                        font-size: 13px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: $theme-color;
                        }

                        i {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}


.twitter-activation-4 .slick-slide {
    padding: 0px 15px;
}








/*=================================
    Twitter Style 5
==================================*/

.ht-twitter-5 {
    background: #ffffff;
    padding: 30px 15px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 5px;
    .content {
        .author {
            margin-bottom: 6px;
            h6 {
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                padding-right: 10px;
                position: relative;

                a {
                    color: #5c5c5c;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: $theme-color;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    background: #000;
                    height: 14px;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                color: #000000;
                font-size: 14px;
                padding-left: 10px;
            }
        }
        p {
            color: #434343;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 10px;
            a {
                color: #00c8fa;
            }
        }
    }
    .twitter-meta-inner{
        display: flex;
        justify-content: space-between;
        ul {
            &.twitter-meta {
                padding: 0;
                margin: 0 -10px;
                list-style: none;
                display: flex;
                li {
                    position: relative;
                    margin: 0 10px;
                    a {
                        color: #878787;
                        font-size: 13px;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: $theme-color;
                        }
                    }

                    
                }
            }
        }
        p{
            margin: 0;
            color: #7f7f7f;
            font-size: 12px;
        }
    }
}

.twitter-activation-5 .slick-slide {
    padding: 0px 15px;
}






/*=================================
    Twitter Arrow Style
==================================*/

.twitter-activation {
    &.arrow-style-1 {
        position: relative;

        button {
            position: absolute;
            top: 26%;
            left: -60px;
            color: #2d3e50;
            border: 0 none;
            font-size: 60px;
            z-index: 2;

            &.twitter-arrow-next {
                left: auto;
                right: -60px;
            }
        }
    }
}



.twitter-activation{
    position: relative;
    &.arrow-style-2{
        button{
            &.slick-arrow{
                position: absolute;
                bottom: -70px;
                left: 43%;
                border: 0 none;
                color: #00c8fa;
                font-size: 30px;
                padding: 0;
                z-index: 2;
            }
            &.twitter-arrow-next{
                &.slick-arrow{
                    left: auto;
                    right: 43%;
                }
            }
        }
    }
}



.twitter-activation {
    &.arrow-style-4 {
        position: relative;

        button {
            position: absolute;
            top: 35%;
            left: -60px;
            color: #000000;
            border: 0 none;
            font-size: 30px;
            border: 1px solid #000000;
            background: transparent;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            line-height: 45px;
            z-index: 2;

            &.twitter-arrow-next {
                left: auto;
                right: -60px;
            }
        }
    }
}



/*---------- Arrow 2 ----------*/ 


.twitter-activation-2{
    .slick-dots{
        bottom: -60px;
        li{
            width: 10px;
            height: 10px;
            margin: 0 5px;
            padding: 0;
            button{
                width: 10px;
                height: 10px;
                padding: 0;
                background: #000;
                border-radius: 100%;
                &::before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background: #00c8fa;
                }
            }
        }
    }
}

/*---------- Arrow 3 ----------*/ 


.twitter-activation-3{
    .slick-dots{
        bottom: -60px;
        li{
            width: 10px;
            height: 10px;
            margin: 0 5px;
            padding: 0;
            button{
                width: 10px;
                height: 10px;
                padding: 0;
                background: #000;
                border-radius: 100%;
                &::before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background: #00c8fa;
                }
            }
        }
    }
}





@media #{$lg-layout}{
    .twitter-activation.arrow-style-1 button ,
    .twitter-activation.arrow-style-4 button{
        left: 0;
    }
    .twitter-activation.arrow-style-1 button.twitter-arrow-next ,
    .twitter-activation.arrow-style-4 button.twitter-arrow-next{
        right: 0;
    }
}




@media #{$md-layout}{
    .twitter-activation.arrow-style-1 button ,
    .twitter-activation.arrow-style-4 button{
        left: 0;
    }
    .twitter-activation.arrow-style-1 button.twitter-arrow-next ,
    .twitter-activation.arrow-style-4 button.twitter-arrow-next{
        right: 0;
    }
    .twitter-activation-1 .slick-track {
        margin: 0 -10px;
    }
    .twitter-activation-1 .slick-slide {
        margin: 0 10px;
    }
    .twitter-activation.arrow-style-2 button.slick-arrow{
        left: 39%;
    }
    .twitter-activation.arrow-style-2 button.twitter-arrow-next.slick-arrow{
        right: 39%;
    }
    .twitter-activation-2 .slick-slide {
        padding: 0px -1px;
    }


}




@media #{$sm-layout}{
    .twitter-activation.arrow-style-1 button ,
    .twitter-activation.arrow-style-4 button{
        left: 0;
    }
    .twitter-activation.arrow-style-1 button.twitter-arrow-next ,
    .twitter-activation.arrow-style-4 button.twitter-arrow-next{
        right: 0;
    }

    .twitter-activation.arrow-style-2 button.slick-arrow{
        left: 35%;
    }

    .twitter-activation.arrow-style-2 button.twitter-arrow-next.slick-arrow{
        right: 35%;
    }
}

@media #{$large-mobile}{
    .twitter-activation-2 .slick-slide {
        padding: 0;
    }
    .ht-twitter-2{
        padding: 32px 10px;
    }
    .ht-twitter-2 .ht-twitter-container{
        display: block;
    }
    .ht-twitter-2 .ht-twitter-container .thumb {
        padding-right: 0;
        margin-bottom: 16px;
    }
    .ht-twitter-2 .ht-twitter-container .content p{
        display: inline-block;
    }
    .twitter-activation.arrow-style-2 button.slick-arrow {
        left: 25%;
    }

    .twitter-activation.arrow-style-2 button.twitter-arrow-next.slick-arrow {
        right: 25%;
    }
    .twitter-activation-3 .slick-slide{
        padding: 0;
    }
    .ht-twitter-5{
        box-shadow: inherit;
        margin: 0;
    }

}









