{% load static i18n %}
<section id="cta">

    <h2>{% trans 'Estamos en beta' %}</h2>
    <p>{% trans 'Suscribete para recibir novedades sobre este proyecto.' %}</p>

    <form>
        <div class="row uniform 50%">
            <div class="8u 12u(mobilep)">
                <input type="email" name="email" id="email" placeholder="{% trans 'Correo Electrónico' %}" />
            </div>
            <div class="4u 12u(mobilep)">
                <input type="submit" value="{% trans 'Enviar' %}" class="fit" />
            </div>
        </div>
    </form>

</section>
