{% load static i18n %}
<header id="header" class="alt">
    <h1><a href="/">Gecko</a> {% trans 'creado con' %} ❤ {% trans 'en' %} <a href="http://xiberty.com">Xiberty</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">{% trans 'Inicio' %}</a></li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'users:dashboard' %}" class="button special">
                        {% trans 'Panel de Control' %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account_login' %}" class="button special">
                        {% trans 'Iniciar Sesión' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}" class="button">
                        {% trans 'Crear Cuenta' %}
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
</header>