{% extends 'planwi/base/base.html' %}
{% load static i18n %}

{% load account socialaccount %}
{% block title %}
{% trans 'Iniciar Sesión' %}
{% endblock %}

{% block container %}

        <!--begin::Base Scripts -->
        <script src="{% static 'dist/vendors/base.bundle.js' %}" type="text/javascript"></script>
        <script src="{% static 'dist/base/scripts.bundle.js' %}" type="text/javascript"></script>
        <!--end::Base Scripts -->

<!-- Sidebar    ================================================== -->
<div class="main-search-container" data-background-image="{% static 'img/city-night2.jpg' %}">

<div class="col-lg-4 col-md-4"></div>
<div class="col-lg-4 col-md-4 margin-top-75 sticky headline centered">

    <!-- Book Now -->
    <div class="boxed-widget headline centered">
        <div class="small-dialog-header">
        <h3>{% trans 'Municipiosae'%}</h3>
    </div>

    <!--Tabs -->
    <div class="sign-in-form style-1">

        <ul class="tabs-nav">
            <!--li class=""><a href="#tab1">{% trans 'Sign In'%}</a></li-->
            <li class=""><a href="#tab1">{% trans 'Sign In'%}</a></li>
            <li><a href="#tab2">{%trans 'Registrate'%}</a></li>
        </ul>

        <div class="tabs-container alt">

            <!-- Login -->
            <div class="tab-content" id="tab1" style="display: ;">
                <form action="{% url 'account_login' %}" class="login" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!--
                    <p class="form-row form-row-wide">
                        <label for="login">{%trans 'Username'%}:
                            <i class="im im-icon-Male"></i>
                            <input type="text" class="input-text form-control" id="id_login"
                           name="login" placeholder="{% trans 'Usuario  o Correo Electrónico' %}"
                           value="{% if form.login.value %}{{ form.login.value }}{% endif %}">
                        </label>
                    </p>

                    <p class="form-row form-row-wide">
                        <label for="password">{%trans 'Password'%}:
                            <i class="im im-icon-Lock-2"></i>
                            <input type="password" class="input-text form-control" id="id_password"
                           name="password" placeholder="{% trans 'Contraseña' %}"
                           value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
                        </label>
                        <span class="lost_password">
                            <a href="#" >{%trans '¿Olvidaste tu contraseña?'%}</a>
                        </span>
                    </p>
                    -->
                    <div class="form-row">
                        <!--input type="submit" class="button border margin-top-5" value="{%trans 'Ingresar'%}" /-->

                        <input class="button border margin-top-5" type="submit"
                            value="{% trans 'Entrar' %}"/>
                        <div class="checkboxes margin-top-10">
                            <input id="remember-me" type="checkbox" name="check">
                            <label for="remember-me">{%trans 'Recordarme'%}</label>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Register -->
            <!--
             -->
            <div class="tab-content" id="tab2" style="display: none;">

                <form method="post" class="register" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <p class="form-row form-row-wide">
                        <label for="username2">{%trans 'Username'%}:
                            <i class="im im-icon-Male"></i>
                            <input type="text" class="input-text" name="username" id="username2" value="" />
                        </label>
                    </p>

                    <p class="form-row form-row-wide">
                        <label for="email2">{%trans 'Email'%}:
                            <i class="im im-icon-Mail"></i>
                            <input type="text" class="input-text" name="email" id="email2" value="" />
                        </label>
                    </p>

                    <p class="form-row form-row-wide">
                        <label for="password1">{%trans 'Password'%}:
                            <i class="im im-icon-Lock-2"></i>
                            <input class="input-text" type="password" name="password1" id="password1"/>
                        </label>
                    </p>

                    <p class="form-row form-row-wide">
                        <label for="password2">{%trans 'Repetir Contraseña'%}:
                            <i class="im im-icon-Lock-2"></i>
                            <input class="input-text" type="password" name="password2" id="password2"/>
                        </label>
                    </p>

                    <input type="submit" class="button border fw margin-top-10" name="register" value="{%trans 'Registrar'%}" />

                </form>
            </div>

        </div>
    </div>

        </div>
    </div>
    <!-- Book Now / End -->


</div>
<!-- Sidebar / End -->

</div>
{% endblock %}
