{% extends 'planwi/base/base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Cerrar Sesión' %}
{% endblock %}

{% block container %}
<style>
	.app-login-box-user img{
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}
</style>

<!-- Sidebar	================================================== -->
<div class="main-search-container" data-background-image="{% static 'img/city-night2.jpg' %}">

<div class="col-lg-4 col-md-4"></div>
<div class="col-lg-4 col-md-4 margin-top-75 sticky headline centered">

	<!-- Book Now -->
	<div class="boxed-widget headline centered">
		<h3><i class="fa fa-sign-out "></i> {% trans 'Cerrar Sesión' %}</h3>
		<div class="row with-forms  margin-top-0">
			<div class="app-login-box-user">
				{% if user.photo %}
				<img src="{{ user.photo.url }}">
				{% else %}
				<img src="{% static 'img/anon.png' %}">
				{% endif %}
			</div><br>

			<div class="app-login-box-container">
				<p>
					{% blocktrans %}
					¿Estas seguro de que quieres <b>Salir</b>?
					{% endblocktrans %}
				</p>
			</div>

			<div class="app-login-box-container">
				<form method="post" action="{% url 'account_logout' %}">
					{% csrf_token %}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
					{% endif %}

					<div class="form-group">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<a href="{% url 'landing' %}" class="progress-button button fullwidth margin-top-5">{% trans 'No, Ir al Inicio' %}</a>
							</div>
							<div class="col-md-6 col-xs-6">
								<button class="progress-button button fullwidth margin-top-5" type="submit">{% trans 'Si, estoy seguro' %}</button>
							</div>
						</div>
					</div>

				</form>
			</div>


		</div>
	</div>
	<!-- Book Now / End -->


</div>
<!-- Sidebar / End -->

</div>
{% endblock %}
