{% extends 'planwi/base/base_dashboard.html' %}
{% load i18n static thumbnail %}

{% block title %}
{% trans 'PROFILE' %}
{% endblock %}

{% block header %}
{% include 'planwi/components/headers/header_dashboard.html' %}
{% endblock %}

{% block navigation_dashboard %}
{% include 'planwi/components/navegations/navegations_dashboard.html' with menu="password" %}
{% endblock %}

{% block extra_css %}
<link href="{% static 'assets/css/sweetalert.css' %}" rel="stylesheet" type="text/css">
<style>
</style>
{% endblock %}

{% block container_dashboard %}
{#% include 'planwi/components/sidepanels/dashboard_panel.html' %#}

<!-- Content
	================================================== -->
	<div class="dashboard-content">
		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>{% trans 'Profile' %}</h2> <span>{% trans 'Editar' %}</span>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">{% trans 'HOME' %}</a></li>
							<li>{% trans 'Profile' %}</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>


		<div class="row">
			<!-- Password -->
			{% include 'planwi/account/change_password.html'%}
		</div>

	</div>

</div>
{% endblock %}
