{% extends 'planwi/base/base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Confirmar cuenta' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'planwi/css/extra.css' %}">
<style>
.app-login-box-user2 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
</style>

{% endblock %}
{% block container %}
<!-- Sidebar    ================================================== -->
<div class="main-search-container" data-background-image="{% static 'img/city-night2.jpg' %}">

    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 margin-top-75 sticky headline centered">

        <!-- Book Now -->
        <div class="boxed-widget headline centered">
            <h3><i class="im im-icon-Handshake"></i> {% trans 'Confirmación de cuenta' %}</h3>
            <div class="row with-forms  margin-top-60">

                <i class="im im-icon-Cloud-Email icon"></i>

                <div class="app-login-box-container">
                    <p>
                        {% blocktrans %}
                        Te hemos enviado un <b>Correo de confirmación</b> con un enlace
                        donde podrás finalizar el proceso de registro. <br> Escríbenos a <a href="mailto://admin@warpp.xyz"><b>info@planwi.com</b></a> en
                        caso de que no lo hayas recibido.
                        {% endblocktrans %}
                    </p>
                </div>

                <div class="app-login-box-container">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 col-xs-6">
                                <a href="{% url 'landing' %}" class="progress-button button fullwidth margin-top-5">{% trans 'Ir al Inicio' %}</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Book Now / End -->


    </div>
    <!-- Sidebar / End -->

</div>
{% endblock %}
