{% load static i18n %}
<!DOCTYPE html>

<html lang="es" >
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %} | {{ project_name }}</title>
		<meta name="description" content="{{ project_description }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {sessionStorage.fonts = true;}
            });
		</script>
		<!--end::Web font -->

        <!--begin::Base Styles -->
		<link href="{% static 'dist/vendors/base.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'dist/base/styles.bundle.css' %}" rel="stylesheet" type="text/css" />

		<!--end::Base Styles -->
		<link rel="shortcut icon" href="{% static 'dist/ico/favicon.ico' %}" />
        {% block styles %}{% endblock %}
	</head>

	<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
                 id="m_login">

				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content"
                     style="background-image: url({% block wall_image %}{% static 'dist/media/bg/wall.jpg' %}{% endblock %})">
					<div class="m-grid__item m-grid__item--middle">
                        {% block frase %}
						<h3 class="m-login__welcome">
							{% trans 'Únete a nuestra comunidad' %}
						</h3>
						<p class="m-login__msg">
							{% trans 'sé parte del cambio mediante la tecnología' %}
							<br>
							{% trans 'que está ocurriendo en nuestro país.' %}
						</p>
                        {% endblock %}
					</div>
				</div>

				<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
					{% block content %}
                         <div class="m-stack m-stack--hor m-stack--desktop">
                            <div class="m-stack__item m-stack__item--fluid">
                                <div class="m-login__wrapper">
                                    <div class="m-login__logo">
                                        <a href="#">
                                            {% block logo %}
                                                <img src="{% static 'dist/media/logo/logo_round.png' %}" width="100">
                                            {% endblock %}
                                        </a>
                                    </div>
                                    {% block sign_form %}{% endblock %}

                                </div>
                            </div>
                            <div class="m-stack__item m-stack__item--center">
                                <div class="m-login__account">
                                    {% block back_link %}{% endblock %}
                                </div>
                            </div>
                        </div>
					{% endblock %}
				</div>
			</div>
		</div>
		<!-- end:: Page -->

        <!--begin::Base Scripts -->
		<script src="{% static 'dist/vendors/base.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'dist/base/scripts.bundle.js' %}" type="text/javascript"></script>
		<!--end::Base Scripts -->

        {% block scripts %}{% endblock %}
	</body>
</html>
