{% load socialaccount i18n %}
{% providers_media_js %}

{% if social_registration %}
    <div class="m-login__desc">
        <p><small>{% trans 'Con tus datos personales o las redes sociales' %}</small></p>
        <p>
            <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill">
                <span><i class="fa fa-facebook"></i><span>Facebook</span></span>
            </a>
            <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-outline-danger m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill">
                <span><i class="fa fa-google-plus"></i><span>Google</span></span>
            </a>
        </p>
    </div>
{% endif %}