{% extends "emails/base.html" %}
{% load account i18n %}

{% user_display user as user_display %}

{% block title %}
    {% trans "Confirmación de Correo Electrónico" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block message_title %}{% trans "Confirma tu correo electrónico" %}{% endblock %}

        {% block message_body %}
            <p style="color:#5b5f65; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif">
            {% blocktrans %}
                Este correo fué agregado por el usuario <b>{{ user }}</b>, como
                parte de su cuenta en nuestro sitio <b><a href="{{ project_domain }}">{{ project_domain }}</a></b>.
                Por favor  confirmalo dando click en el botón de abajo, de lo contrario simplemente ignora este correo.
            {% endblocktrans %}
            </p>
        {% endblock %}

        {% block action_url %}{{ activate_url }}{% endblock %}
        {% block action_text %}{% trans "Confirmar Correo Electrónico" %}{% endblock %}

    {% endwith %}
{% endautoescape %}












