{% extends "account/layouts/base_flow.html" %}
{% load static i18n %}

{% block title %}{% trans 'Confirmación enviada' %}{% endblock %}

{% block content %}
    <div class="m-login__container">
        <div class="m-login__logo">
            <a href="#">
                <img src="{% static 'dist/media/logo/logo_round.png' %}" width="100">
            </a>
        </div>
        <div class="m-login__signin">
            <div class="m-login__head">
                <h3 class="m-login__title">
                    {% trans 'Inicio de sesión cancelado' %}
                </h3>
            </div>
            <form class="m-login__form m-form" action="">
                <p class="text-center">
                    {% blocktrans %}
                        Has decidido cancelar el inicio de sesión a nuestro sitio usando tu cuenta.
                        <a href="mailto://{{ project_support_email }}"><b>{{ project_support_email }}</b></a>
                        para recibir ayuda.
                    {% endblocktrans %}
                </p>

                <div class="m-login__form-action">
                    <a href="/" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                        <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;
                        {% trans 'Ir al Inicio' %}
                    </a>
                </div>
            </form>
        </div>

        <div class="m-login__account">
            <span class="m-login__account-msg">{% trans 'También puedes: ' %}</span>&nbsp;
            <a href="{% url 'account_login' %}" class="m-link m-link--focus m-login__account-link">
                {% trans 'Iniciar Sesión' %}
            </a>&nbsp;&nbsp;ó&nbsp;&nbsp;

            <a href="{% url 'account_signup' %}" class="m-link m-link--focus m-login__account-link">
                {% trans 'Crear una cuenta' %}
            </a>
        </div>
    </div>
{% endblock %}