/*=========================
 * Footer Style
===========================*/


.footer-widget{
    &.footer-style-1{
        margin-top: 40px;
        &.space-left{
            position: relative;
            margin-left: 54px;
            
            @media #{$md-layout} {
                margin-left: 0;
            }

            @media #{$sm-layout} {
                margin-left: 0;
            }
        }
        h4{
            &.ft-title {
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                span{
                    color: $cln-theme-color;
                }
            }
        }
        .content{
            p{
                color: #e1e1e1;
                font-size: 14px;
                line-height: 25px;
                margin: 0;
            }
            ul{
                &.ft-menu{
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    li{
                        margin: 6px 0;
                        a{
                            color: #dadada;
                            font-weight: 300;
                            font-size: 13px;
                            transition: 0.4s ease-in-out;
                            &:hover{
                                color: $cln-theme-color;
                            }
                        }
                    }
                }
            }
            .ft-address{
                margin-top: 14px;
                p{
                    margin-bottom: 4px;
                }
            }
            .input-box{
                position: relative;
                margin-bottom: 15px;
                margin-top: 17px;
                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #a3a3a3;
                    padding: 0 50px 0 20px;
                    color: #fff;
                }
                button{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0 none;
                    background: $cln-theme-color;
                    height: 100%;
                    color: #fff;
                    padding: 0 13px;
                    transition: 0.4s ease-in-out;
                    &:hover{
                        background: $theme-color;
                        color: #ffffff;
                    }
                }
               
            }
            .social-share{
                &.social-square{
                    a{
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    /* Footer Style 2 */

    &.footer-style-2{
        margin-top: 40px;
        &.space-left{
            position: relative;
            margin-left: 54px;
            
            @media #{$md-layout} {
                margin-left: 0;
            }

            @media #{$sm-layout} {
                margin-left: 0;
            }
        }
        h4{
            &.ft-title {
                color: #333;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 28px;
            }
        }
        .content{
            p{
                color: #333;
                font-size: 14px;
                line-height: 25px;
                margin: 0;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
            }
            ul{
                padding: 0;
                list-style: none;
                margin: 0;

                &.ft-menu{
                    li{
                        margin: 6px 0;
                        a{
                            color: #333;
                            font-weight: 500;
                            font-size: 14px;
                            transition: 0.4s ease-in-out;
                            font-family: "Montserrat", sans-serif;
                            &:hover{
                                color: $agency-theme-color;
                            }
                        }
                    }
                }

                &.ft-gallery{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -7px;
                    li{
                        padding: 0 7px;
                        margin-bottom: 14px;
                        a{
                            color: #9b9b9b;
                            font-weight: 300;
                            font-size: 14px;
                            transition: 0.4s ease-in-out;
                            font-family: $heading-font;
                            &:hover{
                                color: $agency-theme-color;
                            }
                        }
                    }
                }

            }
            .social-share{
                margin-top: 30px;
                &.social-square{
                    a{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 13px;
                        border-radius: 100%;
                        background: #edf0f2;
                        color: #9a9a9a;
                        transition: 0.4s ease-in-out;
                        &:hover{
                            color: $agency-theme-color;
                        }
                    }
                }
            }

            .ft-address{
                p{
                    margin-bottom: 10px;
                    i{
                        font-size: 14px;
                        padding-right: 14px;
                    }
                }
            }
        }
    }

}


.footer-widget.footer-style-1 .content .input-box input::-webkit-input-placeholder {
    color: #ffffff;
}

.footer-widget.footer-style-1 .content .input-box input::-moz-placeholder {
    color: #ffffff;
}

.footer-widget.footer-style-1 .content .input-box input:-ms-input-placeholder {
    color: #ffffff;
}

.footer-widget.footer-style-1 .content .input-box input:-moz-placeholder {
    color: #ffffff;
}

.ht-footer-1{
    padding: 100px 0;
    padding-top: 70px;
}

.ht-footer-2{
    padding: 85px 0;
    padding-top: 52px;
    padding-bottom: 83px;
}



/* --------------------------
    For Color Variation 
----------------------------*/
.footer-widget{
    &.footer-style-2{

        &.education-footer{
            .content{
                ul{
                    &.ft-menu{
                        li{
                            a{
                                &:hover{
                                    color: $education-theme-color;
                                }
                            }
                        }
                    }
                }
                .social-share{
                    &.social-square{
                        a{
                            &:hover{
                                color: #ffffff;
                                background: $education-theme-color;
                            }
                        }
                    }
                }
            }
        }

        &.medical-footer{
            .content{
                ul{
                    &.ft-menu{
                        li{
                            a{
                                &:hover{
                                    color: $medical-theme-color;
                                }
                            }
                        }
                    }
                }
                .social-share{
                    &.social-square{
                        a{
                            &:hover{
                                color: #ffffff;
                                background: $medical-theme-color;
                            }
                        }
                    }
                }
            }
        }

        &.agency-footer{
            .content{
                ul{
                    &.ft-menu{
                        li{
                            a{
                                &:hover{
                                    color: $agency-theme-color
                                }
                            }
                        }
                    }
                }
                .social-share{
                    &.social-square{
                        a{
                            &:hover{
                                color: #ffffff;
                                background: $agency-theme-color
                            }
                        }
                    }
                }
            }
        }

        &.const-footer{
            .content{
                ul{
                    &.ft-menu{
                        li{
                            a{
                                &:hover{
                                    color: $construction-theme-color
                                }
                            }
                        }
                    }
                }
                .social-share{
                    &.social-square{
                        a{
                            &:hover{
                                background: $construction-theme-color;
                            }
                        }
                    }
                }

                .ft-address{
                    p{
                        i{
                            color: $construction-theme-color;
                        }
                    }
                }
            }
        }

        &.gar-footer{
            .content{
                ul{
                    &.ft-menu{
                        li{
                            a{
                                &:hover{
                                    color: $construction-theme-color
                                }
                            }
                        }
                    }
                }
                .social-share{
                    &.social-square{
                        a{
                            &:hover{
                                background: $gardening-theme-color;
                            }
                        }
                    }
                }

                .ft-address{
                    p{
                        i{
                            color: $gardening-theme-color;
                        }
                    }
                }
            }
        }



    }
}





.footer-style-3{
    .content{
        p{
            color: #fff;
            font-size: 14px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}








/* CopyiRight Style */

.copyright{
    &.copyright-1{
        padding: 15px 0;
        .content{
            p{
                color: #ffffff;
                font-size: 12px;
                font-weight: 300;
                font-family: $heading-font;
                margin: 0;
            }
        }
    }

    &.copyright-2{
        padding: 20px 0;
        border-top: 1px solid #eeeeee;
        .content{
            p{
                color: #333;
                font-size: 14px;
                font-weight: 400;
                margin: 0;
            }
        }
    }

    &.copyright-3{
        padding: 9px 0;
        .content{
            p{
                color: #696969;
                font-size: 12px;
                font-weight: 400; 
                margin: 0;
            }
        }
        .social-transparent{
            margin: 0 -10px;
            a{
                margin-bottom: 0;
                color: #666666;
                height: auto;
                width: auto;
                margin: 0 10px;
                &:hover{
                    color: $theme-color;
                    background: transparent;
                }
            }
        }
    }

    &.copyright-4{
        .content{
            p{
                color: #000000;
                font-size: 14px;
                font-weight: 500; 
                margin: 0;
                margin-top: 27px;
            }
        }
    }


    
}



/* --------------------------
    Footer Default
----------------------------*/

.footertop-default{
    .content{
        h2{
            color: #ffffff;
            font-size: 36px;
            font-weight: 500;
        }
        a{
            &.prs-btn{
                padding: 0 40px;
                height: 54px;
                line-height: 54px;
                background: #ffffff;
                display: inline-block;
                border-radius: 30px;
                color: #4b8ad9;
                font-size: 14px;
                font-family: $heading-font;
                font-weight: 600;
                letter-spacing: 1px;
                transition: 0.4s ease-in-out;
                &:hover{
                    background: $theme-color;
                    color: #ffffff;
                }
            }   
        }

    }

}



.copyright-default{
    .content{
        p{
            color: #424242;
            font-size: 14px;
            margin: 0;
            padding: 15px 0;
        }
    }
}





















