
/* -------------------
    Gallery Area 
----------------------*/




.construction-gallery-menu {
    margin-top: 50px;
    margin-bottom: 30px;

    button {
        color: #18012c;
        font-weight: 600;
        border: 0 none;
        font-size: 14px;
        margin: 0  20px;
        padding-bottom: 8px;
        position: relative;
        padding: 0;
        padding-bottom: 8px;
        @media #{$sm-layout} {
            margin: 0 10px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 1px;
            background: $construction-theme-color;
            bottom: 0;
            transition: 0.4s ease-in-out;
        }

        &:hover::before ,
        &.is-checked::before{
            width: 100%;
        }

        &:hover,
        &.is-checked {
            color: $construction-theme-color;
        }
    }

    &.my-work{
        button {
            &::before {
                background: $portfolio-theme-color;
            }
            &:hover,
            &.is-checked {
                color: $portfolio-theme-color;
            }
        }
    }
}




.single-image-grid{
    &.construction-gallery {
        position: relative;
        .image-grid-content {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            background: rgba(255,255,255,0.7);
            transition: 0.4s ease-in-out;
            .hover-action {
                h2 {
                    color: $theme-color;
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
                    margin-bottom: 2px;
                    transition: 0.4s ease-in-out;
                }
                p {
                    color: $theme-color;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                    transition: 0.4s ease-in-out;
                }
            }
        }
        &:hover .image-grid-content{
            background: $construction-theme-color;
        }
        
    }
}














