/* Responsive  Css */



@media #{$laptop-device}{
    .service-6.medical-service {
        padding: 30px 20px;
    }


}





@media #{$lg-layout}{
    .portfolio-aboutme .thumb::before{
        display: none;
    }
    .cr-choose-list ul + ul {
        margin-left: 82px;
    }
    .charity-count .countdown-style-3 span.ht-count{
        margin-bottom: 30px;
    }
    .square-flip .square-container h2 {
        font-size: 19px;
    }
    .square-flip .square-container2 h2 {
        font-size: 20px;
    }
    .corporate-feature .thumb {
        right: -14%;
        bottom: 10%;
        width: 71%;
    }
    .service-6.medical-service {
        padding: 29px 9px;
    }
    .service-6.medical-service .icons {
        margin-right: 14px;
        width: 45px;
    }
    .service-6 .icons {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-right: 15px;
    }
    .service-6 .content h4 {
        font-size: 21px;
    }
    .ht-slide.slider-style-1 .hero-software.content h1 {
        font-size: 28px;
        margin-bottom: 21px;
    }
    .ht-slide.slider-style-2 .hero-charity.content p {
        padding: 0 14%;
    }
    .pricing-panel-6.space-left {
        margin-left: 0;
    }
    .pricing-panel-6.space-right {
        margin-right: 0;
    }
    .pricing-panel-6.space-left-right {
        margin-right: 0;
        margin-left: 0;
    }
    .res-popular-desases .content {
        padding: 26px 14px;
    }
    .res-popular-desases .content h2 {
        font-size: 21px;
    }
    .section-title--16 p {
        padding: 0 22%;
    }
    .section-title--16.text-left p {
        padding: 0 8% 0 0;
    }
    .countdown_wrapper.travel-countdown .content h2 {
        font-size: 34px;
        margin-bottom: 34px;
    }




}

@media #{$md-layout}{
    .corporate-feature .thumb {
        position: relative;
        right: 3%;
        bottom: 53px;
    }
    .testimonial-style-3 {
        margin-top: 30px;
    }
    .ht-slide.slider-style-1 .hero-hosting.content h1 {
        font-size: 29px;
    }
    .ht-slide.slider-style-1 .hero-hosting.content p {
        font-size: 14px;
        line-height: 31px;
        padding: 0;
    }
    .domain-form button{
        padding: 0 24px;
    }
    .domain-form{
        text-align: center;
    }
    .service-6.medical-service {
        padding: 50px 25px;
    }

    .medical-tab-content .thumb img {
        width: 100%;
    }
    .medical-tab-content .content {
        margin-top: 30px;
    }
    .campaingn-view .thumb img {
        width: 100%;
    }
    .section-title--10 p{
        padding: 0 8%;
    }
    .portfolio-aboutme .thumb img {
        width: 100%;
    }
    .portfolio-aboutme .thumb::before{
        display: none;
    }
    .portfolio-aboutme .thumb {
        display: block;
        margin-bottom: 27px;
    }
    .portfolio-header .mean-container a.meanmenu-reveal span{
        background: #000;
    }
    .portfolio-header .mean-container a.meanmenu-reveal{
        color: #000;
    }
    .ht-slide.slider-style-1 .hero-real-estate.content p{
        padding: 0;
    }
    .travel-offer-form {
        flex-wrap: wrap;
    }
    .travel-offer-form .single-form {
        width: 26.6666%;
        margin-bottom: 20px;
    }
    .rl-projet .thumb img {
        width: 100%;
    }
    .section-feature-real.separator::before{
        width: 100%;
    }
    .reapir-about-area .thumb {
        margin-bottom: 30px;
    }
    .reapir-choose-inner {
        margin-bottom: 40px;
    }
    .welcome-inner {
        margin-bottom: 30px;
    }
    .section-title--16 p{
        padding: 0 15%;
    }
    .res-tab-wrapper.separator::before{
        display: none;
    }
    .md-mt-30{
        margin-top: 30px;
    }
    .section-title--15 p{
        padding: 0;
    }
    .ht-tab-nab.travel-tab a{
        font-size: 15px;
    }
    .testimonial-style-8 {
        padding: 0;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline--3 .vertical-time .vertical-date span{
        left: 91%;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline--3.vertical-reverse .vertical-time .vertical-date span {
        right: 91%;
    }
    .section-title--19 p{
        padding: 0 9%;
    }
    .section-title--12 p {
        padding: 0 17%;
    }
    .ht-slide.slider-style-1 .hero-carpenter.content p {
        margin-bottom: 29px;
        padding: 0 14%;
    }
    .section-title--6 p {
        padding: 0 10%;
    }
    .ht-slide.slider-style-1 .hero-software.content h1 {
        font-size: 26px;
    }
    .ht-slide.slider-style-2 .hero-charity.content p {
        padding: 0 47px;
    }
    .pricing-panel-6.space-left-right {
        margin-right: 0;
        margin-left: 0;
    }



}



@media #{$sm-layout}{
    .section-title--4 h2 {
        font-size: 20px;
        padding: 0 56px;
    }
    .section-title--4 h2::before,
    .section-title--4 h2::after{
        width: 50px;
    }
    .corporate-feature .thumb {
        position: relative;
        right: 3%;
        bottom: 53px;

    }
    .testimonial-style-3 {
        margin-top: 30px;
    }
    .progress_wrapper {
        margin-bottom: 30px;
    }
    .education-register-content .content h2 {
        font-size: 36px;
    }
    .ht-slide.slider-style-3 .content h1 {
        font-size: 39px;
    }
    .ht-slide.slider-style-1 .hero-event.content h1 {
        font-size: 24px;
    }
    .ht-slide.slider-style-1 .hero-event.content .slide-btn a.cln-btn{
        padding: 0 23px;
    }
    .domain-form{
        text-align: center;
    }
    .domain-form button{
        margin-top: 30px;
    }
    .section-title--18 h2{
        font-size: 28px;
    }
    .section-title--18 p{
        padding: 0;
    }
    .medical-tab-content .thumb img {
        width: 100%;
    }
    .medical-tab-content .content {
        margin-top: 30px;
    }

    .service-6.medical-service {
        padding: 39px 15px;
    }

    .service-6.medical-service .content h4 {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .section-title--6 p {
        padding: 0;
    }
    .campaingn-view .thumb img {
        width: 100%;
    }
    .section-title--10 p{
        padding: 0;
    }

    .section-title--10 h2{
        font-size: 29px;
    }
    .campaingn-view .thumb .hover-action{
        padding: 10px;
    }
    .campaingn-view .thumb .hover-action .content {
        padding: 13px 16px;
    }
    .campainlist-wrapper ul.campaingn-list li{
        display: block;
    }
    .campainlist-wrapper ul.campaingn-list li .thumb img{
        width: 100%;
    }
    .campainlist-wrapper ul.campaingn-list li .content {
        padding-left: 0;
        margin-top: 20px;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline .vertical-time .vertical-date span {
        right: 0;
    }

    .htc-verctimeline-wrapper .ht-ver-timeline.political-timeline .vertical-time .vertical-date {
        right: 36px;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline.vertical-reverse .vertical-time .vertical-date {
        margin-left: 43px;
    }

    .ht-slide.slider-style-2 .hero-political.content .slide-btn a.cln-btn{
        margin-bottom: 10px;
    }
    .portfolio-aboutme .thumb img {
        width: 100%;
    }
    .portfolio-aboutme .thumb::before{
        display: none;
    }
    .portfolio-aboutme .thumb {
        display: block;
        margin-bottom: 27px;
    }
    .ht-slide.slider-style-1 .hero-portfolio.content h1 {
        margin-top: 0;
        margin-bottom: 13px;
    }
    .portfolio-header .mean-container a.meanmenu-reveal span{
        background: #000;
    }
    .portfolio-header .mean-container a.meanmenu-reveal{
        color: #000;
    }
    .travel-offer-form {
        flex-wrap: wrap;
    }
    .travel-offer-form .single-form {
        width: 26.6666%;
        margin-bottom: 20px;
    }
    .rl-projet .thumb ul.rl-wish{
        bottom: 24px;
        right: 17px;
    }
    .rl-projet .thumb ul.rl-wish li {
        margin: 0 2px;
    }
    .rl-projet .thumb img {
        width: 100%;
    }
    .ht-tab-nab-3 a {
        margin-bottom: 10px;
    }

    .section-title--17 p{
        padding: 0;
    }
    .section-title--17 h2{
        font-size: 30px;
    }
    .rl-projet .content-inner ul.rl-feature li{
        font-size: 12px;
    }
    .section-feature-real.separator::before{
        width: 100%;
    }
    .section-title--17.text-left p {
        padding: 0;
    }
    .real-estate-video h2{
        font-size: 24px;
    }
    .reapir-about-area .thumb {
        margin-bottom: 30px;
    }
    .reapir-choose-inner {
        margin-bottom: 40px;
    }
    .ht-slide.slider-style-2 .hero-repair.content h1,
    .ht-slide.slider-style-2 .hero-repair.content h2{
        line-height: 47px !important;
    }

    .service-6.reapir-service .content {
        text-align: left;
    }

    .section-title--9 h2 {
        font-size: 28px;
    }

    .repair-request-form .ct-title-2 {
        padding-left: 0;
    }
    .contact_form_container.repair-request-form .ct-title-2 h2 {
        font-size: 23px;
    }
    .welcome-inner {
        margin-bottom: 30px;
    }
    .section-title--16 p{
        padding: 0;
    }
    .res-tab-wrapper.separator::before{
        display: none;
    }
    .sm-mt-30{
        margin-top: 30px;
    }
    .ht-slide.slider-style-1 .hero-resturant.content p {
        font-size: 14px;
        line-height: 25px;
        padding: 0;
    }
    .ht-slide.slider-style-1 .hero-resturant.content h1 {
        font-size: 25px;
    }
    .ht-slide.slider-style-1 .hero-resturant.content h2{
        font-size: 41px;
    }
    .section-title--15 p{
        padding: 0;
    }

    .software-slide-thumb{
        display: none;
    }
    .ht-slide.slider-style-1 .hero-travel.content p{
        padding: 0;
    }
    .section-title--11 p{
        padding: 0;
    }
    .section-title--11 h2{
        font-size: 21px;
    }
    .countdown_wrapper.travel-countdown .content > span{
        font-size: 48px;
    }
    .countdown_wrapper.travel-countdown .content h2{
        font-size: 20px;
        line-height: 32px;
    }
    .testimonial-style-8 {
        padding: 0;
    }

    .htc-verctimeline-wrapper .ht-ver-timeline .vertical-time .vertical-date{
        left: -30px;
    }

    .htc-verctimeline-wrapper .ht-ver-timeline--3{
        display: block;
        margin-bottom: 33px;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline--3::before ,
    .process-wrapper .ht-process-3 .thumb::before{
        display: none;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline--3 .vertical-time{
        width: 100%;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline--3 .timeline-content {
        padding-left: 0;
        text-align: center;
        width: 100%;
        top: -139px;
    }

    .htc-verctimeline-wrapper .ht-ver-timeline--3 .vertical-date {
        display: none;
    }
    .htc-verctimeline-wrapper .ht-ver-timeline--3.vertical-reverse .timeline-content {
        padding-right: 0;
        text-align: center;
        padding-left: 0;
    }

    .process-wrapper .ht-process-3 .thumb {
        padding: 0;
    }
    .service-7 {
        padding: 40px 49px;
    }
    .ht-slide.slider-style-2 .hero-agency.content p {
        font-size: 14px;
        line-height: 26px;
        padding-right: 0;
    }
    .ht-slide.slider-style-2 .hero-agency.content h1 {
        font-size: 29px;
    }
    .ht-slide.slider-style-2 .hero-agency.content h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .ht-slide.slider-style-2 .hero-beauty-salon.content h2 {
        font-size: 36px;
    }
    .ht-slide.slider-style-2 .hero-beauty-salon.content p {
        padding: 0;
    }
    .ht-slide.slider-style-2 .hero-body.content p {
        padding: 0;
    }
    .ht-slide.slider-style-1 .hero-carpenter.content p {
        font-size: 16px;
        margin-bottom: 29px;
        line-height: 28px;
        padding: 0;
    }
    .ht-slide.slider-style-2 .hero-charity.content p{
        margin-bottom: 12px;
    }
    .ht-slide.slider-style-2 .hero-charity.content h1{
        margin-bottom: 17px;
    }
    .ht-slide.slider-style-1 .content h1 {
        font-size: 28px;
    }
    .ht-slide.slider-style-1 .content h2 {
        font-size: 30px;
        margin-bottom: 19px;
    }
    .header.header-1 .cleaning-btn,
    .header.header-1 .header-btn {
        margin-left: 0;
    }
    .ht-slide.slider-style-2 .hero-political.content h1 {
        font-size: 29px;
    }
    .ht-slide.slider-style-1 .hero-real-estate.content p {
        font-size: 15px;
        margin-bottom: 22px;
        line-height: 28px;
        padding: 0;
    }
    .ht-slide.slider-style-2 .hero-repair.content p{
        margin-bottom: 22px;
    }
    .ht-slide.slider-style-1 .hero-software.content p{
        padding: 0;
    }
    .ht-slide.slider-style-1 .hero-software.content h1 {
        font-size: 28px;
    }
    .travel-offer-form .single-form {
        width: 37.6666%;
    }
    .res-popular-desases .content {
        padding: 36px 14px;
    }
    .res-popular-desases .content h2 {
        font-size: 20px;
    }
    .section-title--16.text-left p {
        padding: 0;
    }
    .pp-tour .thumb a img {
        width: 100%;
    }
    .service-7 {
        padding: 40px 6px;
    }
    .corporate-feature .content h2 {
        font-size: 22px;
        line-height: 37px;
    }
    .corporate-feature .content ul {
        display: block;
    }
    .corporate-feature .content ul li {
        margin-bottom: 20px;
    }
    .ht-slide.slider-style-2 .hero-medical.content h2{
        margin-bottom: 24px;
    }
    .ht-slide.slider-style-2 .hero-medical.content {
        padding-top: 0;
    }
    .service-6.medical-service .content {
        text-align: left;
    }
    .ht-tab-nab-3 a {
        padding: 0 6px;
    }
    .section-title--17 h2 {
        font-size: 22px;
    }





}

@media #{$large-mobile}{
    .ht-slide.slider-style-1 .hero-hosting.content h1 {
        font-size: 24px;
    }
    .ht-slide.slider-style-1 .hero-hosting.content p {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: inherit;
        padding: 0;
    }
    .travel-offer-form .single-form {
        width: 73.6666%;
    }
    .service-7 {
        padding: 40px 0;
    }
    .ht-slide.slider-style-2 .hero-charity.content .slide-btn a.cln-btn{
        margin-top: 11px;
    }
    .beauty-welcome-inner .content h2 {
        font-size: 28px;
    }
    .section-title--19 h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .construction-gallery-menu button {
        margin-bottom: 10px;
    }
    .ht-slide.slider-style-1 .hero-carpenter.content h1 {
        font-size: 26px;
    }
    .ht-slide.slider-style-2 .hero-charity.content h1 {
        font-size: 28px;
    }
    .donation-wrapper .content .single-type {
        flex-wrap: wrap;
    }
    .section-title--13 h2 {
        font-size: 28px;
        margin-bottom: 14px;
    }
    .single-post-slide.post-slider-default.education-blog .content .post-inner {
        text-align: center;
    }
    .single-post-slide ul.meta {
        justify-content: center;
    }
    .single-post-slide.post-slider-default {
        padding: 206px 0;
    }
    .call-to-action-4.event-call-to-action .content h2 {
        font-size: 32px;
        margin-bottom: 27px;
    }
    .call-to-action-4.event-call-to-action .content p {
        padding: 0;
    }
    .section-title--7 h2{
        font-size: 34px;
    }
    .follow-me .social-transparent a{
        width: 36px;
    }
    .post-carousel-4 .ptc-content .content ul.meta li{
        font-size: 12px;
    }
    .reapir-about-area .content .address {
        display: block;
    }
    .reapir-about-area .content .address p + p {
        margin-left: 0;
        margin-top: 17px;
    }
    .call-to-action-default.reapair-call-to-action .content p {
        font-size: 21px;
        line-height: 36px;
        margin-bottom: 14px;
    }
    .call-to-action-default.reapair-call-to-action .content h1 {
        font-size: 35px;
    }
    .section-title--15 h2 {
        font-size: 26px;
    }

    .st-benft-inner .content h2 {
        font-size: 28px;
        padding-right: 0;
    }
    .testimonial-style-5.testimonial-slider-2 .testimonial-for .testimonial-desc {
        padding: 40px 20px;
    }




}












