/* =======================
    SOftware Css 
=========================*/



/* =======================
Software Benifts Area 
===========================*/

.st-benft-inner{
    .content {
        h2{
            color: #18012c;
            font-size: 36px;
            font-weight: 600;
            padding-right: 19%;
            margin-bottom: 20px;
            span{
                color: #0696ff;
            }
        }
        p{
            color: #666666;
            line-height: 27px;
        }
        ul{
            &.benifits-list{
                list-style: none;
                padding: 0;
                margin: 0;
                margin-top: 40px;
                li {
                    color: #666666;
                    line-height: 24px;
                    transition: 0.3s;
                    padding-bottom: 11px;
                    &:hover{
                        color: #0696ff;
                    }
                    i{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}




.testimonial-style-5.st-software.testimonial-slider-2 .slick-slide.slick-active.slick-center .testimonal-img img {
    transform: scale(1.2);
    border: 2px solid #0696ff;
}



.pricing-panel-4.active.st-active {
    background-color: #0696ff;
}

.copyright.copyright-4.st-copyright .content p{
    color: #ffffff;
}



















