{% load static %}
<!-- START SCRIPTS -->
<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>


<script type="text/javascript" src="{% static 'js/app-landing.js'%}"></script>
<!-- END SCRIPTS -->