{% load static i18n compress %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="">
        <meta name="keywords" content="Gecko, Django Template">
        <meta name="author" content="Xiberty <info@xiberty.com>">

        {% include "partials/meta_tags.html" %}

        <title>{% block title %}{% endblock %} | Gecko</title>

        <!-- Load fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

{#        {% compress css %}#}
            <link href="{% static 'landing/css/main.css' %}" rel="stylesheet">
{#        {% endcompress %}#}
        {% block styles %}{% endblock %}
    </head>


    <body class="landing">

        {% block content %}

        {% endblock %}

{#        {% compress js %}#}
            <!-- Scripts -->
			<script src="{% static 'landing/js/jquery.min.js' %}"></script>
			<script src="{% static 'landing/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'landing/js/jquery.scrollgress.min.js' %}"></script>
			<script src="{% static 'landing/js/skel.min.js' %}"></script>
			<script src="{% static 'landing/js/util.js' %}"></script>

			<script src="{% static 'landing/js/main.js' %}"></script>

{#        {% endcompress %}#}
        {% block scripts %}{% endblock %}
    </body>

</html>
